XSDtoGo/xsd/acmt.006.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Jan 20 12:00:35, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.006.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.006.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptedStatusReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcceptedStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcceptedStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="SECT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Account23">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAcctDtls" type="GenericIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountManagementStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="EXEC"/>
            <xs:enumeration value="STNP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AccountManagementStatusAndReason5">
        <xs:sequence>
            <xs:element name="Sts" type="Status25Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsRsn" type="AcceptedStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctApplId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ExstgAcctId" type="Account23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSts" type="AccountStatus2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdSts" type="BlockedStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FATCARptgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CRSRptgDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountManagementStatusReportV07">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="2" minOccurs="1" name="RltdRef" type="AdditionalReference13"/>
            <xs:element name="StsRpt" type="AccountManagementStatusAndReason5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountStatus2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nbld" type="EnabledStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsbld" type="DisabledStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pdg" type="PendingStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdgOpng" type="PendingOpeningStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Profrm" type="ProformaStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clsd" type="ClosedStatusReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrPdg" type="ClosurePendingStatusReason1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherAccountStatus1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference13">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification125Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockedReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="BlockedReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BlockedReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BKRP"/>
            <xs:enumeration value="CMMT"/>
            <xs:enumeration value="CNFS"/>
            <xs:enumeration value="MORT"/>
            <xs:enumeration value="PCOM"/>
            <xs:enumeration value="PLDG"/>
            <xs:enumeration value="TRPE"/>
            <xs:enumeration value="SANC"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockedStatusReason2">
        <xs:sequence>
            <xs:element name="TxTp" type="TransactionType5Choice"/>
            <xs:element name="Blckd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="BlockedReason2Choice"/>
            <xs:element name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BlockedStatusReason2Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="BlockedStatusReason2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClosedStatusReason1">
        <xs:sequence>
            <xs:element name="Cd" type="ClosedStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClosedStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="ClosedStatusReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ClosedStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASIN"/>
            <xs:enumeration value="CLIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClosedStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ClosedStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClosurePendingStatusReason1">
        <xs:sequence>
            <xs:element name="Cd" type="ClosurePendingStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClosurePendingStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="ClosurePendingStatusReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ClosurePendingStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="PEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClosurePendingStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ClosurePendingStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DisabledReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="BKRP"/>
            <xs:enumeration value="CMMT"/>
            <xs:enumeration value="CNFS"/>
            <xs:enumeration value="MORT"/>
            <xs:enumeration value="PCOM"/>
            <xs:enumeration value="PLDG"/>
            <xs:enumeration value="TRPE"/>
            <xs:enumeration value="SANC"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="REJT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DisabledStatusReason1">
        <xs:sequence>
            <xs:element name="Cd" type="DisabledStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisabledStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DisabledStatusReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DisabledStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="DisabledReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctMgmtStsRpt" type="AccountManagementStatusReportV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnabledStatusReason1">
        <xs:sequence>
            <xs:element name="Cd" type="EnabledStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnabledStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="EnabledStatusReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EnabledStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MODI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnabledStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="EnabledStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SWIO"/>
            <xs:enumeration value="TRIN"/>
            <xs:enumeration value="TOUT"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="CDEP"/>
            <xs:enumeration value="CWIT"/>
            <xs:enumeration value="DIVP"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CROI"/>
            <xs:enumeration value="CROO"/>
            <xs:enumeration value="DIVI"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REAA"/>
            <xs:enumeration value="RWPL"/>
            <xs:enumeration value="RDIV"/>
            <xs:enumeration value="SSPL"/>
            <xs:enumeration value="SUAA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherAccountStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="GenericIdentification36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification36"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification125Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingOpeningStatusReason1">
        <xs:sequence>
            <xs:element name="Cd" type="PendingOpeningStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingOpeningStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingOpeningStatusReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingOpeningStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATHR"/>
            <xs:enumeration value="ATHP"/>
            <xs:enumeration value="FRDM"/>
            <xs:enumeration value="KYCM"/>
            <xs:enumeration value="NOTO"/>
            <xs:enumeration value="REST"/>
            <xs:enumeration value="RIGH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingOpeningStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingOpeningStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatusReason14">
        <xs:sequence>
            <xs:element name="Cd" type="PendingStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingStatusReason14"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KYCM"/>
            <xs:enumeration value="FRDM"/>
            <xs:enumeration value="RIGH"/>
            <xs:enumeration value="ATHR"/>
            <xs:enumeration value="ATHP"/>
            <xs:enumeration value="MODI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProformaStatusReason1">
        <xs:sequence>
            <xs:element name="Cd" type="ProformaStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProformaStatusReason1Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="ProformaStatusReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProformaStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="RIGH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProformaStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProformaStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason16Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectedStatusReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectedStatusReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="NSLA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason31">
        <xs:sequence>
            <xs:element name="Rsn" type="RejectedReason16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Status25Choice">
        <xs:choice>
            <xs:element name="Sts" type="AccountManagementStatus1Code"/>
            <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectionReason31"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundTransactionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
