XSDtoGo/xsd/auth.084.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2021 Sep 22 11:43:43, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.084.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.084.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AgreementType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max50Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedReportStatistics5">
        <xs:sequence>
            <xs:element name="TtlNbOfRpts" type="Max15NumericText"/>
            <xs:element name="TtlNbOfRptsAccptd" type="Max15NumericText"/>
            <xs:element name="TtlNbOfRptsRjctd" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfRptsRjctdPerErr" type="NumberOfTransactionsPerValidationRule5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics13">
        <xs:sequence>
            <xs:element name="TtlNbOfTxs" type="Max15NumericText"/>
            <xs:element name="TtlNbOfTxsAccptd" type="Max15NumericText"/>
            <xs:element name="TtlNbOfTxsRjctd" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxsRjctnsRsn" type="RejectionReason53"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics2Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="DtldSttstcs" type="DetailedTransactionStatistics13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgTxStsAdvc" type="SecuritiesFinancingReportingTransactionStatusAdviceV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MasterAgreement7">
        <xs:sequence>
            <xs:element name="Tp" type="AgreementType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfTransactionsPerValidationRule5">
        <xs:sequence>
            <xs:element name="DtldNb" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptSts" type="RejectionReason45"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification236Choice">
        <xs:choice>
            <xs:element name="Lgl" type="OrganisationIdentification15Choice"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason45">
        <xs:sequence>
            <xs:element name="MsgRptId" type="Max140Text"/>
            <xs:element name="Sts" type="ReportingMessageStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason53">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentification3Choice"/>
            <xs:element name="Sts" type="ReportingMessageStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportingMessageStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RMDR"/>
            <xs:enumeration value="WARN"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="CRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesFinancingReportingTransactionStatusAdviceV02">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxRptStsAndRsn" type="TradeData35Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData29">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptSttstcs" type="DetailedReportStatistics5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxSttstcs" type="DetailedTransactionStatistics2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData35Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="TradeData29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element name="OthrCtrPty" type="PartyIdentification236Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflId" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element name="RptSubmitgNtty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element name="OthrCtrPty" type="PartyIdentification236Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtLndr" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="OrganisationIdentification15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification3Choice">
        <xs:choice>
            <xs:element name="Tx" type="TradeTransactionIdentification20"/>
            <xs:element name="MrgnRptg" type="TradeTransactionIdentification16"/>
            <xs:element name="CollReuse" type="TradeTransactionIdentification17"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
