XSDtoGo/xsd/auth.071.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2021 Sep 22 11:43:43, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.071.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.071.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection53">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashReuseData1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RinvstdCsh" type="ReinvestedCashTypeAndAmount1"/>
            <xs:element name="CshRinvstmtRate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralType19">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Scty" type="SecurityReuseData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Csh" type="CashReuseData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyData87">
        <xs:sequence>
            <xs:element name="RptSubmitgNtty" type="OrganisationIdentification15Choice"/>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgTxReusdCollDataRpt" type="SecuritiesFinancingReportingTransactionReusedCollateralDataReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundingSource3">
        <xs:sequence>
            <xs:element name="Tp" type="FundingSourceType1Code"/>
            <xs:element name="MktVal" type="AmountAndDirection53"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FundingSourceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SECL"/>
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="BSHS"/>
            <xs:enumeration value="CSHS"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="UBOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="ReinvestedCashTypeAndAmount1">
        <xs:sequence>
            <xs:element name="Tp" type="ReinvestmentType1Code"/>
            <xs:element name="RinvstdCshAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReinvestmentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OCMP"/>
            <xs:enumeration value="MMFT"/>
            <xs:enumeration value="REPM"/>
            <xs:enumeration value="SDPU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReuseDataReport6Choice">
        <xs:choice>
            <xs:element name="New" type="ReuseDataReportNew6"/>
            <xs:element name="Err" type="ReuseDataReportError5"/>
            <xs:element name="Crrctn" type="ReuseDataReportCorrection14"/>
            <xs:element name="CollReuseUpd" type="ReuseDataReportCorrection14"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReuseDataReportCorrection14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="CtrPty" type="CounterpartyData87"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollCmpnt" type="CollateralType19"/>
            <xs:element name="EvtDay" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FndgSrc" type="FundingSource3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReuseDataReportError5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="CtrPty" type="CounterpartyData87"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReuseDataReportNew6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="CtrPty" type="CounterpartyData87"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollCmpnt" type="CollateralType19"/>
            <xs:element name="EvtDay" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FndgSrc" type="FundingSource3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReuseValue1Choice">
        <xs:choice>
            <xs:element name="Actl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="Estmtd" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingReportingTransactionReusedCollateralDataReportV02">
        <xs:sequence>
            <xs:element name="TradData" type="TradeData36Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityReuseData1">
        <xs:sequence>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="ReuseVal" type="ReuseValue1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData36Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="ReuseDataReport6Choice"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
