XSDtoGo/xsd/auth.058.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.058.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.058.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection102">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCPPortfolioStressTestingResultReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ScnroStrssTstRslt" type="ScenarioStressTestResult1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPPrtflStrssTstgRsltRpt" type="CCPPortfolioStressTestingResultReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification165">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="SchemeIdentificationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification168">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PortfolioStressTestResult1">
        <xs:sequence>
            <xs:element name="PrtflId" type="GenericIdentification165"/>
            <xs:element name="StrssLoss" type="AmountAndDirection102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RawStrssLoss" type="AmountAndDirection102"/>
            <xs:element name="Cover1Flg" type="TrueFalseIndicator"/>
            <xs:element name="Cover2Flg" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ScenarioStressTestResult1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification168"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PrtflStrssTstRslt" type="PortfolioStressTestResult1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SchemeIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="POSI"/>
            <xs:enumeration value="CLIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
