XSDtoGo/xsd/auth.060.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.060.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.060.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection102">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection86">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCPDailyCashFlowsReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CncntrtnAgt" type="ConcentrationAgent1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SttlmAgt" type="SettlementAgent1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConcentrationAccount1">
        <xs:sequence>
            <xs:element name="InFlow" type="Flows1"/>
            <xs:element name="OutFlow" type="Flows1"/>
            <xs:element name="EndOfDay" type="AmountAndDirection102"/>
            <xs:element name="PeakCdt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="PeakDbt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="LatePmtConf" type="Max10NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConcentrationAgent1">
        <xs:sequence>
            <xs:element name="Id" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Acct" type="ConcentrationAccount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPDalyCshFlowsRpt" type="CCPDailyCashFlowsReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Flows1">
        <xs:sequence>
            <xs:element name="PmtBkFlows" type="AmountAndDirection102"/>
            <xs:element name="InvstmtFlows" type="AmountAndDirection102"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentAccount1">
        <xs:sequence>
            <xs:element name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="NetPmt" type="AmountAndDirection86"/>
            <xs:element name="LatePmtConf" type="Max10NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SettlementAgent1">
        <xs:sequence>
            <xs:element name="Id" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Acct" type="PaymentAccount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
