XSDtoGo/xsd/auth.090.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 10 16:02:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.090.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.090.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd20Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd20Amount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd20Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenchmarkCurveName3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ESTR"/>
            <xs:enumeration value="BBSW"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="SOFR"/>
            <xs:enumeration value="SONA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralisationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLCL"/>
            <xs:enumeration value="OWCL"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="UNCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Counterparty26">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySd" type="OptionParty1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty29">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature5Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FI" type="FinancialPartySectorType1Code"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector2"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DebtInstrumentSeniorityType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBOD"/>
            <xs:enumeration value="SNDB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativesTradePositionSetReportV01">
        <xs:sequence>
            <xs:element name="AggtdPos" type="PositionSetAggregated1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradPosSetRpt" type="DerivativesTradePositionSetReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1">
        <xs:sequence>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1Choice">
        <xs:choice>
            <xs:element name="CcyPair" type="ExchangeRateBasis1"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialInstrumentContractType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="FRAS"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="SPDB"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialPartySectorType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="ASSU"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISORestrictedYear">
        <xs:restriction base="xs:gYear">
            <xs:minInclusive value="1900"/>
            <xs:maxInclusive value="2099"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MasterAgreement2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="ISORestrictedYear"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaturityTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NACEDomainIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonFinancialInstitutionSector2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="NACEDomainIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification7Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification8Choice">
        <xs:choice>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification9Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PositionSet4">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetCollateralDimensions2"/>
            <xs:element name="Mtrcs" type="PositionSetCollateralMetrics1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet5">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions3"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetAggregated1Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="PositionSetAggregated3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PositionSetAggregated3">
        <xs:sequence>
            <xs:element name="RefDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PosSet" type="PositionSet5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CcyPosSet" type="PositionSet5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollPosSet" type="PositionSet4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CcyCollPosSet" type="PositionSet4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetBuyerAndSeller1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="PositionSetTotal1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="PositionSetTotal1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetCollateralDimensions2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyId" type="TradeCounterpartyReport9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Collstn" type="CollateralisationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtfl" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvdCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetCollateralMetrics1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ttl" type="PositionSetCollateralTotal1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clean" type="PositionSetCollateralTotal1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetCollateralTotal1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfRpts" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgn" type="PositionSetPostedAndReceived1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgn" type="PositionSetPostedAndReceived1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCsh" type="PositionSetPostedAndReceived1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetDimensions3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyId" type="TradeCounterpartyReport9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Collstn" type="CollateralisationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtfl" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="FinancialInstrumentContractType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstClss" type="ProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrm" type="SecurityIdentification34Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLegNtnlCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLegNtnlCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrblCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrblCrossCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSts" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntraGrp" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateBsis" type="ExchangeRateBasis1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmToMtrty" type="TimeToMaturity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IRSTp" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Snrty" type="DebtInstrumentSeniorityType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trch" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ttl" type="PositionSetBuyerAndSeller1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clean" type="PositionSetBuyerAndSeller1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetPostedAndReceived1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pstd" type="ActiveOrHistoricCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvd" type="ActiveOrHistoricCurrencyAnd20Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetTotal1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfTrds" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Postv" type="PositionSetValueAndNotional1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Neg" type="PositionSetValueAndNotional1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetValueAndNotional1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntnl" type="ActiveOrHistoricCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="ActiveOrHistoricCurrencyAnd20Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification18Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification34Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="UnqPdctIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BsktCnsttnts" type="SecurityIdentification18Choice"/>
            <xs:element name="Indx" type="SecurityIdentification35Choice"/>
            <xs:element name="IdNotAvlbl" type="UnderlyingIdentification1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification35Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element name="Indx" type="BenchmarkCurveName3Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SpecialPurpose2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="NTAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeToMaturity1Choice">
        <xs:choice>
            <xs:element name="Prd" type="TimeToMaturityPeriod1"/>
            <xs:element name="Spcl" type="SpecialPurpose2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeToMaturityPeriod1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Start" type="MaturityTerm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="End" type="MaturityTerm2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport9">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty26"/>
            <xs:element name="OthrCtrPty" type="Counterparty29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="BSKT"/>
            <xs:enumeration value="INDX"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
