XSDtoGo/xsd/auth.016.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 May 14 18:26:02, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.016.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.016.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection53">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection61">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassAttributes1">
        <xs:sequence>
            <xs:element name="Intrst" type="DerivativeInterest2"/>
            <xs:element name="FX" type="DerivativeForeignExchange2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassAttributes1Choice">
        <xs:choice>
            <xs:element name="Intrst" type="DerivativeInterest2"/>
            <xs:element name="FX" type="DerivativeForeignExchange2"/>
            <xs:element name="Both" type="AssetClassAttributes1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BasketDescription4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ISIN" type="ISIN2021Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Indx" type="FinancialInstrument98"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BenchmarkCurveName2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BBSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurveName5Choice">
        <xs:choice>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancelledStatusReason15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CSUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DebtInstrument4">
        <xs:sequence>
            <xs:element name="MtrtyDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativeForeignExchange2">
        <xs:sequence>
            <xs:element name="OthrNtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeInstrument9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element name="PricMltplr" type="NonNegativeDecimalNumber"/>
            <xs:element name="UndrlygInstrm" type="UnderlyingIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="SecuritiesTransactionPrice4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnExrcStyle" type="OptionStyle7Code"/>
            <xs:element name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstClssSpcfcAttrbts" type="AssetClassAttributes1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeInterest2">
        <xs:sequence>
            <xs:element name="OthrNtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgTxRpt" type="FinancialInstrumentReportingTransactionReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExecutingParty1Choice">
        <xs:choice>
            <xs:element name="Prsn" type="PersonIdentification12"/>
            <xs:element name="Algo" type="Max50Text"/>
            <xs:element name="Clnt" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExternalAuthorityExchangeReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrument98">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISIN2021Identifier"/>
            <xs:element name="Nm" type="FloatingInterestRate8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes4Choice">
        <xs:choice>
            <xs:element name="Id" type="ISIN2021Identifier"/>
            <xs:element name="Othr" type="SecurityInstrumentDescription19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentIdentification8Choice">
        <xs:choice>
            <xs:element name="Sngl" type="FinancialInstrumentIdentification9Choice"/>
            <xs:element name="Bskt" type="BasketDescription4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentIdentification9Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISIN2021Identifier"/>
            <xs:element name="Indx" type="FinancialInstrument98"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity25Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="NmnlVal" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="MntryVal" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentReportingTransactionReportV02">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Tx" type="ReportingTransactionType2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate8">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Term" type="InterestRateContractTerm2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISIN2021Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestRateContractTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InternalPartyRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentParty1Choice">
        <xs:choice>
            <xs:element name="Prsn" type="PersonIdentification12"/>
            <xs:element name="Algo" type="Max50Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="EURO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification76">
        <xs:sequence>
            <xs:element name="Id" type="PersonOrOrganisation1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBrnch" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification79">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctOwnr" type="PartyIdentification76"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DcsnMakr" type="PersonOrOrganisation2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification10">
        <xs:sequence>
            <xs:element name="FrstNm" type="Max140Text"/>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification12">
        <xs:sequence>
            <xs:element name="CtryOfBrnch" type="CountryCode"/>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonOrOrganisation1Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="MIC" type="MICIdentifier"/>
            <xs:element name="Prsn" type="PersonIdentification10"/>
            <xs:element name="Intl" type="InternalPartyRole1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonOrOrganisation2Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Prsn" type="PersonIdentification10"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhysicalTransferType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="OPTL"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RecordTechnicalData2">
        <xs:sequence>
            <xs:element name="RctDtTm" type="ISODateTime"/>
            <xs:element name="CxlRsn" type="CancelledStatusReason15Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RecordTechnicalData5">
        <xs:sequence>
            <xs:element name="RctDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="XchgRsn" type="ExternalAuthorityExchangeReason1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RegulatoryTradingCapacity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MTCH"/>
            <xs:enumeration value="DEAL"/>
            <xs:enumeration value="AOTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportingTransactionType2Choice">
        <xs:choice>
            <xs:element name="New" type="SecuritiesTransactionReport6"/>
            <xs:element name="Cxl" type="SecuritiesTransactionReport2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReportingWaiverType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OILQ"/>
            <xs:enumeration value="NLIQ"/>
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="ILQD"/>
            <xs:enumeration value="RFPT"/>
            <xs:enumeration value="SIZE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportingWaiverType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BENC"/>
            <xs:enumeration value="ACTX"/>
            <xs:enumeration value="ILQD"/>
            <xs:enumeration value="SIZE"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="AMND"/>
            <xs:enumeration value="SDIV"/>
            <xs:enumeration value="RPRI"/>
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="LRGS"/>
            <xs:enumeration value="TNCP"/>
            <xs:enumeration value="TPAC"/>
            <xs:enumeration value="XFPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransaction1">
        <xs:sequence>
            <xs:element name="TradDt" type="ISODateTime"/>
            <xs:element name="TradgCpcty" type="RegulatoryTradingCapacity1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivNtnlChng" type="VariationType1Code"/>
            <xs:element name="Pric" type="SecuritiesTransactionPrice4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="TradVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBrnch" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpFrntPmt" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPlcMtchgId" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplxTradCmpntId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionIndicator2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WvrInd" type="ReportingWaiverType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtSellgInd" type="Side5Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OTCPstTradInd" type="ReportingWaiverType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskRdcgTx" type="TrueFalseIndicator"/>
            <xs:element name="SctiesFincgTxInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice1">
        <xs:sequence>
            <xs:element name="Pdg" type="PriceStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice2Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection61"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice4Choice">
        <xs:choice>
            <xs:element name="Pric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element name="NoPric" type="SecuritiesTransactionPrice1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionReport2">
        <xs:sequence>
            <xs:element name="TxId" type="Max52Text"/>
            <xs:element name="ExctgPty" type="LEIIdentifier"/>
            <xs:element name="SubmitgPty" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="RecordTechnicalData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionReport6">
        <xs:sequence>
            <xs:element name="TxId" type="Max52Text"/>
            <xs:element name="ExctgPty" type="LEIIdentifier"/>
            <xs:element name="InvstmtPtyInd" type="TrueFalseIndicator"/>
            <xs:element name="SubmitgPty" type="LEIIdentifier"/>
            <xs:element name="Buyr" type="PartyIdentification79"/>
            <xs:element name="Sellr" type="PartyIdentification79"/>
            <xs:element name="OrdrTrnsmssn" type="SecuritiesTransactionTransmission2"/>
            <xs:element name="Tx" type="SecuritiesTransaction1"/>
            <xs:element name="FinInstrm" type="FinancialInstrumentAttributes4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtDcsnPrsn" type="InvestmentParty1Choice"/>
            <xs:element name="ExctgPrsn" type="ExecutingParty1Choice"/>
            <xs:element name="AddtlAttrbts" type="SecuritiesTransactionIndicator2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="RecordTechnicalData5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionTransmission2">
        <xs:sequence>
            <xs:element name="TrnsmssnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmttgBuyr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmttgSellr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityInstrumentDescription19">
        <xs:sequence>
            <xs:element name="FinInstrmGnlAttrbts" type="SecurityInstrumentDescription20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DebtInstrmAttrbts" type="DebtInstrument4"/>
            <xs:element name="DerivInstrmAttrbts" type="DerivativeInstrument9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityInstrumentDescription20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ISIN2021Identifier"/>
            <xs:element name="FullNm" type="Max350Text"/>
            <xs:element name="ClssfctnTp" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Side5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SESH"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="SSEX"/>
            <xs:enumeration value="UNDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SwapLegIdentification3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SwpIn" type="FinancialInstrumentIdentification8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwpOut" type="FinancialInstrumentIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="UnderlyingIdentification3Choice">
        <xs:choice>
            <xs:element name="Swp" type="SwapLegIdentification3"/>
            <xs:element name="Othr" type="FinancialInstrumentIdentification8Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="VariationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="INCR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
