XSDtoGo/xsd/auth.033.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.14) on 2018 Jun 12 15:28:04, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.033.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.033.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DLVR"/>
            <xs:enumeration value="NDLV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenchmarkCurveName2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BBSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurveName5Choice">
        <xs:choice>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BondDerivative2">
        <xs:sequence>
            <xs:element name="Issr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssncDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BondType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSB"/>
            <xs:enumeration value="OEPB"/>
            <xs:enumeration value="CVTB"/>
            <xs:enumeration value="CRPB"/>
            <xs:enumeration value="CVDB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CommodityDerivative2Choice">
        <xs:choice>
            <xs:element name="Frght" type="CommodityDerivative5"/>
            <xs:element name="Nrgy" type="CommodityDerivative6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CommodityDerivative4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssSpcfc" type="CommodityDerivative2Choice"/>
            <xs:element name="NtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommodityDerivative5">
        <xs:sequence>
            <xs:element name="Sz" type="Max25Text"/>
            <xs:element name="AvrgTmChrtr" type="Max25Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommodityDerivative6">
        <xs:sequence>
            <xs:element name="SttlmLctn" type="Max25Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractForDifference2">
        <xs:sequence>
            <xs:element name="UndrlygTp" type="UnderlyingContractForDifferenceType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcy1" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcy2" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}\-[0-9A-Z]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditDefaultSwapDerivative5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygCdtDfltSwpId" type="ISINOct2015Identifier"/>
            <xs:element name="UndrlygCdtDfltSwpIndx" type="CreditDefaultSwapIndex3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditDefaultSwapDerivative6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygCdtDfltSwpId" type="ISINOct2015Identifier"/>
            <xs:element name="OblgtnId" type="ISINOct2015Identifier"/>
            <xs:element name="SnglNm" type="CreditDefaultSwapSingleName2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditDefaultSwapIndex3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygIndxId" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygIndxNm" type="Max25Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Srs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="12" minOccurs="0" name="RollMnth" type="RestrictedMonthExact2Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtRollDt" type="ISODate"/>
            <xs:element name="NtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditDefaultSwapSingleName2">
        <xs:sequence>
            <xs:element name="SvrgnIssr" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPty" type="DerivativePartyIdentification1Choice"/>
            <xs:element name="NtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditDefaultSwapsDerivative4Choice">
        <xs:choice>
            <xs:element name="SnglNmCdtDfltSwp" type="CreditDefaultSwapSingleName2"/>
            <xs:element name="CdtDfltSwpIndx" type="CreditDefaultSwapIndex3"/>
            <xs:element name="SnglNmCdtDfltSwpDeriv" type="CreditDefaultSwapDerivative6"/>
            <xs:element name="CdtDfltSwpIndxDeriv" type="CreditDefaultSwapDerivative5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DebtInstrument5">
        <xs:sequence>
            <xs:element name="Tp" type="BondType1Code"/>
            <xs:element name="IssncDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Derivative3Choice">
        <xs:choice>
            <xs:element name="Cmmdty" type="CommodityDerivative4"/>
            <xs:element name="IntrstRate" type="InterestRateDerivative5"/>
            <xs:element name="FX" type="ForeignExchangeDerivative2"/>
            <xs:element name="Eqty" type="EquityDerivative2"/>
            <xs:element name="CtrctForDiff" type="ContractForDifference2"/>
            <xs:element name="Cdt" type="CreditDefaultSwapsDerivative4Choice"/>
            <xs:element name="EmssnAllwnc" type="EmissionAllowanceProductType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DerivativePartyIdentification1Choice">
        <xs:choice>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="CtrySubDvsn" type="CountrySubDivisionCode"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgNonEqtyTrnsprncyDataRpt" type="FinancialInstrumentReportingNonEquityTransparencyDataReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EmissionAllowanceProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUAA"/>
            <xs:enumeration value="EUAE"/>
            <xs:enumeration value="ERUE"/>
            <xs:enumeration value="CERE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmissionAllowanceProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CERE"/>
            <xs:enumeration value="ERUE"/>
            <xs:enumeration value="EUAE"/>
            <xs:enumeration value="EUAA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EquityDerivative2">
        <xs:sequence>
            <xs:element name="UndrlygTp" type="EquityDerivative3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="EquityReturnParameter1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EquityDerivative3Choice">
        <xs:choice>
            <xs:element name="Bskt" type="UnderlyingEquityType3Code"/>
            <xs:element name="Indx" type="UnderlyingEquityType4Code"/>
            <xs:element name="SnglNm" type="UnderlyingEquityType5Code"/>
            <xs:element name="Othr" type="UnderlyingEquityType6Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EquityReturnParameter1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRDV"/>
            <xs:enumeration value="PRVA"/>
            <xs:enumeration value="PRVO"/>
            <xs:enumeration value="PRBP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialInstrumentContractType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FRAS"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="SPDB"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="FONS"/>
            <xs:enumeration value="PSWP"/>
            <xs:enumeration value="FFAS"/>
            <xs:enumeration value="FWOS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentReportingNonEquityTransparencyDataReportV02">
        <xs:sequence>
            <xs:element name="RptHdr" type="SecuritiesMarketReportHeader1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NonEqtyTrnsprncyData" type="TransparencyDataReport16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate8">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Term" type="InterestRateContractTerm2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeDerivative2">
        <xs:sequence>
            <xs:element name="CtrctSubTp" type="AssetClassSubProductType19Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InflationIndex1Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateContractTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRateDerivative2Choice">
        <xs:choice>
            <xs:element name="SwpRltd" type="SwapType1Code"/>
            <xs:element name="Othr" type="UnderlyingInterestRateType3Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateDerivative5">
        <xs:sequence>
            <xs:element name="UndrlygTp" type="InterestRateDerivative2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygBd" type="BondDerivative2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwptnNtnlCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygSwpMtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfltnIndx" type="InflationIndex1Choice"/>
            <xs:element name="IntrstRateRef" type="FloatingInterestRate8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonEquityInstrumentReportingClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SFPS"/>
            <xs:enumeration value="SDRV"/>
            <xs:enumeration value="DERV"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="ETCS"/>
            <xs:enumeration value="ETNS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedMonthExact2Number">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[0-9]{2,2}"/>
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="2"/>
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesMarketReportHeader1">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwapType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OSSC"/>
            <xs:enumeration value="XFSC"/>
            <xs:enumeration value="XFMC"/>
            <xs:enumeration value="XXSC"/>
            <xs:enumeration value="XXMC"/>
            <xs:enumeration value="IFMC"/>
            <xs:enumeration value="FFSC"/>
            <xs:enumeration value="FFMC"/>
            <xs:enumeration value="IFSC"/>
            <xs:enumeration value="OSMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransparencyDataReport16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element name="FinInstrmClssfctn" type="NonEquityInstrumentReportingClassification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrmAsstClss" type="ProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivCtrctTp" type="FinancialInstrumentContractType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bd" type="DebtInstrument5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmssnAllwncTp" type="EmissionAllowanceProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Deriv" type="Derivative3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingContractForDifferenceType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="FTEQ"/>
            <xs:enumeration value="OPEQ"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingEquityType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSKT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingEquityType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STIX"/>
            <xs:enumeration value="DIVI"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="VOLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingEquityType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ETFS"/>
            <xs:enumeration value="SHRS"/>
            <xs:enumeration value="DVSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingEquityType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSKT"/>
            <xs:enumeration value="DIVI"/>
            <xs:enumeration value="ETFS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="SHRS"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="STIX"/>
            <xs:enumeration value="VOLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingInterestRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="BNDF"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="IFUT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
