XSDtoGo/xsd/auth.043.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 May 30 11:08:23, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.043.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.043.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BenchmarkCurveName2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BBSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgRefDataIndxRpt" type="FinancialInstrumentReportingReferenceDataIndexReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument46Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentReportingReferenceDataIndexReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="SecuritiesMarketReportHeader1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IndxData" type="SecuritiesIndexReport1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesIndexReport1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RqstngNtty" type="CountryCode"/>
            <xs:element name="Indx" type="FinancialInstrument46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyPrd" type="Period4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesMarketReportHeader1">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
