XSDtoGo/xsd/auth.057.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.057.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.057.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Absolute1">
        <xs:sequence>
            <xs:element name="Unit" type="Max35Text"/>
            <xs:element name="Qty" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CCPPortfolioStressTestingDefinitionReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ScnroDef" type="ScenarioDefinition1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPPrtflStrssTstgDefRpt" type="CCPPortfolioStressTestingDefinitionReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification165">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="SchemeIdentificationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification168">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RiskFactor1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="StrssSz" type="StressSize1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ScenarioDefinition1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification165"/>
            <xs:element name="ScnroTp" type="ScenarioType1Code"/>
            <xs:element name="StrtgyStrssTp" type="StrategyStressType1Code"/>
            <xs:element maxOccurs="2" minOccurs="1" name="StrssItm" type="StressItem1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ScenarioType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIST"/>
            <xs:enumeration value="HYPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SchemeIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="POSI"/>
            <xs:enumeration value="CLIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Strategy1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="StrssSz" type="StressSize1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StrategyStressType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLEX"/>
            <xs:enumeration value="PRLL"/>
            <xs:enumeration value="SPRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StressItem1">
        <xs:sequence>
            <xs:element name="StrssPdct" type="StressItem1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StressItem1Choice">
        <xs:choice>
            <xs:element name="Pdct" type="StressedProduct1"/>
            <xs:element name="Strtgy" type="Strategy1"/>
            <xs:element name="RskFctr" type="RiskFactor1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StressSize1Choice">
        <xs:choice>
            <xs:element name="Rltv" type="BaseOneRate"/>
            <xs:element name="Abs" type="Absolute1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StressedProduct1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification168"/>
            <xs:element name="MaxStrssSz" type="StressSize1Choice"/>
            <xs:element name="MinStrssSz" type="StressSize1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
