XSDtoGo/xsd/auth.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 May 30 10:31:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.028.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.028.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MnyMktSttstclRptStsAdvc" type="MoneyMarketStatisticalReportStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyMarketStatisticalReportStatusAdviceV01">
        <xs:sequence>
            <xs:element name="StsRptHdr" type="MoneyMarketStatusReportHeader1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxSts" type="MoneyMarketTransactionStatus2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MoneyMarketStatusReportHeader1">
        <xs:sequence>
            <xs:element name="RptgAgt" type="LEIIdentifier"/>
            <xs:element name="RptgPrd" type="DateTimePeriod1"/>
            <xs:element name="RptSts" type="StatisticalReportingStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MoneyMarketTransactionStatus2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="Max105Text"/>
            <xs:element name="PrtryTxId" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="LEIIdentifier"/>
            <xs:element name="Sts" type="StatisticalReportingStatus2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatisticalReportingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RMDR"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="CRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatisticalReportingStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="WARN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
