XSDtoGo/xsd/auth.063.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.063.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.063.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection102">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCPLiquidityStressTestingResultReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="LqdtyStrssTstRslt" type="LiquidityStressTestResult1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CoverTwoDefaulters1">
        <xs:sequence>
            <xs:element name="Cover1Id" type="LEIIdentifier"/>
            <xs:element name="Cover2Id" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPLqdtyStrssTstgRsltRpt" type="CCPLiquidityStressTestingResultReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LiquidResourceInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrPtyId" type="Max35Text"/>
            <xs:element name="LqdRsrcVal" type="AmountAndDirection102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="AmountAndDirection102"/>
            <xs:element name="Scrd" type="TrueFalseIndicator"/>
            <xs:element name="AsstNcmbrd" type="TrueFalseIndicator"/>
            <xs:element name="QlfygRsrc" type="TrueFalseIndicator"/>
            <xs:element name="AgcyArrgmnts" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiquidResources1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CshDue" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FcltiesCmmtdLinesOfCdt" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FcltiesCmmtdRpAgrmts" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FcltiesCmmtdFxSwps" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FcltiesOthrCmmtd" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FcltiesUcmmtd" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmsCCP" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmsTrsrInvstmts" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmsDfltrsSttlmColl" type="LiquidResourceInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmsDfltrsNonCshColl" type="LiquidResourceInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiquidityRequiredAndAvailable1">
        <xs:sequence>
            <xs:element name="LqdRsrcs" type="LiquidResources1"/>
            <xs:element name="LqdtyHrzn" type="SettlementDate6Code"/>
            <xs:element name="StrssLqdRsrcRqrmnt" type="StressLiquidResourceRequirement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiquidityStressTestResult1">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element name="ScnroDfltrs" type="CoverTwoDefaulters1"/>
            <xs:element maxOccurs="6" minOccurs="6" name="LqdtyReqrdAndAvlbl" type="LiquidityRequiredAndAvailable1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="SettlementDate6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TFIV"/>
            <xs:enumeration value="TFOR"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="TTRE"/>
            <xs:enumeration value="TTWO"/>
            <xs:enumeration value="SAMD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StressLiquidResourceRequirement1">
        <xs:sequence>
            <xs:element name="OprlOutflw" type="AmountAndDirection102"/>
            <xs:element name="VartnMrgnPmtOblgtn" type="AmountAndDirection102"/>
            <xs:element name="SttlmOrDlvry" type="AmountAndDirection102"/>
            <xs:element name="Othr" type="AmountAndDirection102"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
