XSDtoGo/xsd/auth.091.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 10 16:02:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.091.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.091.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CompetentAuthority1">
        <xs:sequence>
            <xs:element name="Id" type="Max350Text"/>
            <xs:element name="OnbrdgSts" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty26">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySd" type="OptionParty1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty29">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature5Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FI" type="FinancialPartySectorType1Code"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector2"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativesTradeReconciliationStatisticalReportV01">
        <xs:sequence>
            <xs:element name="SttstcsPerCtrPty" type="StatisticsPerCounterparty1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedReconciliationStatistics2">
        <xs:sequence>
            <xs:element name="TtlAccptd" type="Max20PositiveNumber"/>
            <xs:element name="TtlNotSubmittdToRcncltn" type="Max20PositiveNumber"/>
            <xs:element name="TtlSnglSddEEAUnprd" type="Max20PositiveNumber"/>
            <xs:element name="TtlSnglSddEEAPaird" type="Max20PositiveNumber"/>
            <xs:element name="TtlSnglSddEEAMtchd" type="Max20PositiveNumber"/>
            <xs:element name="TtlDualSddNonMtchd" type="Max20PositiveNumber"/>
            <xs:element name="TtlDualSddMtchd" type="Max20PositiveNumber"/>
            <xs:element name="TtlSnglSddNonEEA" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TopRsnsForPairdNonMtchd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedStatisticsPerCounterparty5">
        <xs:sequence>
            <xs:element name="RefDt" type="ISODate"/>
            <xs:element name="CtrPtyId" type="TradeCounterpartyReport9"/>
            <xs:element name="RcncltnSttstcs" type="ReconciliationStatisticsPerDerivativeContractGroup3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CmptntAuthrty" type="CompetentAuthority1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradRcncltnSttstclRpt" type="DerivativesTradeReconciliationStatisticalReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialPartySectorType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="ASSU"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NACEDomainIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonFinancialInstitutionSector2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="NACEDomainIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification7Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification8Choice">
        <xs:choice>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification9Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReconciliationStatisticsPerDerivativeContractGroup3">
        <xs:sequence>
            <xs:element name="OTC" type="ReconciliationStatisticsPerDerivativeType3"/>
            <xs:element name="ETD" type="ReconciliationStatisticsPerDerivativeType3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReconciliationStatisticsPerDerivativeType3">
        <xs:sequence>
            <xs:element name="AllDerivs" type="DetailedReconciliationStatistics2"/>
            <xs:element name="OutsdngDerivs" type="DetailedReconciliationStatistics2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatisticsPerCounterparty1Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="DetailedStatisticsPerCounterparty5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport9">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty26"/>
            <xs:element name="OthrCtrPty" type="Counterparty29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
