XSDtoGo/xsd/auth.061.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.061.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.061.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd24Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="24"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd24Amount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd24Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CCPInvestmentsReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Invstmt" type="Investment1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Deposit1">
        <xs:sequence>
            <xs:element name="MtrtyDt" type="ISODate"/>
            <xs:element name="Val" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CtrPtyId" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPInvstmtsRpt" type="CCPInvestmentsReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument59">
        <xs:sequence>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="Issr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sctr" type="SNA2008SectorIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralCollateral3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmId" type="FinancialInstrument59"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ElgblFinInstrmId" type="ISINOct2015Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="Investment1Choice">
        <xs:choice>
            <xs:element name="UscrdCshDpst" type="Deposit1"/>
            <xs:element name="CntrlBkDpst" type="Deposit1"/>
            <xs:element name="RpAgrmt" type="RepurchaseAgreement2"/>
            <xs:element name="OthrInvstmts" type="OtherInvestment1"/>
            <xs:element name="OutrghtInvstmt" type="SecurityIdentificationAndAmount1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherInvestment1">
        <xs:sequence>
            <xs:element name="Desc" type="Max140Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SVGN"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepurchaseAgreement2">
        <xs:sequence>
            <xs:element name="MtrtyDt" type="ISODate"/>
            <xs:element name="ScndLegPric" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CollMktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CtrPty" type="LEIIdentifier"/>
            <xs:element name="RpAgrmtTp" type="RepurchaseAgreementType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtId" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepurchaseAgreementType3Choice">
        <xs:choice>
            <xs:element name="SpcfcColl" type="SpecificCollateral2"/>
            <xs:element name="GnlColl" type="GeneralCollateral3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SNA2008SectorIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentificationAndAmount1">
        <xs:sequence>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="MktVal" type="ActiveCurrencyAnd24Amount"/>
            <xs:element name="FinInstrmTp" type="ProductType7Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecificCollateral2">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="FinancialInstrument59"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
