XSDtoGo/xsd/auth.072.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Nov 20 09:45:46, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.072.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.072.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactDetails4">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="PhneNb" type="PhoneNumber"/>
            <xs:element name="EmailAdr" type="Max2048Text"/>
            <xs:element name="Fctn" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SttlmIntlrRpt" type="SettlementInternaliserReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact2UpperCaseAlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InternalisationData1">
        <xs:sequence>
            <xs:element name="Aggt" type="InternalisationData2"/>
            <xs:element name="FaildRate" type="InternalisationDataRate1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InternalisationData2">
        <xs:sequence>
            <xs:element name="Sttld" type="InternalisationDataVolume1"/>
            <xs:element name="Faild" type="InternalisationDataVolume1"/>
            <xs:element name="Ttl" type="InternalisationDataVolume1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InternalisationDataRate1">
        <xs:sequence>
            <xs:element name="VolPctg" type="PercentageRate"/>
            <xs:element name="Val" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InternalisationDataVolume1">
        <xs:sequence>
            <xs:element name="Vol" type="Max20PositiveNumber"/>
            <xs:element name="Val" type="Max20PositiveDecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerCSDIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element name="FrstTwoCharsInstrmId" type="Exact2UpperCaseAlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerCSDReport1">
        <xs:sequence>
            <xs:element name="Id" type="IssuerCSDIdentification1"/>
            <xs:element name="OvrllTtl" type="InternalisationData1"/>
            <xs:element name="FinInstrm" type="SettlementInternaliserFinancialInstrument1"/>
            <xs:element name="TxTp" type="SettlementInternaliserTransactionType1"/>
            <xs:element name="ClntTp" type="SettlementInternaliserClientType1"/>
            <xs:element name="TtlCshTrf" type="InternalisationData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementInternaliser1">
        <xs:sequence>
            <xs:element name="Id" type="SettlementInternaliserIdentification1"/>
            <xs:element name="OvrllTtl" type="InternalisationData1"/>
            <xs:element name="FinInstrm" type="SettlementInternaliserFinancialInstrument1"/>
            <xs:element name="TxTp" type="SettlementInternaliserTransactionType1"/>
            <xs:element name="ClntTp" type="SettlementInternaliserClientType1"/>
            <xs:element name="TtlCshTrf" type="InternalisationData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserClientType1">
        <xs:sequence>
            <xs:element name="Prfssnl" type="InternalisationData1"/>
            <xs:element name="Rtl" type="InternalisationData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserFinancialInstrument1">
        <xs:sequence>
            <xs:element name="Eqty" type="InternalisationData1"/>
            <xs:element name="SvrgnDebt" type="InternalisationData1"/>
            <xs:element name="Bd" type="InternalisationData1"/>
            <xs:element name="OthrTrfblScties" type="InternalisationData1"/>
            <xs:element name="XchgTradgFnds" type="InternalisationData1"/>
            <xs:element name="CllctvInvstmtUdrtkgs" type="InternalisationData1"/>
            <xs:element name="MnyMktInstrm" type="InternalisationData1"/>
            <xs:element name="EmssnAllwnc" type="InternalisationData1"/>
            <xs:element name="OthrFinInstrms" type="InternalisationData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserIdentification1">
        <xs:sequence>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="RspnsblPrsn" type="ContactDetails4"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="Exact2UpperCaseAlphaText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserReportHeader1">
        <xs:sequence>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="RptgDt" type="ISODate"/>
            <xs:element name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="RptSts" type="TransactionOperationType4Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="SettlementInternaliserReportHeader1"/>
            <xs:element name="SttlmIntlr" type="SettlementInternaliser1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IssrCSD" type="IssuerCSDReport1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserTransactionType1">
        <xs:sequence>
            <xs:element name="SctiesBuyOrSell" type="InternalisationData1"/>
            <xs:element name="CollMgmtOpr" type="InternalisationData1"/>
            <xs:element name="SctiesLndgOrBrrwg" type="InternalisationData1"/>
            <xs:element name="RpAgrmt" type="InternalisationData1"/>
            <xs:element name="OthrTxs" type="InternalisationData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="AMND"/>
            <xs:enumeration value="CANC"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
