XSDtoGo/xsd/auth.030.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 May 04 18:34:24, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.030.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.030.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd19DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd19DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd19DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreementType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max50Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection106">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssetClassCommodity2Choice">
        <xs:choice>
            <xs:element name="Agrcltrl" type="AssetClassSubProductAgriculturalType1Code"/>
            <xs:element name="Nrgy" type="AssetClassSubProductEnergyType1Code"/>
            <xs:element name="Envttl" type="AssetClassSubProductEnvironmentalType1Code"/>
            <xs:element name="Frght" type="AssetClassSubProductFreight1Code"/>
            <xs:element name="Indx" type="NoReasonCode"/>
            <xs:element name="Metl" type="AssetClassSubProductMetal1Code"/>
            <xs:element name="Extc" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AssetClassSubProductAgriculturalType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIRY"/>
            <xs:enumeration value="FRST"/>
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="LSTK"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="SEAF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductEnergyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COAL"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="OILP"/>
            <xs:enumeration value="INRG"/>
            <xs:enumeration value="NGAS"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductEnvironmentalType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMIS"/>
            <xs:enumeration value="WTHR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductFreight1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRYF"/>
            <xs:enumeration value="WETF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductMetal1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRM"/>
            <xs:enumeration value="PRME"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOne18Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasketConstituents1">
        <xs:sequence>
            <xs:element name="InstrmId" type="InstrumentIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure12Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BenchmarkCurveName5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ESTR"/>
            <xs:enumeration value="BBSW"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="SOFR"/>
            <xs:enumeration value="SONA"/>
            <xs:enumeration value="CZNA"/>
            <xs:enumeration value="EFFR"/>
            <xs:enumeration value="OBFR"/>
            <xs:enumeration value="BCOL"/>
            <xs:enumeration value="CORA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cleared12Choice">
        <xs:choice>
            <xs:element name="Clrd" type="ClearingPartyAndTime10"/>
            <xs:element name="IntndToClear" type="ClearingPartyAndTime10"/>
            <xs:element name="NonClrd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ClearingObligationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLSE"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="TRUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingPartyAndTime10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="NoReasonCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCP" type="OrganisationIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralisationType2Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="FLCL"/>
            <xs:enumeration value="OWC1"/>
            <xs:enumeration value="OWC2"/>
            <xs:enumeration value="OWP1"/>
            <xs:enumeration value="OWP2"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="PRC1"/>
            <xs:enumeration value="PRC2"/>
            <xs:enumeration value="UNCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CommonTradeDataReport49">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType10"/>
            <xs:element name="TxData" type="TradeTransaction37"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport50">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType10"/>
            <xs:element name="TxData" type="TradeTransaction37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctMod" type="ContractModification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractModification4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnTp" type="TransactionOperationType7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lvl" type="ModificationLevel1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractType10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="FinancialInstrumentContractType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstClss" type="ProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctClssfctn" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctId" type="SecurityIdentification22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrm" type="SecurityIdentification36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcy" type="LegCurrency2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcy" type="LegCurrency2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfSttlm" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractValuationData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctVal" type="AmountAndDirection106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ValuationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty31">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element name="IdTp" type="PartyIdentification235Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty34">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Drctn" type="Direction2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartySpecificData29">
        <xs:sequence>
            <xs:element name="CtrPty" type="TradeCounterpartyReport14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Valtn" type="ContractValuationData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="TradeCollateralReport5"/>
            <xs:element name="RptgTmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature9Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FI" type="FinancialPartySectorType1Code"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector4"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}\-[0-9A-Z]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditDerivative4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Snrty" type="DebtInstrumentSeniorityType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPty" type="DerivativePartyIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnBsis" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Srs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trch" type="TrancheIndicator3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyExchange17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrblCrossCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOne18Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FwdXchgRate" type="BaseOne18Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateBsis" type="ExchangeRateBasis1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomBasket1">
        <xs:sequence>
            <xs:element name="Strr" type="LEIIdentifier"/>
            <xs:element name="Id" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Cnsttnts" type="BasketConstituents1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DebtInstrumentSeniorityType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBOD"/>
            <xs:enumeration value="SNDB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveryInterconnectionPoint1Choice">
        <xs:choice>
            <xs:element name="Cd" type="EICIdentifier"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DerivativePartyIdentification1Choice">
        <xs:choice>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="CtrySubDvsn" type="CountrySubDivisionCode"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DerivativesTradeReportV02">
        <xs:sequence>
            <xs:element name="RptHdr" type="TradeQueryHeader4"/>
            <xs:element name="TradData" type="TradeData19Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Direction2Choice">
        <xs:choice>
            <xs:element name="DrctnOfTheFrstLeg" type="OptionParty3Code"/>
            <xs:element name="CtrPtySd" type="OptionParty1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradRpt" type="DerivativesTradeReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DurationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="SEAS"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="MNUT"/>
            <xs:enumeration value="HOUR"/>
            <xs:enumeration value="DASD"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9\-]{16}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnergyDeliveryAttribute5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryIntrvl" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryPrd" type="DateTimePeriod1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryTm" type="TimePeriodDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Drtn" type="DurationType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WkDay" type="WeekDay3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryCpcty" type="Quantity47Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyUnit" type="EnergyQuantityUnit2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricTmIntrvlQty" type="LongFraction19DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EnergyLoadType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSLD"/>
            <xs:enumeration value="GASD"/>
            <xs:enumeration value="HABH"/>
            <xs:enumeration value="OFFP"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PKLD"/>
            <xs:enumeration value="SHPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnergyQuantityUnit2Choice">
        <xs:choice>
            <xs:element name="Cd" type="EnergyQuantityUnit2Code"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EnergyQuantityUnit2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BTUD"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="GJDD"/>
            <xs:enumeration value="GWAT"/>
            <xs:enumeration value="GWHD"/>
            <xs:enumeration value="GWHH"/>
            <xs:enumeration value="HMJD"/>
            <xs:enumeration value="KTMD"/>
            <xs:enumeration value="KWAT"/>
            <xs:enumeration value="KWHD"/>
            <xs:enumeration value="KWHH"/>
            <xs:enumeration value="MCMD"/>
            <xs:enumeration value="MJDD"/>
            <xs:enumeration value="MBTD"/>
            <xs:enumeration value="MMJD"/>
            <xs:enumeration value="MTMD"/>
            <xs:enumeration value="MWAT"/>
            <xs:enumeration value="MWHD"/>
            <xs:enumeration value="MWHH"/>
            <xs:enumeration value="THMD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnergySpecificAttribute6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryPtOrZone" type="DeliveryInterconnectionPoint1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrCnnctnPt" type="DeliveryInterconnectionPoint1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LdTp" type="EnergyLoadType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryAttr" type="EnergyDeliveryAttribute5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1">
        <xs:sequence>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1Choice">
        <xs:choice>
            <xs:element name="CcyPair" type="ExchangeRateBasis1"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExerciseDate1Choice">
        <xs:choice>
            <xs:element name="FrstExrcDt" type="ISODate"/>
            <xs:element name="PdgDtAplbl" type="PriceStatus2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialInstrumentContractType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="FRAS"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="SPDB"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity32Choice">
        <xs:choice>
            <xs:element name="Unit" type="LongFraction19DecimalNumber"/>
            <xs:element name="NmnlVal" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element name="MntryVal" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialPartySectorType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="ASSU"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FixedRate10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="SecuritiesTransactionPrice14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCnt" type="InterestComputationMethodFormat7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="InterestRateFrequency3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingRate7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="FloatingRateIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPrd" type="InterestRateContractTerm4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="SecuritiesTransactionPrice13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCnt" type="InterestComputationMethodFormat7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="InterestRateFrequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstFrqcy" type="InterestRateFrequency3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingRateIdentification4Choice">
        <xs:choice>
            <xs:element name="Cd" type="BenchmarkCurveName5Code"/>
            <xs:element name="Prtry" type="Max350Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Frequency13Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="QURT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification174">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Src" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification179">
        <xs:sequence>
            <xs:element name="Id" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISIN2021Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="InstrumentIdentification1Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISIN2021Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="UnqPdctIdr" type="Max52Text"/>
            <xs:element name="OthrId" type="GenericIdentification174"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestComputationMethod4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A019"/>
            <xs:enumeration value="A017"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A015"/>
            <xs:enumeration value="A018"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A016"/>
            <xs:enumeration value="NARR"/>
            <xs:enumeration value="A020"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat7">
        <xs:sequence>
            <xs:element name="Cd" type="InterestComputationMethod4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRate23Choice">
        <xs:choice>
            <xs:element name="Fxd" type="FixedRate10"/>
            <xs:element name="Fltg" type="FloatingRate7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateContractTerm4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Unit" type="Frequency13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRateFrequency3Choice">
        <xs:choice>
            <xs:element name="Term" type="InterestRateContractTerm4"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateLegs9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLeg" type="InterestRate23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLeg" type="InterestRate23Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegCurrency2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyFrstLeg" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyScndLeg" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LongFraction19DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MasterAgreement7">
        <xs:sequence>
            <xs:element name="Tp" type="AgreementType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModificationLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="TCTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NACEDomainIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonFinancialInstitutionSector2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="NACEDomainIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonFinancialInstitutionSector4">
        <xs:sequence>
            <xs:element name="NFI" type="NoReasonCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NFIIdr" type="NonFinancialInstitutionSector2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NotionalAmount1">
        <xs:sequence>
            <xs:element name="Amt" type="AmountAndDirection106"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Schdl" type="Schedule3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalQuantity1">
        <xs:sequence>
            <xs:element name="Qty" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Schdl" type="Schedule2"/>
            <xs:element name="UnitOfMeasr" type="UnitOfMeasure12Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionOrSwaption7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="OptionType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ExrcStyle" type="OptionStyle6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcDt" type="ExerciseDate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="SecuritiesTransactionPrice17Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StrkPricSchdl" type="Schedule4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CallAmt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutAmt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrmAmt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrmPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDtOfUndrlyg" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EURO"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="AMER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification10Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification36"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherPayment3">
        <xs:sequence>
            <xs:element name="PmtAmt" type="AmountAndDirection106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTp" type="PaymentType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtPyer" type="PartyIdentification235Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtRcvr" type="PartyIdentification235Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Package1">
        <xs:sequence>
            <xs:element name="CmplxTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="SecuritiesTransactionPrice13Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification235Choice">
        <xs:choice>
            <xs:element name="Lgl" type="OrganisationIdentification10Choice"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PaymentType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UFRO"/>
            <xs:enumeration value="UWIN"/>
            <xs:enumeration value="PEXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentType5Choice">
        <xs:choice>
            <xs:element name="Tp" type="PaymentType4Code"/>
            <xs:element name="PrtryTp" type="Max4AlphaNumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhysicalTransferType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="OPTL"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PortfolioCode1Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="Max52Text"/>
            <xs:element name="NoCd" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PrePostHaircut1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PreHrcut" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstHrcut" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice17Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PricSchdl" type="Schedule1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMltplr" type="LongFraction19DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity47Choice">
        <xs:choice>
            <xs:element name="Qty" type="LongFraction19DecimalNumber"/>
            <xs:element name="Desc" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Reconciliation2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SSNE"/>
            <xs:enumeration value="SSUN"/>
            <xs:enumeration value="SSPA"/>
            <xs:enumeration value="SSMA"/>
            <xs:enumeration value="NORE"/>
            <xs:enumeration value="DSNM"/>
            <xs:enumeration value="DSMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Schedule1">
        <xs:sequence>
            <xs:element name="UadjstdFctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UadjstdEndDt" type="ISODate"/>
            <xs:element name="Pric" type="SecuritiesTransactionPrice17Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Schedule2">
        <xs:sequence>
            <xs:element name="UadjstdFctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UadjstdEndDt" type="ISODate"/>
            <xs:element name="Qty" type="LongFraction19DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Schedule3">
        <xs:sequence>
            <xs:element name="UadjstdFctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UadjstdEndDt" type="ISODate"/>
            <xs:element name="Amt" type="AmountAndDirection106"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Schedule4">
        <xs:sequence>
            <xs:element name="UadjstdFctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UadjstdEndDt" type="ISODate"/>
            <xs:element name="Pric" type="SecuritiesTransactionPrice17Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice13Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection106"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dcml" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsisPtSprd" type="Number"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice14Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Dcml" type="BaseOneRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice17Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection106"/>
            <xs:element name="Unit" type="LongFraction19DecimalNumber"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="Dcml" type="BaseOneRate"/>
            <xs:element name="PdgPric" type="PriceStatus1Code"/>
            <xs:element name="Othr" type="SecuritiesTransactionPrice5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISIN2021Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqPdctIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrntvInstrmId" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification36Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISIN2021Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="UnqPdctIdr" type="Max52Text"/>
            <xs:element name="Bskt" type="CustomBasket1"/>
            <xs:element name="Indx" type="SecurityIdentification37Choice"/>
            <xs:element name="IdNotAvlbl" type="UnderlyingIdentification1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification37Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISIN2021Identifier"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element name="Indx" type="BenchmarkCurveName5Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalAttributes4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFlg" type="Reconciliation2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimePeriodDetails1">
        <xs:sequence>
            <xs:element name="FrTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToTm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeClearing5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrOblgtn" type="ClearingObligationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSts" type="Cleared12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntraGrp" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCollateralReport5">
        <xs:sequence>
            <xs:element name="PrtflCd" type="PortfolioCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Collstn" type="CollateralisationType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstd" type="PrePostHaircut1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvd" type="PrePostHaircut1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstd" type="PrePostHaircut1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvd" type="PrePostHaircut1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRatgTrggrInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRatgThrshldInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeConfirmation1Choice">
        <xs:choice>
            <xs:element name="Confd" type="TradeConfirmation2"/>
            <xs:element name="NonConfd" type="TradeNonConfirmation1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeConfirmation2">
        <xs:sequence>
            <xs:element name="Tp" type="TradeConfirmationType1Code"/>
            <xs:element name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeConfirmationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ECNF"/>
            <xs:enumeration value="YCNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeConfirmationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NCNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeCounterpartyReport14">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty34"/>
            <xs:element name="OthrCtrPty" type="Counterparty31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="OrganisationIdentification10Choice"/>
            <xs:element maxOccurs="2" minOccurs="1" name="Bnfcry" type="PartyIdentification235Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData19Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="TradeReport15Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Stat" type="TradeStateReport12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeData23">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData29"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lvl" type="ModificationLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeNonConfirmation1">
        <xs:sequence>
            <xs:element name="Tp" type="TradeConfirmationType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeQueryHeader4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryExctnDt" type="ISODate"/>
            <xs:element name="MsgPgntn" type="Pagination1"/>
            <xs:element name="NbRcrds" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeReport15Choice">
        <xs:choice>
            <xs:element name="New" type="TradeData23"/>
            <xs:element name="Mod" type="TradeData23"/>
            <xs:element name="Crrctn" type="TradeData23"/>
            <xs:element name="Termntn" type="TradeData23"/>
            <xs:element name="PosCmpnt" type="TradeData23"/>
            <xs:element name="ValtnUpd" type="TradeData23"/>
            <xs:element name="Cmprssn" type="TradeData23"/>
            <xs:element name="Err" type="TradeData23"/>
            <xs:element name="Othr" type="TradeData23"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeStateReport12">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData29"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport50"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransaction37">
        <xs:sequence>
            <xs:element name="UnqTxIdr" type="UniqueTransactionIdentifier1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrrUnqTxIdr" type="UniqueTransactionIdentifier1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PltfmIdr" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmprssn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxPric" type="PriceData1"/>
            <xs:element maxOccurs="2" minOccurs="0" name="NtnlAmt" type="NotionalAmount1"/>
            <xs:element maxOccurs="2" minOccurs="0" name="NtnlQty" type="NotionalQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dlta" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyTermntnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradConf" type="TradeConfirmation1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradClr" type="TradeClearing5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRateLegs9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyExchange17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrgySpcfcAttrbts" type="EnergySpecificAttribute6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="OptionOrSwaption7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrPmt" type="OtherPayment3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Packg" type="Package1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tranche3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AttchmntPt" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtchmntPt" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrancheIndicator3Choice">
        <xs:choice>
            <xs:element name="Trnchd" type="Tranche3"/>
            <xs:element name="Utrnchd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="EROR"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="POSC"/>
            <xs:enumeration value="VALU"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REVI"/>
            <xs:enumeration value="TERM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="BSKT"/>
            <xs:enumeration value="INDX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier1Choice">
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification179"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UnitOfMeasure12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACRE"/>
            <xs:enumeration value="ALOW"/>
            <xs:enumeration value="ACCY"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="BAGG"/>
            <xs:enumeration value="BALE"/>
            <xs:enumeration value="BARL"/>
            <xs:enumeration value="BCUF"/>
            <xs:enumeration value="BDFT"/>
            <xs:enumeration value="BOTL"/>
            <xs:enumeration value="BOXX"/>
            <xs:enumeration value="BRTU"/>
            <xs:enumeration value="BUSL"/>
            <xs:enumeration value="CRTN"/>
            <xs:enumeration value="CELI"/>
            <xs:enumeration value="CMET"/>
            <xs:enumeration value="YARD"/>
            <xs:enumeration value="USTN"/>
            <xs:enumeration value="USQA"/>
            <xs:enumeration value="USPI"/>
            <xs:enumeration value="USOU"/>
            <xs:enumeration value="UCWT"/>
            <xs:enumeration value="USGA"/>
            <xs:enumeration value="USFO"/>
            <xs:enumeration value="USBA"/>
            <xs:enumeration value="OZTR"/>
            <xs:enumeration value="TOCD"/>
            <xs:enumeration value="MILI"/>
            <xs:enumeration value="MMET"/>
            <xs:enumeration value="MIBA"/>
            <xs:enumeration value="MBTU"/>
            <xs:enumeration value="PIEC"/>
            <xs:enumeration value="PUND"/>
            <xs:enumeration value="PWRD"/>
            <xs:enumeration value="SHAS"/>
            <xs:enumeration value="SCMT"/>
            <xs:enumeration value="SQFO"/>
            <xs:enumeration value="SQIN"/>
            <xs:enumeration value="SQKI"/>
            <xs:enumeration value="SMET"/>
            <xs:enumeration value="SQMI"/>
            <xs:enumeration value="SMIL"/>
            <xs:enumeration value="SQYA"/>
            <xs:enumeration value="THMS"/>
            <xs:enumeration value="TONS"/>
            <xs:enumeration value="MILE"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="METR"/>
            <xs:enumeration value="MWYC"/>
            <xs:enumeration value="MMOC"/>
            <xs:enumeration value="MWMC"/>
            <xs:enumeration value="MWHC"/>
            <xs:enumeration value="MWHO"/>
            <xs:enumeration value="MWDC"/>
            <xs:enumeration value="LOTS"/>
            <xs:enumeration value="LITR"/>
            <xs:enumeration value="KWYC"/>
            <xs:enumeration value="KWMC"/>
            <xs:enumeration value="KMOC"/>
            <xs:enumeration value="KWHC"/>
            <xs:enumeration value="KWDC"/>
            <xs:enumeration value="KWHO"/>
            <xs:enumeration value="KMET"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="IPNT"/>
            <xs:enumeration value="INCH"/>
            <xs:enumeration value="HUWG"/>
            <xs:enumeration value="HECT"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="GWHO"/>
            <xs:enumeration value="GBTN"/>
            <xs:enumeration value="GBQA"/>
            <xs:enumeration value="GBPI"/>
            <xs:enumeration value="GBOU"/>
            <xs:enumeration value="GBGA"/>
            <xs:enumeration value="GBFO"/>
            <xs:enumeration value="GGEU"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="FOOT"/>
            <xs:enumeration value="ENVO"/>
            <xs:enumeration value="ENVC"/>
            <xs:enumeration value="DMET"/>
            <xs:enumeration value="DGEU"/>
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="CBML"/>
            <xs:enumeration value="CBME"/>
            <xs:enumeration value="CBIN"/>
            <xs:enumeration value="CRAT"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="CLRT"/>
            <xs:enumeration value="CEER"/>
            <xs:enumeration value="CDDA"/>
            <xs:enumeration value="CPDA"/>
            <xs:enumeration value="HDDA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValuationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPV"/>
            <xs:enumeration value="MTMA"/>
            <xs:enumeration value="MTMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WeekDay3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLD"/>
            <xs:enumeration value="XBHL"/>
            <xs:enumeration value="IBHL"/>
            <xs:enumeration value="FRID"/>
            <xs:enumeration value="MOND"/>
            <xs:enumeration value="SATD"/>
            <xs:enumeration value="SUND"/>
            <xs:enumeration value="THUD"/>
            <xs:enumeration value="TUED"/>
            <xs:enumeration value="WEDD"/>
            <xs:enumeration value="WDAY"/>
            <xs:enumeration value="WEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
