XSDtoGo/xsd/auth.049.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.14) on 2018 Jun 12 15:28:04, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.049.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.049.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CountryCodeAndName3">
        <xs:sequence>
            <xs:element name="Cd" type="CountryCode"/>
            <xs:element name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgMktIdCdRpt" type="FinancialInstrumentReportingMarketIdentificationCodeReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentReportingMarketIdentificationCodeReportV02">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MktId" type="MarketIdentification95"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MICEntityType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
            <xs:enumeration value="MLTF"/>
            <xs:enumeration value="OTFS"/>
            <xs:enumeration value="RMKT"/>
            <xs:enumeration value="SINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MarketIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SGMT"/>
            <xs:enumeration value="OPRT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification95">
        <xs:sequence>
            <xs:element name="Oprg" type="MICIdentifier"/>
            <xs:element name="Sgmt" type="MICIdentifier"/>
            <xs:element name="Tp" type="MarketIdentification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="MICEntityType1Code"/>
            <xs:element name="InstnNm" type="Max450Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acrnm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="City" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCodeAndName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthrtyNm" type="Max450Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WebSite" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Note" type="Max450Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mod" type="Modification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDt" type="ISODate"/>
            <xs:element name="VldtyPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastUpdtdDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max450Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="450"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Modification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOCH"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="DELE"/>
            <xs:enumeration value="ADDD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
