XSDtoGo/xsd/auth.101.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Feb 12 11:15:44, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.101.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.101.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contact9">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="PhneNb" type="PhoneNumber"/>
            <xs:element name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fctn" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SttlmFlsAnlRpt" type="SettlementFailsAnnualReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2Fraction1NonNegativeNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1"/>
            <xs:totalDigits value="2"/>
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9.9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSettlementSystemIdentification2">
        <xs:sequence>
            <xs:element name="SysId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfJursdctn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CSDLglNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RspnsblPty" type="Contact9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDataRate1Choice">
        <xs:choice>
            <xs:element name="NbOfInstrs" type="PercentageRate"/>
            <xs:element name="ValOfInstrs" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDataRate2">
        <xs:sequence>
            <xs:element name="Vol" type="PercentageRate"/>
            <xs:element name="Val" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDataVolume2">
        <xs:sequence>
            <xs:element name="Vol" type="Max20PositiveNumber"/>
            <xs:element name="Val" type="Max20PositiveDecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsAnnualReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="SettlementFailsReportHeader2"/>
            <xs:element name="AnlAggt" type="SettlementFailsData4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsData4">
        <xs:sequence>
            <xs:element name="Ttl" type="SettlementTotalData1"/>
            <xs:element name="FailrRsn" type="SettlementFailureReason3"/>
            <xs:element name="ElgblForDrgtn" type="SettlementFailsDerogation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDerogation1">
        <xs:sequence>
            <xs:element name="ElgbltyInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Justfn" type="SettlementFailsJustification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsJustification1">
        <xs:sequence>
            <xs:element name="Val" type="Max20PositiveDecimalNumber"/>
            <xs:element name="Rate" type="SettlementDataRate1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsReportHeader2">
        <xs:sequence>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="RptgPrd" type="DatePeriod2"/>
            <xs:element name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="RptSts" type="TransactionOperationType4Code"/>
            <xs:element name="SctiesSttlmSys" type="SecuritiesSettlementSystemIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailureReason2">
        <xs:sequence>
            <xs:element name="MainRsns" type="Max2048Text"/>
            <xs:element name="EffcncyImprvmt" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailureReason3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AvrgDrtn" type="Max2Fraction1NonNegativeNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Desc" type="SettlementFailureReason2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTotalData1">
        <xs:sequence>
            <xs:element name="Sttld" type="SettlementDataVolume2"/>
            <xs:element name="Faild" type="SettlementDataVolume2"/>
            <xs:element name="Ttl" type="SettlementDataVolume2"/>
            <xs:element name="FaildRate" type="SettlementDataRate2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="AMND"/>
            <xs:enumeration value="CANC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
