XSDtoGo/xsd/auth.055.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.055.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.055.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RptgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection102">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCPMemberRequirementsReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IntraDayRqrmntAmt" type="IntraDayRequirement1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntraDayMrgnCall" type="IntraDayMarginCall1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="EndOfDayRqrmnt" type="EndOfDayRequirement2"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DfltFndRqrmnt" type="DefaultFundRequirement1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DefaultFundRequirement1">
        <xs:sequence>
            <xs:element name="ClrMmbId" type="GenericIdentification165"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcId" type="Max35Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPMmbRqrmntsRpt" type="CCPMemberRequirementsReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EndOfDayRequirement2">
        <xs:sequence>
            <xs:element name="InitlMrgnRqrmnts" type="InitialMarginRequirement1"/>
            <xs:element name="VartnMrgnRqrmnts" type="AmountAndDirection102"/>
            <xs:element name="MrgnAcctId" type="GenericIdentification165"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification165">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="SchemeIdentificationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InitialMarginExposure1">
        <xs:sequence>
            <xs:element name="Amt" type="Amount3"/>
            <xs:element name="Tp" type="MarginType2Choice"/>
            <xs:element name="CoreInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InitialMarginRequirement1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InitlMrgnXpsr" type="InitialMarginExposure1"/>
            <xs:element name="Cdt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraDayMarginCall1">
        <xs:sequence>
            <xs:element name="MrgnAcctId" type="GenericIdentification165"/>
            <xs:element name="IntraDayCall" type="ActiveCurrencyAndAmount"/>
            <xs:element name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraDayRequirement1">
        <xs:sequence>
            <xs:element name="IntraDayMrgnCall" type="ActiveCurrencyAndAmount"/>
            <xs:element name="PeakInitlMrgnLblty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="PeakVartnMrgnLblty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="AggtPeakLblty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MrgnAcctId" type="GenericIdentification165"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarginType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarginType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADFM"/>
            <xs:enumeration value="COMA"/>
            <xs:enumeration value="CEMA"/>
            <xs:enumeration value="SEMA"/>
            <xs:enumeration value="SCMA"/>
            <xs:enumeration value="UFMA"/>
            <xs:enumeration value="MARM"/>
            <xs:enumeration value="SORM"/>
            <xs:enumeration value="WWRM"/>
            <xs:enumeration value="BARM"/>
            <xs:enumeration value="LIRM"/>
            <xs:enumeration value="CRAM"/>
            <xs:enumeration value="CVMA"/>
            <xs:enumeration value="SPMA"/>
            <xs:enumeration value="JTDR"/>
            <xs:enumeration value="DRAO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="SchemeIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="POSI"/>
            <xs:enumeration value="CLIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
