XSDtoGo/xsd/auth.069.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.069.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.069.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd24Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="24"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd24Amount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd24Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CCPClearedProductReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ClrdPdct" type="ClearedProduct1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearedProduct1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TradgVn" type="MICIdentifier"/>
            <xs:element name="CCPPdctId" type="GenericIdentification168"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UvrslPdctId" type="GenericIdentification168"/>
            <xs:element name="Pdct" type="Product1Choice"/>
            <xs:element name="OpnIntrst" type="OpenInterest1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrdsClrd" type="NonNegativeNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractSize1">
        <xs:sequence>
            <xs:element name="LotSz" type="PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Unit" type="UnitOfMeasure5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DefinedAttributes1Choice">
        <xs:choice>
            <xs:element name="QtyDfndAttrbts" type="FinancialInstrumentAttributes89"/>
            <xs:element name="ValDfndAttrbts" type="FinancialInstrumentAttributes90"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Derivative3">
        <xs:sequence>
            <xs:element name="DerivClssfctn" type="DerivativeClassification1"/>
            <xs:element maxOccurs="2" minOccurs="1" name="DerivUndrlygLeg" type="DerivativeUnderlyingLeg1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnAttrbts" type="Option14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeClassification1">
        <xs:sequence>
            <xs:element name="AsstClss" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BasePdct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubCmmdty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeUnderlyingLeg1">
        <xs:sequence>
            <xs:element name="CtrctAttrbts" type="FinancialInstrumentAttributes88"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfndAttrbts" type="DefinedAttributes1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPClrdPdctRpt" type="CCPClearedProductReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExoticOptionStyle1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BINA"/>
            <xs:enumeration value="DIGI"/>
            <xs:enumeration value="NOTO"/>
            <xs:enumeration value="VANI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrument59">
        <xs:sequence>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="Issr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sctr" type="SNA2008SectorIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes88">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTerm" type="InterestRateContractTerm1"/>
            <xs:element maxOccurs="3" minOccurs="0" name="Stdstn" type="Standardisation1Code"/>
            <xs:element name="PmtFrqcy" type="Frequency11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes89">
        <xs:sequence>
            <xs:element name="CtrctSz" type="ContractSize1"/>
            <xs:element name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element name="UndrlygId" type="GenericIdentification165"/>
            <xs:element name="PricCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntnl" type="ActiveCurrencyAndAmount"/>
            <xs:element name="UnitVal" type="ActiveCurrencyAndAmount"/>
            <xs:element name="IndxId" type="GenericIdentification168"/>
            <xs:element name="IndxUnit" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRateTerms" type="InterestComputationMethod2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Frequency11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="UPFR"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="CRED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GeneralCollateral2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ElgblFinInstrmId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification165">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="SchemeIdentificationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification168">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestRateContractTerm1">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OpenInterest1">
        <xs:sequence>
            <xs:element name="GrssNtnlAmt" type="ActiveCurrencyAnd24Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfLots" type="PositiveNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Option14">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="1" name="XprtnStyle" type="OptionStyle5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="ExoticOptionStyle1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrrInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTp" type="OptionEvent2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionEvent2">
        <xs:sequence>
            <xs:element name="Tp" type="OptionEventType1Choice"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionEventType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionEventType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionEventType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLST"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="KNIN"/>
            <xs:enumeration value="KNOC"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="TRIG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhysicalTransferType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="OPTL"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Product1Choice">
        <xs:choice>
            <xs:element name="Deriv" type="Derivative3"/>
            <xs:element name="SctiesFincgTx" type="RepurchaseAgreement3"/>
            <xs:element name="Scty" type="FinancialInstrument59"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProductClassification1">
        <xs:sequence>
            <xs:element name="AsstClss" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BasePdct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubCmmdty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepurchaseAgreement3">
        <xs:sequence>
            <xs:element name="PdctClssfctn" type="ProductClassification1"/>
            <xs:element name="RpAgrmtTp" type="RepurchaseAgreementType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepurchaseAgreementType1Choice">
        <xs:choice>
            <xs:element name="SpcfcColl" type="SpecificCollateral2"/>
            <xs:element name="GnlColl" type="GeneralCollateral2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SNA2008SectorIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SchemeIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="POSI"/>
            <xs:enumeration value="CLIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SpecificCollateral2">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="FinancialInstrument59"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Standardisation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLEX"/>
            <xs:enumeration value="NSTA"/>
            <xs:enumeration value="STAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="UnitOfMeasure5Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnitOfMeasure8Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UnitOfMeasure8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="KMET"/>
            <xs:enumeration value="KWDC"/>
            <xs:enumeration value="KWHO"/>
            <xs:enumeration value="KWHC"/>
            <xs:enumeration value="KMOC"/>
            <xs:enumeration value="KWMC"/>
            <xs:enumeration value="KWYC"/>
            <xs:enumeration value="LITR"/>
            <xs:enumeration value="MWDC"/>
            <xs:enumeration value="MWHO"/>
            <xs:enumeration value="MWHC"/>
            <xs:enumeration value="MWMC"/>
            <xs:enumeration value="MMOC"/>
            <xs:enumeration value="MWYC"/>
            <xs:enumeration value="METR"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="MILE"/>
            <xs:enumeration value="MILI"/>
            <xs:enumeration value="MMET"/>
            <xs:enumeration value="MIBA"/>
            <xs:enumeration value="MBTU"/>
            <xs:enumeration value="PIEC"/>
            <xs:enumeration value="PUND"/>
            <xs:enumeration value="PWRD"/>
            <xs:enumeration value="SHAS"/>
            <xs:enumeration value="SCMT"/>
            <xs:enumeration value="SQFO"/>
            <xs:enumeration value="SQIN"/>
            <xs:enumeration value="SQKI"/>
            <xs:enumeration value="SMET"/>
            <xs:enumeration value="SQMI"/>
            <xs:enumeration value="SMIL"/>
            <xs:enumeration value="SQYA"/>
            <xs:enumeration value="THMS"/>
            <xs:enumeration value="TONS"/>
            <xs:enumeration value="TOCD"/>
            <xs:enumeration value="OZTR"/>
            <xs:enumeration value="USGA"/>
            <xs:enumeration value="UCWT"/>
            <xs:enumeration value="USOU"/>
            <xs:enumeration value="USPI"/>
            <xs:enumeration value="USQA"/>
            <xs:enumeration value="YARD"/>
            <xs:enumeration value="ACRE"/>
            <xs:enumeration value="ALOW"/>
            <xs:enumeration value="ACCY"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="BARL"/>
            <xs:enumeration value="BCUF"/>
            <xs:enumeration value="BDFT"/>
            <xs:enumeration value="BUSL"/>
            <xs:enumeration value="CELI"/>
            <xs:enumeration value="CMET"/>
            <xs:enumeration value="CEER"/>
            <xs:enumeration value="CLRT"/>
            <xs:enumeration value="CBME"/>
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="DGEU"/>
            <xs:enumeration value="DMET"/>
            <xs:enumeration value="ENVC"/>
            <xs:enumeration value="ENVO"/>
            <xs:enumeration value="FOOT"/>
            <xs:enumeration value="GGEU"/>
            <xs:enumeration value="GBGA"/>
            <xs:enumeration value="GBOU"/>
            <xs:enumeration value="GBPI"/>
            <xs:enumeration value="GBQA"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="HECT"/>
            <xs:enumeration value="HUWG"/>
            <xs:enumeration value="INCH"/>
            <xs:enumeration value="IPNT"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="USTN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
