XSDtoGo/xsd/auth.031.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 28 16:00:01, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.031.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.031.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgStsAdvc" type="FinancialInstrumentReportingStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentReportingStatusAdviceV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="StsAdvc" type="MessageReportHeader4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageReportHeader4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRptIdr" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSts" type="StatusAdviceReport3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RcrdSts" type="StatusReportRecord3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfRecordsPerStatus1">
        <xs:sequence>
            <xs:element name="DtldNbOfRcrds" type="Max15NumericText"/>
            <xs:element name="DtldSts" type="ReportingRecordStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalReportStatistics3">
        <xs:sequence>
            <xs:element name="TtlNbOfRcrds" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NbOfRcrdsPerSts" type="NumberOfRecordsPerStatus1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportingMessageStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RMDR"/>
            <xs:enumeration value="WARN"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="CRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportingRecordStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="ACPD"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RJPD"/>
            <xs:enumeration value="WARN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusAdviceReport3">
        <xs:sequence>
            <xs:element name="Sts" type="ReportingMessageStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttstcs" type="OriginalReportStatistics3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReportRecord3">
        <xs:sequence>
            <xs:element name="OrgnlRcrdId" type="Max140Text"/>
            <xs:element name="Sts" type="ReportingRecordStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
