XSDtoGo/xsd/auth.105.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2021 Sep 22 11:43:43, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.105.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.105.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd20DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="20"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd20DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd20DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection107">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection53">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralData33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NetXpsrCollstnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmpntTp" type="CollateralType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshCollCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlty" type="CollateralQualityType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtrty" type="ContractTerm6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrJursdctn" type="IssuerJurisdiction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="SecuritiesLendingType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRpstry" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFlg" type="ReconciliationFlag2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstdCsh" type="ReinvestedCashTypeAndAmount2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralQualityType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVG"/>
            <xs:enumeration value="NIVG"/>
            <xs:enumeration value="NOTR"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GIVE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBBK"/>
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="LCRE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="STCF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContractTerm6Choice">
        <xs:choice>
            <xs:element name="Opn" type="TrueFalseIndicator"/>
            <xs:element name="Fxd" type="TimeToMaturity2Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CounterpartyData86">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="CounterpartyIdentification10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtLndr" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyIdentification10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sd" type="CollateralRole1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgPosSetRpt" type="SecuritiesFinancingReportingPositionSetReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExposureMetrics4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplAmt" type="PrincipalAmount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnVal" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutsdngMrgnLnAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtMktValAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnLn" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshCollAmt" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollMktVal" type="AmountAndDirection53"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExposureMetrics5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshCollAmt" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollMktVal" type="AmountAndDirection53"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExposureMetrics6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExposureType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="REPO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalRatesAndTenors1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSecuritiesLendingType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IssuerJurisdiction1Choice">
        <xs:choice>
            <xs:element name="CtryCd" type="CountryCode"/>
            <xs:element name="Othr" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LoanData134">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="ExposureType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clrd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflCd" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="TradingVenueType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmtTp" type="ExternalAgreementType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlColl" type="SpecialCollateral1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Term" type="ContractTerm6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rates" type="Rates1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplAmtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Scty" type="Security49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutsdngMrgnLnCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LongFraction19DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MaturityTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NamedPosition3">
        <xs:sequence>
            <xs:element name="RefDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GnlInf" type="PositionSet16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ln" type="PositionSet17"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Coll" type="PositionSet18"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mrgn" type="PositionSet20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Reuse" type="PositionSet19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PositionSet16">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions14"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet17">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions14"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet18">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions14"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet19">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions12"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet20">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions15"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetDimensions12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollData" type="CollateralData33"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OtlrsIncl" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetDimensions14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyData" type="CounterpartyData86"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnData" type="LoanData134"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollData" type="CollateralData33"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OtlrsIncl" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetDimensions15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflId" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OtlrsIncl" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VolMtrcs" type="ExposureMetrics6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VolMtrcs" type="VolumeMetrics4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshRinvstmtRate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VolMtrcs" type="VolumeMetrics6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HrcutOrMrgn" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyOrNmnlAmt" type="QuantityNominalValue2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics13">
        <xs:sequence>
            <xs:element name="VolMtrcs" type="VolumeMetrics5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtrcs" type="PriceMetrics3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics7">
        <xs:sequence>
            <xs:element name="VolMtrcs" type="VolumeMetrics5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetReport3Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="NamedPosition3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostedMarginOrCollateral4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceMetrics3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rates" type="Rates3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LndgFee" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PrincipalAmount3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDtAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDtAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityNominalValue2Choice">
        <xs:choice>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="NmnlVal" type="AmountAndDirection53"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Rates1Choice">
        <xs:choice>
            <xs:element name="Fxd" type="NoReasonCode"/>
            <xs:element name="Fltg" type="ExternalRatesAndTenors1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Rates3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Fxd" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fltg" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BuySellBck" type="SecuritiesTransactionPrice18Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReconciliationFlag2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTp" type="TradeRepositoryReportingType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BothCtrPtiesRptg" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PairdSts" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnRcncltnSts" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollRcncltnSts" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ModSts" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReinvestedCashTypeAndAmount2">
        <xs:sequence>
            <xs:element name="Tp" type="ReinvestmentType1Code"/>
            <xs:element name="RinvstdCshCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReinvestmentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OCMP"/>
            <xs:enumeration value="MMFT"/>
            <xs:enumeration value="REPM"/>
            <xs:enumeration value="SDPU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReuseValue1Choice">
        <xs:choice>
            <xs:element name="Actl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="Estmtd" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingReportingPositionSetReportV01">
        <xs:sequence>
            <xs:element name="AggtdPoss" type="PositionSetReport3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesLendingType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSecuritiesLendingType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice18Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection107"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Dcml" type="BaseOneRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice19Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection107"/>
            <xs:element name="Unit" type="LongFraction19DecimalNumber"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="Dcml" type="BaseOneRate"/>
            <xs:element name="PdgPric" type="PriceStatus1Code"/>
            <xs:element name="Othr" type="SecuritiesTransactionPrice5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Security49">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyOrNmnlVal" type="QuantityNominalValue2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="SecuritiesTransactionPrice19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlty" type="CollateralQualityType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtrty" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="SecurityIssuer4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tp" type="SecuritiesLendingType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExclsvArrgmnt" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIssuer4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element name="JursdctnCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SpecialCollateral1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENE"/>
            <xs:enumeration value="SPEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpecialPurpose2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="NTAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeToMaturity2Choice">
        <xs:choice>
            <xs:element name="Prd" type="TimeToMaturityPeriod2"/>
            <xs:element name="Spcl" type="SpecialPurpose2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeToMaturityPeriod2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Start" type="MaturityTerm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="End" type="MaturityTerm2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeMarket2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DMST"/>
            <xs:enumeration value="FRGN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeRepositoryReportingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SWOS"/>
            <xs:enumeration value="TWOS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueType1Choice">
        <xs:choice>
            <xs:element name="OnVn" type="TradeMarket2Code"/>
            <xs:element name="OffVn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="VolumeMetrics4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReuseVal" type="ReuseValue1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstdCshAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VolumeMetrics5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfTxs" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Xpsr" type="ExposureMetrics4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VolumeMetrics6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Postv" type="ExposureMetrics5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Neg" type="ExposureMetrics5"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
