XSDtoGo/xsd/auth.054.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 20 09:38:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.054.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.054.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CCPClearingMemberReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ClrMmb" type="ClearingMember1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingAccount1">
        <xs:sequence>
            <xs:element name="AcctTp" type="ClearingAccountType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CollAcctOwnr" type="CollateralAccount5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingAccountType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOSA"/>
            <xs:enumeration value="ISEG"/>
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="GOSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingMember1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification118Choice"/>
            <xs:element name="CdtQlty" type="CreditQuality1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtPrntId" type="PartyIdentification118Choice"/>
            <xs:element name="FutrsComssnMrchntInd" type="TrueFalseIndicator"/>
            <xs:element name="MmbshVldFr" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbshVldTo" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpnsrgClrMmbId" type="PartyIdentification118Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ClrAcctOwnr" type="ClearingAccount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccount5">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification118Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltdMrgnAcct" type="MarginAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TitlTrfCollArrgmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollSgrtnByVal" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditQuality1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DFIM"/>
            <xs:enumeration value="EXSP"/>
            <xs:enumeration value="HIGR"/>
            <xs:enumeration value="HISP"/>
            <xs:enumeration value="INDF"/>
            <xs:enumeration value="LMGR"/>
            <xs:enumeration value="NIGS"/>
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SURI"/>
            <xs:enumeration value="UMGR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPClrMmbRpt" type="CCPClearingMemberReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification168">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarginAccount1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification118Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PosAcct" type="PositionAccount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification118Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification168"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PositionAccount1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification118Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
