XSDtoGo/xsd/auth.094.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2021 Sep 22 11:43:43, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.094.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.094.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyMIC1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANYM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBBK"/>
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="LCRE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="STCF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateSectorCriteria5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FISctr" type="FinancialPartySectorType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NFISctr" type="NACEDomainIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotRptd" type="NotReported1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateOrBlankQuery2Choice">
        <xs:choice>
            <xs:element name="Rg" type="DatePeriod1"/>
            <xs:element name="NotRptd" type="NotReported1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DayOfMonthNumber">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgTxQry" type="SecuritiesFinancingReportingTransactionQueryV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExposureType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="REPO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialPartySectorType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="CSDS"/>
            <xs:enumeration value="CCPS"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Frequency14Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="ADHO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NACEDomainIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotReported1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Operation3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANDD"/>
            <xs:enumeration value="ORRR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification121Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="LglNttyIdr" type="LEIIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PartyNatureType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="NFIN"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="CCPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingReportingTransactionQueryV02">
        <xs:sequence>
            <xs:element name="RqstngAuthrty" type="PartyIdentification121Choice"/>
            <xs:element name="TradQryData" type="TradeReportQuery13Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeVenueCriteria1Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MIC" type="MICIdentifier"/>
            <xs:element name="AnyMIC" type="AnyMIC1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeAdditionalQueryCriteria7">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActnTp" type="TransactionOperationType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="SecuritiesTradeVenueCriteria1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtrOfCtrPty" type="PartyNatureType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpSctr" type="CorporateSectorCriteria5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDateTimeQueryCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgDtTm" type="DateTimePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="DateTimePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DateOrBlankQuery2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="DateOrBlankQuery2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentificationQuery8">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntId" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotRptd" type="NotReported1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentificationQuery9">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtryCd" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntId" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotRptd" type="NotReported1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyQueryCriteria5">
        <xs:sequence>
            <xs:element name="Oprtr" type="Operation3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPtyBrnch" type="TradePartyIdentificationQuery9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPty" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPtyBrnch" type="TradePartyIdentificationQuery9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCP" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtLndr" type="TradePartyIdentificationQuery8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="TradePartyIdentificationQuery8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeQueryCriteria10">
        <xs:sequence>
            <xs:element name="TradLifeCyclHstry" type="TrueFalseIndicator"/>
            <xs:element name="OutsdngTradInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPtyCrit" type="TradePartyQueryCriteria5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradTpCrit" type="TradeTypeQueryCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmCrit" type="TradeDateTimeQueryCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCrit" type="TradeAdditionalQueryCriteria7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeQueryExecutionFrequency3">
        <xs:sequence>
            <xs:element name="FrqcyTp" type="Frequency14Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryDay" type="WeekDay3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DayOfMnth" type="DayOfMonthNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeRecurrentQuery5">
        <xs:sequence>
            <xs:element name="QryTp" type="Max1000Text"/>
            <xs:element name="Frqcy" type="TradeQueryExecutionFrequency3"/>
            <xs:element name="VldUntil" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeReportQuery13Choice">
        <xs:choice>
            <xs:element name="AdHocQry" type="TradeQueryCriteria10"/>
            <xs:element name="RcrntQry" type="TradeRecurrentQuery5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeTypeQueryCriteria2">
        <xs:sequence>
            <xs:element name="Oprtr" type="Operation3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesFincgTxTp" type="ExposureType10Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollCmpntTp" type="CollateralType6Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REUU"/>
            <xs:enumeration value="COLU"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="ETRM"/>
            <xs:enumeration value="VALU"/>
            <xs:enumeration value="POSC"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="MARU"/>
            <xs:enumeration value="EROR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="WeekDay3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLD"/>
            <xs:enumeration value="XBHL"/>
            <xs:enumeration value="IBHL"/>
            <xs:enumeration value="FRID"/>
            <xs:enumeration value="MOND"/>
            <xs:enumeration value="SATD"/>
            <xs:enumeration value="SUND"/>
            <xs:enumeration value="THUD"/>
            <xs:enumeration value="TUED"/>
            <xs:enumeration value="WEDD"/>
            <xs:enumeration value="WDAY"/>
            <xs:enumeration value="WEND"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
