XSDtoGo/xsd/auth.050.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 May 30 11:08:23, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.050.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.050.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgInstrmClssfctnRpt" type="FinancialInstrumentReportingInstrumentClassificationReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentReportingInstrumentClassificationReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InstrmClssfctn" type="SecuritiesInstrumentClassification2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Modification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOCH"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="DELE"/>
            <xs:enumeration value="ADDD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesInstrumentClassification2">
        <xs:sequence>
            <xs:element name="Idr" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mod" type="Modification1Code"/>
            <xs:element name="VldtyPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastUpdtd" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
