XSDtoGo/xsd/auth.017.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.14) on 2018 Jun 12 15:28:04, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.017.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.017.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgriculturalCommodityDairy1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType20Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityForestry1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType21Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityGrain1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType15Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityLiveStock1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType22Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOilSeed1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType1Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOliveOil1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType4Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityPotato1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType45Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommoditySeafood1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType23Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommoditySoft1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType2Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection61">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClass2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="DerivativeCommodity2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrst" type="DerivativeInterest3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FX" type="DerivativeForeignExchange3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodity3Choice">
        <xs:choice>
            <xs:element name="Agrcltrl" type="AssetClassCommodityAgricultural1Choice"/>
            <xs:element name="Nrgy" type="AssetClassCommodityEnergy1Choice"/>
            <xs:element name="Envttl" type="AssetClassCommodityEnvironmental1Choice"/>
            <xs:element name="Frtlzr" type="AssetClassCommodityFertilizer1Choice"/>
            <xs:element name="Frght" type="AssetClassCommodityFreight1Choice"/>
            <xs:element name="IndstrlPdct" type="AssetClassCommodityIndustrialProduct1Choice"/>
            <xs:element name="Metl" type="AssetClassCommodityMetal1Choice"/>
            <xs:element name="OthrC10" type="AssetClassCommodityOtherC102Choice"/>
            <xs:element name="Ppr" type="AssetClassCommodityPaper1Choice"/>
            <xs:element name="Plprpln" type="AssetClassCommodityPolypropylene1Choice"/>
            <xs:element name="Infltn" type="AssetClassCommodityInflation1"/>
            <xs:element name="MultiCmmdtyExtc" type="AssetClassCommodityMultiCommodityExotic1"/>
            <xs:element name="OffclEcnmcSttstcs" type="AssetClassCommodityOfficialEconomicStatistics1"/>
            <xs:element name="Othr" type="AssetClassCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityAgricultural1Choice">
        <xs:choice>
            <xs:element name="GrnOilSeed" type="AgriculturalCommodityOilSeed1"/>
            <xs:element name="Soft" type="AgriculturalCommoditySoft1"/>
            <xs:element name="Ptt" type="AgriculturalCommodityPotato1"/>
            <xs:element name="OlvOil" type="AgriculturalCommodityOliveOil1"/>
            <xs:element name="Dairy" type="AgriculturalCommodityDairy1"/>
            <xs:element name="Frstry" type="AgriculturalCommodityForestry1"/>
            <xs:element name="Sfd" type="AgriculturalCommoditySeafood1"/>
            <xs:element name="LiveStock" type="AgriculturalCommodityLiveStock1"/>
            <xs:element name="Grn" type="AgriculturalCommodityGrain1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityEnergy1Choice">
        <xs:choice>
            <xs:element name="Elctrcty" type="EnergyCommodityElectricity1"/>
            <xs:element name="NtrlGas" type="EnergyCommodityNaturalGas1"/>
            <xs:element name="Oil" type="EnergyCommodityOil1"/>
            <xs:element name="Coal" type="EnergyCommodityCoal1"/>
            <xs:element name="IntrNrgy" type="EnergyCommodityInterEnergy1"/>
            <xs:element name="RnwblNrgy" type="EnergyCommodityRenewableEnergy1"/>
            <xs:element name="LghtEnd" type="EnergyCommodityLightEnd1"/>
            <xs:element name="Dstllts" type="EnergyCommodityDistillates1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityEnvironmental1Choice">
        <xs:choice>
            <xs:element name="Emssns" type="EnvironmentalCommodityEmission1"/>
            <xs:element name="Wthr" type="EnvironmentalCommodityWeather1"/>
            <xs:element name="CrbnRltd" type="EnvironmentalCommodityCarbonRelated1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityFertilizer1Choice">
        <xs:choice>
            <xs:element name="Ammn" type="FertilizerCommodityAmmonia1"/>
            <xs:element name="DmmnmPhspht" type="FertilizerCommodityDiammoniumPhosphate1"/>
            <xs:element name="Ptsh" type="FertilizerCommodityPotash1"/>
            <xs:element name="Slphr" type="FertilizerCommoditySulphur1"/>
            <xs:element name="Urea" type="FertilizerCommodityUrea1"/>
            <xs:element name="UreaAndAmmnmNtrt" type="FertilizerCommodityUreaAndAmmoniumNitrate1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityFreight1Choice">
        <xs:choice>
            <xs:element name="Dry" type="FreightCommodityDry1"/>
            <xs:element name="Wet" type="FreightCommodityWet1"/>
            <xs:element name="CntnrShip" type="FreightCommodityContainerShip1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityIndustrialProduct1Choice">
        <xs:choice>
            <xs:element name="Cnstrctn" type="IndustrialProductCommodityConstruction1"/>
            <xs:element name="Manfctg" type="IndustrialProductCommodityManufacturing1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityInflation1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType12Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityMetal1Choice">
        <xs:choice>
            <xs:element name="NonPrcs" type="MetalCommodityNonPrecious1"/>
            <xs:element name="Prcs" type="MetalCommodityPrecious1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityMultiCommodityExotic1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType13Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOfficialEconomicStatistics1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType14Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType15Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOtherC102Choice">
        <xs:choice>
            <xs:element name="Dlvrbl" type="OtherC10CommodityDeliverable2"/>
            <xs:element name="NonDlvrbl" type="OtherC10CommodityNonDeliverable2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityPaper1Choice">
        <xs:choice>
            <xs:element name="CntnrBrd" type="PaperCommodityContainerBoard1"/>
            <xs:element name="Nwsprnt" type="PaperCommodityNewsprint1"/>
            <xs:element name="Pulp" type="PaperCommodityPulp1"/>
            <xs:element name="RcvrdPpr" type="PaperCommodityRecoveredPaper1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityPolypropylene1Choice">
        <xs:choice>
            <xs:element name="Plstc" type="PolypropyleneCommodityPlastic1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AssetClassDetailedSubProductType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALUM"/>
            <xs:enumeration value="ALUA"/>
            <xs:enumeration value="CBLT"/>
            <xs:enumeration value="COPR"/>
            <xs:enumeration value="IRON"/>
            <xs:enumeration value="MOLY"/>
            <xs:enumeration value="NASC"/>
            <xs:enumeration value="NICK"/>
            <xs:enumeration value="STEL"/>
            <xs:enumeration value="TINN"/>
            <xs:enumeration value="ZINC"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="LEAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GOLD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PLDM"/>
            <xs:enumeration value="PTNM"/>
            <xs:enumeration value="SLVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TNKR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DBCR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MWHT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FWHT"/>
            <xs:enumeration value="SOYB"/>
            <xs:enumeration value="RPSD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CORN"/>
            <xs:enumeration value="RICE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROBU"/>
            <xs:enumeration value="CCOA"/>
            <xs:enumeration value="BRWN"/>
            <xs:enumeration value="WHSG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSLD"/>
            <xs:enumeration value="FITR"/>
            <xs:enumeration value="PKLD"/>
            <xs:enumeration value="OFFP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GASP"/>
            <xs:enumeration value="LNGG"/>
            <xs:enumeration value="NCGG"/>
            <xs:enumeration value="TTFG"/>
            <xs:enumeration value="NBPG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BAKK"/>
            <xs:enumeration value="BDSL"/>
            <xs:enumeration value="BRNT"/>
            <xs:enumeration value="BRNX"/>
            <xs:enumeration value="CNDA"/>
            <xs:enumeration value="COND"/>
            <xs:enumeration value="DSEL"/>
            <xs:enumeration value="DUBA"/>
            <xs:enumeration value="ESPO"/>
            <xs:enumeration value="ETHA"/>
            <xs:enumeration value="FUEL"/>
            <xs:enumeration value="FOIL"/>
            <xs:enumeration value="GOIL"/>
            <xs:enumeration value="GSLN"/>
            <xs:enumeration value="HEAT"/>
            <xs:enumeration value="JTFL"/>
            <xs:enumeration value="KERO"/>
            <xs:enumeration value="LLSO"/>
            <xs:enumeration value="MARS"/>
            <xs:enumeration value="NAPH"/>
            <xs:enumeration value="NGLO"/>
            <xs:enumeration value="TAPI"/>
            <xs:enumeration value="WTIO"/>
            <xs:enumeration value="URAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CERE"/>
            <xs:enumeration value="ERUE"/>
            <xs:enumeration value="EUAE"/>
            <xs:enumeration value="EUAA"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MCEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OEST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGRI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NRGY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRTL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="METL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POLY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIRY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LSTK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEAF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType24Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType25Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType27Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LGHT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType28Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RNNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRBR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRYF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WETF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MFTG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType35Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType36Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType37Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PULP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType38Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCVP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType39Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OOLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType40Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType41Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTSH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType42Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType43Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UREA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType44Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UAAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType45Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POTA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType46Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType47Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DLVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType48Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NDLV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NGAS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRCK"/>
            <xs:enumeration value="DIFF"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="MINI"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="OTCT"/>
            <xs:enumeration value="ORIT"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="TAPO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetFXSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FXCR"/>
            <xs:enumeration value="FXEM"/>
            <xs:enumeration value="FXMJ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARGM"/>
            <xs:enumeration value="BLTC"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="GBCL"/>
            <xs:enumeration value="IHSM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PLAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenchmarkCurveName2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BBSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurveName5Choice">
        <xs:choice>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BenchmarkCurveName6Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DebtInstrument2">
        <xs:sequence>
            <xs:element name="TtlIssdNmnlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element name="NmnlValPerUnit" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="IntrstRate" type="InterestRate6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DebtSnrty" type="DebtInstrumentSeniorityType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DebtInstrumentSeniorityType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBOD"/>
            <xs:enumeration value="SNDB"/>
            <xs:enumeration value="MZZD"/>
            <xs:enumeration value="JUND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativeCommodity2">
        <xs:sequence>
            <xs:element name="Pdct" type="AssetClassCommodity3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="AssetClassTransactionType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlPricTp" type="AssetPriceType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeForeignExchange3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FxTp" type="AssetFXSubProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrNtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeInstrument5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMltplr" type="NonNegativeDecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrm" type="FinancialInstrumentIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="SecuritiesTransactionPrice4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnExrcStyle" type="OptionStyle7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstClssSpcfcAttrbts" type="AssetClass2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativeInterest3">
        <xs:sequence>
            <xs:element name="IntrstRate" type="FloatingInterestRate8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLegIntrstRate" type="InterestRate8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrNtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrLegIntrstRate" type="InterestRate8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgRefDataRpt" type="FinancialInstrumentReportingReferenceDataReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityCoal1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType24Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityDistillates1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType25Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityElectricity1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType6Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityInterEnergy1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType26Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityLightEnd1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType27Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityNaturalGas1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType6Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityOil1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType7Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityRenewableEnergy1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType28Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityCarbonRelated1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType29Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityEmission1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType8Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityWeather1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType30Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityAmmonia1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType39Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityDiammoniumPhosphate1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType40Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityPotash1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType41Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommoditySulphur1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType42Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityUrea1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType43Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityUreaAndAmmoniumNitrate1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType44Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument48Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Indx" type="FinancialInstrument58"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument53">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument58">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Nm" type="FloatingInterestRate8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentIdentification5Choice">
        <xs:choice>
            <xs:element name="Sngl" type="FinancialInstrument48Choice"/>
            <xs:element name="Bskt" type="FinancialInstrument53"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentReportingReferenceDataReportV02">
        <xs:sequence>
            <xs:element name="RptHdr" type="SecuritiesMarketReportHeader1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RefData" type="SecuritiesReferenceDataReport6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate6">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName6Choice"/>
            <xs:element name="Term" type="InterestRateContractTerm2"/>
            <xs:element name="BsisPtSprd" type="Max5Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate8">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Term" type="InterestRateContractTerm2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityContainerShip1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType46Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityDry1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType31Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType14Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityWet1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType32Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType12Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndustrialProductCommodityConstruction1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType33Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndustrialProductCommodityManufacturing1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType34Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRate6Choice">
        <xs:choice>
            <xs:element name="Fxd" type="PercentageRate"/>
            <xs:element name="Fltg" type="FloatingInterestRate6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRate8Choice">
        <xs:choice>
            <xs:element name="Fxd" type="PercentageRate"/>
            <xs:element name="Fltg" type="FloatingInterestRate8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateContractTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetalCommodityNonPrecious1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType7Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType15Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType10Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetalCommodityPrecious1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType7Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType16Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NonNegativeDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="EURO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherC10CommodityDeliverable2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType47Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherC10CommodityNonDeliverable2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType48Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityContainerBoard1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType35Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityNewsprint1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType36Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityPulp1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType37Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityRecoveredPaper1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType38Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhysicalTransferType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="OPTL"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PolypropyleneCommodityPlastic1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType18Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RecordTechnicalData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IncnsstncyInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastUpd" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RlvntCmptntAuthrty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PblctnPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NvrPblshd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RlvntTradgVn" type="MICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesMarketReportHeader1">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesReferenceDataReport6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="FinInstrmGnlAttrbts" type="SecurityInstrumentDescription9"/>
            <xs:element name="Issr" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TradgVnRltdAttrbts" type="TradingVenueAttributes1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DebtInstrmAttrbts" type="DebtInstrument2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivInstrmAttrbts" type="DerivativeInstrument5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="RecordTechnicalData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice1">
        <xs:sequence>
            <xs:element name="Pdg" type="PriceStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice2Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection61"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice4Choice">
        <xs:choice>
            <xs:element name="Pric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element name="NoPric" type="SecuritiesTransactionPrice1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityInstrumentDescription9">
        <xs:sequence>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="FullNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element name="ClssfctnTp" type="CFIOct2015Identifier"/>
            <xs:element name="NtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="CmmdtyDerivInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueAttributes1">
        <xs:sequence>
            <xs:element name="Id" type="MICIdentifier"/>
            <xs:element name="IssrReq" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdmssnApprvlDtByIssr" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqForAdmssnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstTradDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
