XSDtoGo/xsd/caad.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 May 26 08:54:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caad.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caad.002.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee1">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeePrgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeDscrptr" type="Max35Text"/>
            <xs:element name="Amt" type="FeeAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification25">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm23Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification26">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification27">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification28">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchManagementResponse1">
        <xs:sequence>
            <xs:element name="Envt" type="Environment3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context8"/>
            <xs:element name="Tx" type="Transaction95"/>
            <xs:element name="PrcgRslt" type="ProcessingResult3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="ProtectedData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BatchManagementResponseV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header38"/>
            <xs:element name="Body" type="BatchManagementResponse1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BatchManagementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AKRQ"/>
            <xs:enumeration value="AKRP"/>
            <xs:enumeration value="ENDB"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="STRT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardProgrammeMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType20">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="IFSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Context8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCntxt" type="TransactionContext5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BtchMgmtRspn" type="BatchManagementResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent5">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification25"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdDataFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1Choice">
        <xs:choice>
            <xs:element name="BinryData" type="Max100KBinary"/>
            <xs:element name="HexBinryVal" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ExternalEncryptedElementIdentification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="Max35Text"/>
            <xs:element name="NcrptdData" type="EncryptedData1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtDataFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtDataFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionFormat3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="CTCE"/>
            <xs:enumeration value="CBCE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Environment3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyIdentification197"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEncryptedElementIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FeeAmount2">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification172">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header38">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction18Code"/>
            <xs:element name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification172"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier6"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier6">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification27"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max23NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BTRQ"/>
            <xs:enumeration value="BTNF"/>
            <xs:enumeration value="CLNF"/>
            <xs:enumeration value="CLRQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm20Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification197">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="ProcessingResult3">
        <xs:sequence>
            <xs:element name="RsltData" type="ResultData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRsltData" type="ResultData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProtectedData1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdData" type="EncryptedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient7Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport6"/>
            <xs:element name="KEK" type="KEK6"/>
            <xs:element name="KeyIdr" type="KEKIdentifier6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="PPRC"/>
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="UNRV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Response8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="UNRV"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResultData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRsltDtls" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResultData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRsltDtls" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability7">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmIn" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction95">
        <xs:sequence>
            <xs:element name="BtchMgmtTp" type="BatchManagementType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrBtchMgmtTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="TransactionIdentification10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFees" type="AdditionalFee1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnSz" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlColltnId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBtchId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfBtchsInColltn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfMsgs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngMsgsInColltn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BtchIdList" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchChcksm" type="Max35Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqAck" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgsBfrAck" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PostvAck" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionContext5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrgrmmApld" type="CardProgrammeMode1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification10">
        <xs:sequence>
            <xs:element name="LclDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprtInd" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdData" type="TransactionLifeCycleIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrRefData" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionLifeCycleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="FEEA"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
