XSDtoGo/xsd/cafc.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 May 26 08:54:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cafc.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cafc.002.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalAmounts1">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element name="Amt" type="Amount14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee1">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeePrgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeDscrptr" type="Max35Text"/>
            <xs:element name="Amt" type="FeeAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcpt" type="PartyType19Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Trgt" type="UserInterface8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max20KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount14">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount4">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount5">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchManagementInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrtflIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardProgrammeMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType20">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Context9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCntxt" type="TransactionContext3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DetailAmount1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHB"/>
            <xs:enumeration value="DONN"/>
            <xs:enumeration value="DCCF"/>
            <xs:enumeration value="EXTR"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="GRTY"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SRCH"/>
            <xs:enumeration value="TAXT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedAmount19">
        <xs:sequence>
            <xs:element name="Tp" type="DetailAmount1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element name="Amt" type="Amount5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="Amount5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="Amount5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FeeColltnRspn" type="FeeCollectionResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Environment5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Accptr" type="PartyIdentification203"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="CardData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FeeAmount2">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FeeCollectionResponse1">
        <xs:sequence>
            <xs:element name="Envt" type="Environment5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context9"/>
            <xs:element name="Tx" type="Transaction103"/>
            <xs:element name="PrcgRslt" type="ProcessingResult4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FeeCollectionResponseV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header48"/>
            <xs:element name="Body" type="FeeCollectionResponse1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification172">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header48">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction29Code"/>
            <xs:element name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchMgmtInf" type="BatchManagementInformation1"/>
            <xs:element name="InitgPty" type="GenericIdentification172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification172"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LifeCycleSupport1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="FINC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20KText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max23NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageClass1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDE"/>
            <xs:enumeration value="AMDT"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="CMGT"/>
            <xs:enumeration value="CBCK"/>
            <xs:enumeration value="FEEC"/>
            <xs:enumeration value="FINL"/>
            <xs:enumeration value="INQY"/>
            <xs:enumeration value="VERI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVC"/>
            <xs:enumeration value="NOTI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalDataElements1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgClss" type="MessageClass1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprt" type="LifeCycleSupport1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdData" type="TransactionLifeCycleIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrRefData" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalTransactionAmount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtQlfr" type="TypeOfAmount11Code"/>
            <xs:element name="TxAmt" type="TransactionAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="Amount4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="Amount4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OutputFormat4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLNM"/>
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SMSI"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="URLI"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification197">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification203">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element name="NmAndLctn" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtctInf" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRegnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpnsrdMrchnt" type="SponsoredMerchant1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="Priority3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT"/>
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingResult4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltData" type="ResultData5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRsltData" type="ResultData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reconciliation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="UNRV"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResultData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRsltDtls" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResultData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementReportingEntity1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcApld" type="SettlementServiceMode1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcDts" type="SettlementServiceDate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmRptgNtty" type="SettlementReportingEntity1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceDate1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCutOffTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrty" type="Priority3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialProgrammeDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialProgrammeQualification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgrmm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtl" type="SpecialProgrammeDetails1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SponsoredMerchant1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability7">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmIn" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction103">
        <xs:sequence>
            <xs:element name="TxTp" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxSubTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgRsn" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnMsgRsn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpclPrgrmmQlfctn" type="SpecialProgrammeQualification1"/>
            <xs:element name="TxId" type="TransactionIdentification13"/>
            <xs:element name="TxAmts" type="TransactionAmounts1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlAmts" type="AdditionalAmounts1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFees" type="AdditionalFee1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionAmount1">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Ccy" type="ISO3NumericCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionAmounts1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtQlfr" type="TypeOfAmount11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="TransactionAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="Amount4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="Amount4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldAmt" type="DetailedAmount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTxAmts" type="OriginalTransactionAmount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionContext3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgyCd" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxInitr" type="TransactionInitiator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrgrmmApld" type="CardProgrammeMode1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprt" type="LifeCycleSupport1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdData" type="TransactionLifeCycleIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrRefData" type="Max1000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlDataElmts" type="OriginalDataElements1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionInitiator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionLifeCycleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="FEEA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTL"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="ESTM"/>
            <xs:enumeration value="MAXI"/>
            <xs:enumeration value="RESD"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="DPST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMTH"/>
            <xs:enumeration value="DCNT"/>
            <xs:enumeration value="ISCF"/>
            <xs:enumeration value="CUAT"/>
            <xs:enumeration value="MAXI"/>
            <xs:enumeration value="AMTX"/>
            <xs:enumeration value="AMTN"/>
            <xs:enumeration value="AMTQ"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="RQCH"/>
            <xs:enumeration value="ANTA"/>
            <xs:enumeration value="PDCC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSPU"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="LOGF"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OTHN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
