XSDtoGo/xsd/cain.017.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 May 26 08:54:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cain.017.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cain.017.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountBalance1">
        <xs:sequence>
            <xs:element name="AcctTp" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Bal" type="Balance15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTp" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountStatementData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtTm" type="ISOTime"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctStmt" type="AccountStatementDetails1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountStatementDetails1">
        <xs:sequence>
            <xs:element name="TxDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdgInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxPstngDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="Amount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="Amount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccptrNmAndLctn" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtTxDesc" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LngTxDesc" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Action9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyType20Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnTp" type="ActionType11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrActnTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnInf" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActionDestination1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="MOBL"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PECR"/>
            <xs:enumeration value="POFS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActionType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="DEAC"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="FUPD"/>
            <xs:enumeration value="PRNT"/>
            <xs:enumeration value="SNDM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActionType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNTI"/>
            <xs:enumeration value="CNIS"/>
            <xs:enumeration value="CNTA"/>
            <xs:enumeration value="CNAS"/>
            <xs:enumeration value="CPTR"/>
            <xs:enumeration value="CHDV"/>
            <xs:enumeration value="VIPM"/>
            <xs:enumeration value="TRCK"/>
            <xs:enumeration value="TRXR"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SIGN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActionType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPV"/>
            <xs:enumeration value="BLCK"/>
            <xs:enumeration value="CPTR"/>
            <xs:enumeration value="DCLN"/>
            <xs:enumeration value="RQID"/>
            <xs:enumeration value="NDCL"/>
            <xs:enumeration value="RFRL"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="STUA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalAction1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ActionType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyType21Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrDstn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstnTp" type="ActionDestination1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrDstnTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstnAdr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Content1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalAmounts2">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element name="Amt" type="Amount14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee1">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeePrgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeDscrptr" type="Max35Text"/>
            <xs:element name="Amt" type="FeeAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcpt" type="PartyType22Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRcpt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Trgt" type="UserInterface6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTrgt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max20KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalRiskData1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max10KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification25">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm23Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification26">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification27">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification28">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount14">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount4">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount7">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="ADVF"/>
            <xs:enumeration value="ARNB"/>
            <xs:enumeration value="ARPC"/>
            <xs:enumeration value="ARQC"/>
            <xs:enumeration value="ATCC"/>
            <xs:enumeration value="BTHD"/>
            <xs:enumeration value="CHSA"/>
            <xs:enumeration value="CHDN"/>
            <xs:enumeration value="CUID"/>
            <xs:enumeration value="DRVI"/>
            <xs:enumeration value="DRLN"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="EMIN"/>
            <xs:enumeration value="EMRN"/>
            <xs:enumeration value="IDCN"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="NVSC"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="OLDA"/>
            <xs:enumeration value="OLDS"/>
            <xs:enumeration value="OFPE"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="OTPW"/>
            <xs:enumeration value="NBIG"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="OCHI"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PPSG"/>
            <xs:enumeration value="PSVE"/>
            <xs:enumeration value="PASN"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="TOKP"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="PLOB"/>
            <xs:enumeration value="PCDV"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="SHAF"/>
            <xs:enumeration value="SHAT"/>
            <xs:enumeration value="CPSG"/>
            <xs:enumeration value="SSNB"/>
            <xs:enumeration value="TXIN"/>
            <xs:enumeration value="TOKA"/>
            <xs:enumeration value="CDHI"/>
            <xs:enumeration value="TOKN"/>
            <xs:enumeration value="QWAC"/>
            <xs:enumeration value="PHOM"/>
            <xs:enumeration value="PWOR"/>
            <xs:enumeration value="THDS"/>
            <xs:enumeration value="ADDB"/>
            <xs:enumeration value="ADDS"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="CRYP"/>
            <xs:enumeration value="BIOM"/>
            <xs:enumeration value="MOBL"/>
            <xs:enumeration value="FPIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Balance15">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrCcyInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMOH"/>
            <xs:enumeration value="AMTO"/>
            <xs:enumeration value="AMTD"/>
            <xs:enumeration value="CRDL"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="AVLB"/>
            <xs:enumeration value="CLRI"/>
            <xs:enumeration value="LDGR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchManagementInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdPANInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAcctRg" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANFourLastDgts" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCcyCd" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrtflIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCardData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardDataReading7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDFL"/>
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="ICCY"/>
            <xs:enumeration value="MICR"/>
            <xs:enumeration value="MLEY"/>
            <xs:enumeration value="OCRR"/>
            <xs:enumeration value="MSIP"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="RFID"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="KEEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardProgrammeMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Content1">
        <xs:sequence>
            <xs:element name="Val" type="Max20KText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertId" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType20">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="IFSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Context2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtOfSvcCntxt" type="PointOfServiceContext1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCntxt" type="TransactionContext3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Vrfctn" type="Verification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskCntxt" type="RiskContext1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NqryRspn" type="InquiryResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ECommerceData1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent5">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification25"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdDataFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1Choice">
        <xs:choice>
            <xs:element name="BinryData" type="Max100KBinary"/>
            <xs:element name="HexBinryVal" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ExternalEncryptedElementIdentification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="Max35Text"/>
            <xs:element name="NcrptdData" type="EncryptedData1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtDataFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtDataFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionFormat3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="CTCE"/>
            <xs:enumeration value="CBCE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Environment15">
        <xs:sequence>
            <xs:element name="Acqrr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="PartyIdentification197"/>
            <xs:element name="Accptr" type="PartyIdentification203"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Termnl" type="Terminal2"/>
            <xs:element name="Card" type="CardData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="Wallet1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEncryptedElementIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FeeAmount2">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification172">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header39">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction17Code"/>
            <xs:element name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchMgmtInf" type="BatchManagementInformation1"/>
            <xs:element name="InitgPty" type="GenericIdentification172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification172"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InquiryResponse1">
        <xs:sequence>
            <xs:element name="Envt" type="Environment15"/>
            <xs:element name="Cntxt" type="Context2"/>
            <xs:element name="Tx" type="Transaction87"/>
            <xs:element name="PrcgRslt" type="ProcessingResult5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10KHexBinaryText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="ProtectedData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InquiryResponseV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header39"/>
            <xs:element name="Body" type="InquiryResponse1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier6"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier6">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification27"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KHexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,10000}  "/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20KText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max23NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTI"/>
            <xs:enumeration value="REQU"/>
            <xs:enumeration value="ADVC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLNM"/>
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SMSI"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="URLI"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm20Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification197">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification200">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType28Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification203">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element name="NmAndLctn" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtctInf" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRegnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpnsrdMrchnt" type="SponsoredMerchant1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CRDH"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="CRDH"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDH"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType28Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="WLPR"/>
            <xs:enumeration value="ISUR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PointOfServiceContext1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrActvtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnspndrInittd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttnddInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UattnddLvlCtgy" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrcInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EComrcData" type="ECommerceData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MOTOInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlApprvlSpprtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydAuthstnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyChrtcs" type="SecurityCharacteristics1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrSctyChrtcs" type="Max35Text"/>
            <xs:element name="CardDataNtryMd" type="CardDataReading7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCardDataNtryMd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpclConds" type="SpecialConditions1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT"/>
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingResult5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltData" type="ResultData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRsltData" type="ResultData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnReqrd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Actn" type="Action9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlActn" type="AdditionalAction1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProtectedData1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdData" type="EncryptedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient7Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport6"/>
            <xs:element name="KEK" type="KEK6"/>
            <xs:element name="KeyIdr" type="KEKIdentifier6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Reconciliation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="UNRV"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResultData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRsltDtls" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RiskAssessment1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RskAssmntNtty" type="PartyIdentification200"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskAssmntTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRskData" type="AdditionalRiskData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RcmmnddActn" type="ActionType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRcmmnddActn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcmmnddActnDtls" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RiskAssessmentDataEntityProvider1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType28Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RiskContext1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RskInptData" type="RiskInputData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RskAssmnt" type="RiskAssessment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RiskInputData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntty" type="RiskAssessmentDataEntityProvider1"/>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max10KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecurityCharacteristics1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CETE"/>
            <xs:enumeration value="CPTE"/>
            <xs:enumeration value="CENC"/>
            <xs:enumeration value="CMAC"/>
            <xs:enumeration value="ETEE"/>
            <xs:enumeration value="METE"/>
            <xs:enumeration value="MPTE"/>
            <xs:enumeration value="OPNN"/>
            <xs:enumeration value="PMAC"/>
            <xs:enumeration value="PKIE"/>
            <xs:enumeration value="PRAE"/>
            <xs:enumeration value="PRAM"/>
            <xs:enumeration value="PRVN"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="APTE"/>
            <xs:enumeration value="AETE"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementReportingEntity1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcApld" type="SettlementServiceMode1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcDts" type="SettlementServiceDate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmRptgNtty" type="SettlementReportingEntity1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceDate1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCutOffTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrty" type="Priority3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialConditions1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialProgrammeDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialProgrammeQualification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgrmm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtl" type="SpecialProgrammeDetails1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SponsoredMerchant1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Terminal2">
        <xs:sequence>
            <xs:element name="TermnlId" type="TerminalIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminalIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability7">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmIn" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction87">
        <xs:sequence>
            <xs:element name="TxTp" type="Exact2AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxSubTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpclPrgrmmQlfctn" type="SpecialProgrammeQualification1"/>
            <xs:element name="TxId" type="TransactionIdentification11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="Amount4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlAmts" type="AdditionalAmounts2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFees" type="AdditionalFee1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctBal" type="AccountBalance1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctStmtData" type="AccountStatementData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctFr" type="AccountDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDesc" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionContext3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgyCd" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxInitr" type="TransactionInitiator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrgrmmApld" type="CardProgrammeMode1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprtInd" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdData" type="TransactionLifeCycleIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrRefData" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionInitiator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionLifeCycleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="FEEA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ISCF"/>
            <xs:enumeration value="ANTA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
            <xs:enumeration value="CRDO"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="CHAP"/>
            <xs:enumeration value="MRAP"/>
            <xs:enumeration value="MRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Verification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="AuthenticationMethod11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VrfctnRslt" type="VerificationResult1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Verification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="FUTA"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SUCC"/>
            <xs:enumeration value="ERRR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VerificationEntity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ISSR"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VerificationResult1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntty" type="VerificationEntity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrNtty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Verification2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max500Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RsltDtls" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Wallet1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvdr" type="PartyIdentification197"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlWlltData" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
