XSDtoGo/xsd/colr.023.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2022 Jan 13 13:36:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.023.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.023.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AllocationStatus1Choice">
        <xs:choice>
            <xs:element name="FullyAllctd" type="ProprietaryReason4"/>
            <xs:element name="PrtlyAllctd" type="ProprietaryReason4"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection44">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection49">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockChainAddressWallet3">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashMovement7">
        <xs:sequence>
            <xs:element name="CshMvmnt" type="CreditDebit3Code"/>
            <xs:element name="CshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntSts" type="ProprietaryStatusAndReason6"/>
            <xs:element name="CollMvmnt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshMvmntApprvd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PosTp" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntCshMvmntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtSvcPrvdrCshMvmntId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClosingDate4Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="Cd" type="Date3Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralAmount14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tx" type="AmountAndDirection49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Termntn" type="AmountAndDirection49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acrd" type="AmountAndDirection49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValSght" type="AmountAndDirection49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UdsptdTx" type="AmountAndDirection49"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAmount5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqrdMrgn" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Collsd" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngCollsd" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngSttlm" type="AmountAndDirection44"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralDate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralParameters13">
        <xs:sequence>
            <xs:element name="CollInstrTp" type="CollateralTransactionType1Choice"/>
            <xs:element name="XpsrTp" type="ExposureType23Choice"/>
            <xs:element name="CollSd" type="CollateralRole1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutomtcAllcn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollApprvd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmApprvd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAmt" type="CollateralAmount5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralParties8">
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentificationAndAccount202"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntPtyA" type="PartyIdentificationAndAccount193"/>
            <xs:element name="PtyB" type="PartyIdentificationAndAccount203"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntPtyB" type="PartyIdentificationAndAccount193"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GIVE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralStatus3Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Pdg" type="ProprietaryReason4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralTransactionType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="CollateralTransactionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AADJ"/>
            <xs:enumeration value="CDTA"/>
            <xs:enumeration value="CADJ"/>
            <xs:enumeration value="DADJ"/>
            <xs:enumeration value="DBVT"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="MADJ"/>
            <xs:enumeration value="PADJ"/>
            <xs:enumeration value="RATA"/>
            <xs:enumeration value="TERM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Date3Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DealTransactionDetails7">
        <xs:sequence>
            <xs:element name="ClsgDt" type="ClosingDate4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealDtlsAmt" type="CollateralAmount14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrptyCollStsAdvc" type="TripartyCollateralStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CBCO"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRCP"/>
            <xs:enumeration value="UDMS"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="MGLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExposureType23Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExposureType14Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity33Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="DgtlTknUnit" type="Max30DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms23">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="29"/>
            <xs:totalDigits value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount193">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount202">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckChainAdrOrWllt" type="BlockChainAddressWallet3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount203">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckChainAdrOrWllt" type="BlockChainAddressWallet3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity51Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity33Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesMovement8">
        <xs:sequence>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="SctiesQty" type="Quantity51Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntSts" type="SecuritiesMovementStatus1Choice"/>
            <xs:element name="CollMvmnt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesMvmntsApprvd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PosTp" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckChainAdrOrWllt" type="BlockChainAddressWallet3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntSctiesMvmntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtSvcPrvdrSctiesMvmntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgndVal" type="AmountAndDirection44"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesMovementStatus1Choice">
        <xs:choice>
            <xs:element name="Amt" type="ProprietaryReason4"/>
            <xs:element name="Csh" type="ProprietaryReason4"/>
            <xs:element name="Ccy" type="ProprietaryReason4"/>
            <xs:element name="Excld" type="ProprietaryReason4"/>
            <xs:element name="Futr" type="ProprietaryReason4"/>
            <xs:element name="Pdg" type="ProprietaryReason4"/>
            <xs:element name="MnlyAccptd" type="ProprietaryReason4"/>
            <xs:element name="Elgblty" type="ProprietaryReason4"/>
            <xs:element name="Tax" type="ProprietaryReason4"/>
            <xs:element name="Wait" type="ProprietaryReason4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus27Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PrtlSttlm" type="ProprietaryReason4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sttld" type="ProprietaryReason4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Usttld" type="ProprietaryReason4"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingPartyCapacity5Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications46">
        <xs:sequence>
            <xs:element name="ClntCollInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtSvcPrvdrCollInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtSvcPrvdrCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonTxId" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TripartyCollateralStatusAdviceV01">
        <xs:sequence>
            <xs:element name="TxInstrId" type="TransactionIdentifications46"/>
            <xs:element name="Pgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnSts" type="AllocationStatus1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollSts" type="CollateralStatus3Choice"/>
            <xs:element name="GnlParams" type="CollateralParameters13"/>
            <xs:element name="CollPties" type="CollateralParties8"/>
            <xs:element name="DealTxDtls" type="DealTransactionDetails7"/>
            <xs:element name="DealTxDt" type="CollateralDate2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmnt" type="SecuritiesMovement8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmnt" type="CashMovement7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
