XSDtoGo/xsd/colr.016.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 19 15:24:44, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.016.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.016.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Agreement4">
        <xs:sequence>
            <xs:element name="AgrmtDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtId" type="Max140Text"/>
            <xs:element name="AgrmtDt" type="ISODate"/>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtFrmwk" type="AgreementFramework1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgreementFramework1Choice">
        <xs:choice>
            <xs:element name="AgrmtFrmwk" type="AgreementFramework1Code"/>
            <xs:element name="PrtryId" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AgreementFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FBAA"/>
            <xs:enumeration value="BBAA"/>
            <xs:enumeration value="DERV"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="NONR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CCPMemberType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACMB"/>
            <xs:enumeration value="CCPX"/>
            <xs:enumeration value="DCMB"/>
            <xs:enumeration value="FCMC"/>
            <xs:enumeration value="GCMB"/>
            <xs:enumeration value="SCMB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashCollateral4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstTp" type="DepositType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Collateral43">
        <xs:sequence>
            <xs:element name="AcctId" type="CollateralAccount3"/>
            <xs:element name="RptSummry" type="Summary2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollValtn" type="CollateralValuation12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccount3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountIdentificationType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccountIdentificationType3Choice">
        <xs:choice>
            <xs:element name="Tp" type="CollateralAccountType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
            <xs:enumeration value="MGIN"/>
            <xs:enumeration value="DFLT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralAmount1">
        <xs:sequence>
            <xs:element name="CollAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RptdCcyAndAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MktValAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeesAndComssns" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAndExposureReportV04">
        <xs:sequence>
            <xs:element name="RptParams" type="ReportParameters6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pgntn" type="Pagination1"/>
            <xs:element name="Oblgtn" type="Obligation6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Agrmt" type="Agreement4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CollRpt" type="Collateral43"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralAppliedExcess1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APLD"/>
            <xs:enumeration value="EXCS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDPA"/>
            <xs:enumeration value="CDPB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralOwnership3">
        <xs:sequence>
            <xs:element name="Prtry" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntNm" type="PartyIdentification178Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMO"/>
            <xs:enumeration value="CCCL"/>
            <xs:enumeration value="CEMC"/>
            <xs:enumeration value="CXCC"/>
            <xs:enumeration value="CFTD"/>
            <xs:enumeration value="CFTI"/>
            <xs:enumeration value="CTRC"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="LCRE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="CTCO"/>
            <xs:enumeration value="CCVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralValuation12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element name="CollTp" type="CollateralType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollDrctn" type="CollateralDirection1Code"/>
            <xs:element name="SttlmSts" type="SettlementStatus3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldXcssInd" type="CollateralAppliedExcess1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Number"/>
            <xs:element name="ValtnAmts" type="CollateralAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyHrcut" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstdRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesColl" type="SecuritiesCollateral9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshColl" type="CashCollateral4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrColl" type="OtherCollateral8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode9Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat14Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtCd" type="DateCode9Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DepositType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FITE"/>
            <xs:enumeration value="CALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollAndXpsrRpt" type="CollateralAndExposureReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="TRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="ESCL"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="ECRT"/>
            <xs:enumeration value="ECFR"/>
            <xs:enumeration value="EMLO"/>
            <xs:enumeration value="EMLI"/>
            <xs:enumeration value="EOIM"/>
            <xs:enumeration value="EOMI"/>
            <xs:enumeration value="TRCP"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="EOMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Obligation6">
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification242"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification178Choice"/>
            <xs:element name="PtyB" type="PartyIdentification242"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification178Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcctId" type="CollateralAccount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType5Code"/>
            <xs:element name="ValtnDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherCollateral8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfCdtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrntAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTpOfColl" type="OtherTypeOfCollateral2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOwnrsh" type="CollateralOwnership3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="DateFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdCvrgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyIdentification178Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
            <xs:element name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTypeOfCollateral2">
        <xs:sequence>
            <xs:element name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification178Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification242">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification178Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCPMmbTp" type="CCPMemberType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price7">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmount3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount3Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportParameters6">
        <xs:sequence>
            <xs:element name="RptId" type="Max35Text"/>
            <xs:element name="RptDtAndTm" type="DateAndDateTime2Choice"/>
            <xs:element name="Frqcy" type="EventFrequency6Code"/>
            <xs:element name="RptCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnExcessCash1">
        <xs:sequence>
            <xs:element name="RtrXcssCshTp" type="ReturnExcessCash1Choice"/>
            <xs:element name="CshCollCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnExcessCash1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ReturnExcessCash1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReturnExcessCash1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RTND"/>
            <xs:enumeration value="RTDN"/>
            <xs:enumeration value="SSPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat29Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText8"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText8">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesCollateral9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element name="SctyId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOwnrsh" type="CollateralOwnership3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdCvrgInd" type="YesNoIndicator"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="Price7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element name="SfkpgPlc" type="SafekeepingPlaceFormat29Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASTL"/>
            <xs:enumeration value="AAUT"/>
            <xs:enumeration value="ACCF"/>
            <xs:enumeration value="ARCF"/>
            <xs:enumeration value="MTCH"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="STCR"/>
            <xs:enumeration value="SPLT"/>
            <xs:enumeration value="NMAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Summary2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsdAmtPtyA" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsdAmtPtyB" type="ActiveCurrencyAndAmount"/>
            <xs:element name="XpsrTp" type="ExposureType8Code"/>
            <xs:element name="TtlValOfColl" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetXcssDfcit" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetXcssDfcitInd" type="ShortLong1Code"/>
            <xs:element name="ValtnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SummryDtls" type="SummaryAmounts2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SummaryAmounts2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrshldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrshldTp" type="ThresholdType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PreHrcutCollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstdXpsr" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollReqrd" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RtrXcssCshAndCollCcy" type="ReturnExcessCash1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinTrfAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RndgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsXpsrVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsCollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgIncmgColl" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgOutgngColl" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAcrdIntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlFees" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ThresholdType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="UNSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
