XSDtoGo/xsd/colr.022.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2022 Jan 13 13:36:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.022.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.022.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection53">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceQuantity13Choice">
        <xs:choice>
            <xs:element name="Qty" type="Quantity51Choice"/>
            <xs:element name="Prtry" type="GenericIdentification56"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasketIdentificationAndEligibilitySetProfile1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrfrntlBsktIdNb" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckStartgBsktId" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExclsnBsktId" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgbltySetPrfl" type="GenericIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BenchmarkCurveName13Choice">
        <xs:choice>
            <xs:element name="Cd" type="BenchmarkCurveName7Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BenchmarkCurveName7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BBSW"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BCOL"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CORA"/>
            <xs:enumeration value="CZNA"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="ESTR"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EFFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="HKIO"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="ETIO"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="BJUO"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="OBFR"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="RCTR"/>
            <xs:enumeration value="SOFR"/>
            <xs:enumeration value="SONA"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TOAR"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="WIBO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockChainAddressWallet3">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashBalance15">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnDtls" type="ValuationsDetails2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxLotNb" type="GenericIdentification178"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClosingDate4Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="Cd" type="Date3Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralAmount15">
        <xs:sequence>
            <xs:element name="ValOfCollHeld" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="TtlXpsr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrgn" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCollReqrd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAcrdIntrst" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlFeesComssns" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlOfPrncpls" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgCollIn" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgCollOut" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfOwnColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfReusdColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCshFaild" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAmount16">
        <xs:sequence>
            <xs:element name="ValOfCollHeld" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="TtlXpsr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrgn" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCollReqrd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAcrdIntrst" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfOwnColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfReusdColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlOfPrncpls" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgCollIn" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgCollOut" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCshFaild" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAmount17">
        <xs:sequence>
            <xs:element name="ValOfCollHeld" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="TtlXpsr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxAmtBrkdwn" type="CollateralTransactionAmountBreakdown2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrgn" type="AmountAndDirection53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAcrdIntrst" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCollReqrd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfOwnColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfReusdColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgCollIn" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgCollOut" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlOfPrncpls" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnTxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCshFaild" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAmount4">
        <xs:sequence>
            <xs:element name="ActlMktValPstValtnFctr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActlMktValBfrValtnFctr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrCollInTxCcy" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrCollInRptgCcy" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktValAmtPstValtnFctr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktValAmtBfrValtnFctr" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfOwnColl" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlValOfReusdColl" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAmount9">
        <xs:sequence>
            <xs:element name="ActlMktValPstHrcut" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActlMktValBfrHrcut" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrCollInTxCcy" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrCollInRptgCcy" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktValAmtPstHrcut" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktValAmtBfrHrcut" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralParties11">
        <xs:sequence>
            <xs:element name="PtyB" type="PartyIdentification232"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntPtyB" type="PartyIdentification232"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckChainAdrOrWllt" type="BlockChainAddressWallet3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralParties9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyA" type="PartyIdentificationAndAccount202"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntPtyA" type="PartyIdentificationAndAccount202"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GIVE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXCS"/>
            <xs:enumeration value="DEFI"/>
            <xs:enumeration value="FLAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralStatus2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExecutionStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralTransactionAmountBreakdown2">
        <xs:sequence>
            <xs:element name="LotNb" type="GenericIdentification178"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Period4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyAggregation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnOptn" type="RepoTerminationOption1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktIdAndElgbltySetPrfl" type="BasketIdentificationAndEligibilitySetProfile1"/>
            <xs:element name="CollPties" type="CollateralParties11"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ValtnAmts" type="CollateralAmount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GblCtrPtySts" type="CollateralStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CrystallisationDay1">
        <xs:sequence>
            <xs:element name="Day" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Date3Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrptyCollAndXpsrRpt" type="TripartyCollateralAndExposureReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExecutionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTD"/>
            <xs:enumeration value="PINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CBCO"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRCP"/>
            <xs:enumeration value="UDMS"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="MGLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExposureType23Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExposureType14Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExposureTypeAggregation3">
        <xs:sequence>
            <xs:element name="XpsrTp" type="ExposureType23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrc" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ValtnAmts" type="CollateralAmount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GblXpsrTpSts" type="CollateralStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity33Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="DgtlTknUnit" type="Max30DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms19">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency22Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification178">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification56">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Bal" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat4Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestRateIndexTenor2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="FOMN"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="TOWK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification89">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType15Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FUND"/>
            <xs:enumeration value="LMAR"/>
            <xs:enumeration value="THEO"/>
            <xs:enumeration value="VEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="29"/>
            <xs:totalDigits value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Number3Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="Exact5NumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OverallCollateralDetails2">
        <xs:sequence>
            <xs:element name="ValtnAmts" type="CollateralAmount15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GblCollSts" type="CollateralStatus1Code"/>
            <xs:element name="ValtnDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification232">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount202">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckChainAdrOrWllt" type="BlockChainAddressWallet3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price7">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmount3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount3Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity51Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity33Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateOrName4Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="RateIndxDtls" type="RateTypeAndLookback2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateTypeAndLookback2">
        <xs:sequence>
            <xs:element name="Tp" type="BenchmarkCurveName13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LookBckDays" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrstllstnDt" type="CrystallisationDay1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tnr" type="InterestRateIndexTenor2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rating2">
        <xs:sequence>
            <xs:element name="Ratg" type="Max10Text"/>
            <xs:element name="SrcOfRatg" type="MarketIdentification89"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RepoTerminationOption1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EGRN"/>
            <xs:enumeration value="ETSB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafeKeepingPlace3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlcFrmt" type="SafekeepingPlaceFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat29Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText8"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText8">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesBalance3">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="Qty" type="BalanceQuantity13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafeKeepingPlace3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification232"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckChainAdrOrWllt" type="BlockChainAddressWallet3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SecuritiesSettlementStatus3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RatgDtls" type="Rating2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnDtls" type="ValuationsDetails1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxLotNb" type="GenericIdentification178"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesSettlementStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="SETT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement78">
        <xs:sequence>
            <xs:element name="StmtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Number3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Max35Text"/>
            <xs:element name="StmtDtTm" type="DateAndDateTime2Choice"/>
            <xs:element name="Frqcy" type="Frequency22Choice"/>
            <xs:element name="UpdTp" type="UpdateType15Choice"/>
            <xs:element name="CollSd" type="CollateralRole1Code"/>
            <xs:element name="StmtBsis" type="StatementBasis14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsTp" type="StatementStatusType1Code"/>
            <xs:element name="SummryInd" type="YesNoIndicator"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatementBasis14Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementBasis3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="StatementBasis3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EOSP"/>
            <xs:enumeration value="FUTM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatementStatusType1Code">
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="PEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalValueInPageAndStatement5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlXpsrValOfPg" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCollHeldValOfPg" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingPartyCapacity5Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Transaction124">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntTrptyCollTxId" type="Max35Text"/>
            <xs:element name="TrptyAgtSvcPrvdrCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyCollTxRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonTxId" type="Max52Text"/>
            <xs:element name="XpsrTp" type="ExposureType23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnOptn" type="RepoTerminationOption1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktIdAndElgbltySetPrfl" type="BasketIdentificationAndEligibilitySetProfile1"/>
            <xs:element name="CollPties" type="CollateralParties11"/>
            <xs:element name="ExctnReqdDt" type="ClosingDate4Choice"/>
            <xs:element name="ClsgDt" type="ClosingDate4Choice"/>
            <xs:element name="ValtnAmts" type="CollateralAmount17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgRate" type="RateOrName4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SprdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutomtcAllcn" type="YesNoIndicator"/>
            <xs:element maxOccurs="2" minOccurs="0" name="TxSts" type="TransactionStatus6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesBal" type="SecuritiesBalance3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshBal" type="CashBalance15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CvrgSts" type="CollateralStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnSts" type="CollateralStatus2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TripartyCollateralAndExposureReportV01">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination1"/>
            <xs:element name="StmtGnlDtls" type="Statement78"/>
            <xs:element name="CollPties" type="CollateralParties9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OvrllCollAggtn" type="OverallCollateralDetails2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="XpsrTpAggtn" type="ExposureTypeAggregation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtyAggtn" type="CounterpartyAggregation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Txs" type="Transaction124"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctBaseCcyTtlAmts" type="TotalValueInPageAndStatement5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UpdateType15Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValuationFactorBreakdown1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfltnFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolFctr" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValuationsDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPric" type="Price7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrcOfPric" type="MarketIdentification89"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="DateAndDateTime2Choice"/>
            <xs:element name="ValtnDtlsAmt" type="CollateralAmount4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrst" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CleanPric" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="ValtnFctrBrkdwn" type="ValuationFactorBreakdown1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnAge" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValuationsDetails2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ValtnDtlsAmt" type="CollateralAmount9"/>
            <xs:element name="Hrcut" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
