XSDtoGo/xsd/fxtr.032.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 25 13:36:17, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.032.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.032.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat18Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="NotSpcfdDt" type="DateType8Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradCaptrRptReq" type="ForeignExchangeTradeCaptureReportRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeCaptureReportRequestV01">
        <xs:sequence>
            <xs:element name="QryReqId" type="MessageIdentification1"/>
            <xs:element name="QryOrdrSts" type="QueryOrderStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryDataType1Code"/>
            <xs:element name="QryStartNb" type="Max35NumericText"/>
            <xs:element name="QryByPrd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryPrd" type="Period4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryEndId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryPgSz" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryParamVal" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat18Choice"/>
            <xs:element name="EndDt" type="DateFormat18Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryDataType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QFXT"/>
            <xs:enumeration value="QOTD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryOrderStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QUCO"/>
            <xs:enumeration value="QOFP"/>
            <xs:enumeration value="QFEO"/>
            <xs:enumeration value="QPEO"/>
            <xs:enumeration value="QUAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
