XSDtoGo/xsd/fxtr.013.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 12 16:36:03, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.013.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.013.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradWdrwlNtfctn" type="ForeignExchangeTradeWithdrawalNotificationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeWithdrawalNotificationV03">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="MtchgSysUnqRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WdrwlRsn" type="WithdrawalReason1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WithdrawalReason1">
        <xs:sequence>
            <xs:element name="WdrwlRsnCd" type="WithdrawalReason1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WdrwlRsnSubCd" type="Max4Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WithdrawalReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RSCD"/>
            <xs:enumeration value="WTDN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
