XSDtoGo/xsd/fxtr.033.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 25 13:36:20, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.033.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.033.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReferences">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradCaptrRptAck" type="ForeignExchangeTradeCaptureReportAcknowledgementV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeCaptureReportAcknowledgementV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AckId" type="MessageIdentification1"/>
            <xs:element name="TradId" type="Max35Text"/>
            <xs:element name="Sts" type="Status5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="AdditionalReferences"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PDNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
