XSDtoGo/xsd/fxtr.036.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 25 13:42:03, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.036.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.036.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification26">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification30">
        <xs:sequence>
            <xs:element name="AcctTp" type="AccountInformationType1Code"/>
            <xs:element name="Id" type="AccountIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountInformationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IBND"/>
            <xs:enumeration value="IBCC"/>
            <xs:enumeration value="IBDC"/>
            <xs:enumeration value="BIBC"/>
            <xs:enumeration value="BIBD"/>
            <xs:enumeration value="BINC"/>
            <xs:enumeration value="BIND"/>
            <xs:enumeration value="BICC"/>
            <xs:enumeration value="BIDC"/>
            <xs:enumeration value="CMSA"/>
            <xs:enumeration value="CBBC"/>
            <xs:enumeration value="CBBD"/>
            <xs:enumeration value="CBNC"/>
            <xs:enumeration value="CBND"/>
            <xs:enumeration value="CBCC"/>
            <xs:enumeration value="CBDC"/>
            <xs:enumeration value="CUAC"/>
            <xs:enumeration value="DEAC"/>
            <xs:enumeration value="FCAA"/>
            <xs:enumeration value="FCAN"/>
            <xs:enumeration value="FCBN"/>
            <xs:enumeration value="IBBC"/>
            <xs:enumeration value="IBBD"/>
            <xs:enumeration value="IBNC"/>
            <xs:enumeration value="MCAA"/>
            <xs:enumeration value="MCAN"/>
            <xs:enumeration value="MCIC"/>
            <xs:enumeration value="MCIN"/>
            <xs:enumeration value="MSAA"/>
            <xs:enumeration value="MSBN"/>
            <xs:enumeration value="MCAD"/>
            <xs:enumeration value="NODC"/>
            <xs:enumeration value="SCAC"/>
            <xs:enumeration value="SCAA"/>
            <xs:enumeration value="OMSA"/>
            <xs:enumeration value="NOCC"/>
            <xs:enumeration value="MSBS"/>
            <xs:enumeration value="MSAN"/>
            <xs:enumeration value="SCAN"/>
            <xs:enumeration value="SCIC"/>
            <xs:enumeration value="SCIN"/>
            <xs:enumeration value="SOCA"/>
            <xs:enumeration value="SSCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradConfReqCxlReq" type="ForeignExchangeTradeConfirmationRequestCancellationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeConfirmationRequestCancellationRequestV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlReqId" type="MessageIdentification1"/>
            <xs:element name="TradgSdId" type="TradePartyIdentification7"/>
            <xs:element name="CtrPtyRoleId" type="TradePartyIdentification7"/>
            <xs:element name="TradId" type="Max35Text"/>
            <xs:element name="UndrlygPdctTp" type="UnderlyingProductIdentifier1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification3">
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header23">
        <xs:sequence>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element name="MsgSeqNb" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BASC"/>
            <xs:enumeration value="BICO"/>
            <xs:enumeration value="CFET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification19Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification44"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification78">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtySrc" type="IdentificationType1Code"/>
            <xs:element name="TradPtyId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90">
        <xs:sequence>
            <xs:element name="IdTp" type="PartyIdentificationType1Code"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount119">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PtyId" type="PartyIdentification90"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctId" type="AccountIdentification30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FXID"/>
            <xs:enumeration value="FXSN"/>
            <xs:enumeration value="INGN"/>
            <xs:enumeration value="IICS"/>
            <xs:enumeration value="IGBT"/>
            <xs:enumeration value="MAMA"/>
            <xs:enumeration value="MEOC"/>
            <xs:enumeration value="METY"/>
            <xs:enumeration value="NOMM"/>
            <xs:enumeration value="OSCO"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="PONU"/>
            <xs:enumeration value="POAD"/>
            <xs:enumeration value="RMID"/>
            <xs:enumeration value="SLCN"/>
            <xs:enumeration value="SLNF"/>
            <xs:enumeration value="TACN"/>
            <xs:enumeration value="TRCO"/>
            <xs:enumeration value="TANA"/>
            <xs:enumeration value="USIT"/>
            <xs:enumeration value="USNA"/>
            <xs:enumeration value="AUIT"/>
            <xs:enumeration value="BRID"/>
            <xs:enumeration value="CLIN"/>
            <xs:enumeration value="CMID"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="CMOT"/>
            <xs:enumeration value="CONU"/>
            <xs:enumeration value="CMIN"/>
            <xs:enumeration value="DECN"/>
            <xs:enumeration value="DEPA"/>
            <xs:enumeration value="ELCO"/>
            <xs:enumeration value="EXVE"/>
            <xs:enumeration value="FICO"/>
            <xs:enumeration value="FIID"/>
            <xs:enumeration value="FLCN"/>
            <xs:enumeration value="FLNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FndInf" type="FundIdentification3"/>
            <xs:element name="BuyrOrSellrInd" type="OptionParty1Code"/>
            <xs:element name="InitrInd" type="OptionParty3Code"/>
            <xs:element name="TradPtyId" type="PartyIdentification78"/>
            <xs:element name="SubmitgPty" type="PartyIdentificationAndAccount119"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="NDFO"/>
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SWAP"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
