XSDtoGo/xsd/fxtr.037.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 25 13:42:02, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.037.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.037.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification26">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification30">
        <xs:sequence>
            <xs:element name="AcctTp" type="AccountInformationType1Code"/>
            <xs:element name="Id" type="AccountIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountInformationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IBND"/>
            <xs:enumeration value="IBCC"/>
            <xs:enumeration value="IBDC"/>
            <xs:enumeration value="BIBC"/>
            <xs:enumeration value="BIBD"/>
            <xs:enumeration value="BINC"/>
            <xs:enumeration value="BIND"/>
            <xs:enumeration value="BICC"/>
            <xs:enumeration value="BIDC"/>
            <xs:enumeration value="CMSA"/>
            <xs:enumeration value="CBBC"/>
            <xs:enumeration value="CBBD"/>
            <xs:enumeration value="CBNC"/>
            <xs:enumeration value="CBND"/>
            <xs:enumeration value="CBCC"/>
            <xs:enumeration value="CBDC"/>
            <xs:enumeration value="CUAC"/>
            <xs:enumeration value="DEAC"/>
            <xs:enumeration value="FCAA"/>
            <xs:enumeration value="FCAN"/>
            <xs:enumeration value="FCBN"/>
            <xs:enumeration value="IBBC"/>
            <xs:enumeration value="IBBD"/>
            <xs:enumeration value="IBNC"/>
            <xs:enumeration value="MCAA"/>
            <xs:enumeration value="MCAN"/>
            <xs:enumeration value="MCIC"/>
            <xs:enumeration value="MCIN"/>
            <xs:enumeration value="MSAA"/>
            <xs:enumeration value="MSBN"/>
            <xs:enumeration value="MCAD"/>
            <xs:enumeration value="NODC"/>
            <xs:enumeration value="SCAC"/>
            <xs:enumeration value="SCAA"/>
            <xs:enumeration value="OMSA"/>
            <xs:enumeration value="NOCC"/>
            <xs:enumeration value="MSBS"/>
            <xs:enumeration value="MSAN"/>
            <xs:enumeration value="SCAN"/>
            <xs:enumeration value="SCIC"/>
            <xs:enumeration value="SCIN"/>
            <xs:enumeration value="SOCA"/>
            <xs:enumeration value="SSCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReferences">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate3">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearingMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRNE"/>
            <xs:enumeration value="NEMA"/>
            <xs:enumeration value="NENE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Confirmation1">
        <xs:sequence>
            <xs:element name="ConfSts" type="TradeConfirmationStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPtyConfTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPtyConfTm" type="ISODateTime"/>
            <xs:element name="ConfTp" type="ConfirmationRequest1Code"/>
            <xs:element name="ReqId" type="MessageIdentification1"/>
            <xs:element name="QryStartNb" type="Max35NumericText"/>
            <xs:element name="TtlNbOfRpts" type="Number"/>
            <xs:element name="PgNb" type="Max35NumericText"/>
            <xs:element name="QryPgNb" type="Max35NumericText"/>
            <xs:element name="MsgNbOfCurPg" type="Number"/>
            <xs:element name="ListOrdrNb" type="Number"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
            <xs:element name="LastRptReqd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConfirmationRequest1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="CNRR"/>
            <xs:enumeration value="STAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradConfStsAdvc" type="ForeignExchangeTradeConfirmationStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeConfirmationStatusAdviceV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdvcId" type="MessageIdentification1"/>
            <xs:element name="TradgSdId" type="TradePartyIdentification7"/>
            <xs:element name="CtrPtySdId" type="TradePartyIdentification7"/>
            <xs:element name="TradDtl" type="Trade2"/>
            <xs:element name="ConfInf" type="Confirmation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="AdditionalReferences"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification3">
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header23">
        <xs:sequence>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element name="MsgSeqNb" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BASC"/>
            <xs:enumeration value="BICO"/>
            <xs:enumeration value="CFET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IdentificationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDCO"/>
            <xs:enumeration value="CFET"/>
            <xs:enumeration value="RICC"/>
            <xs:enumeration value="USDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstrumentLeg6">
        <xs:sequence>
            <xs:element name="LegSd" type="Side1Code"/>
            <xs:element name="LegSttlmTp" type="SettlementDateCode"/>
            <xs:element name="LegSttlmDt" type="ISODateTime"/>
            <xs:element name="LegLastPric" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="LegSttlmCcy" type="CurrencyCode"/>
            <xs:element name="LegOrdrQty" type="CurrencyAndAmount"/>
            <xs:element name="LegFwdPts" type="DecimalNumber"/>
            <xs:element name="LegClctdCtrPtyCcyLastQty" type="CurrencyAndAmount"/>
            <xs:element name="LegRskAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="LegValtnRate" type="AgreedRate3"/>
            <xs:element name="LegValDt" type="ISODate"/>
            <xs:element name="LegCcy" type="CurrencyCode"/>
            <xs:element name="LegSymb" type="Max35Text"/>
            <xs:element name="LegSctyId" type="SecurityIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification19Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification44"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification78">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtySrc" type="IdentificationType1Code"/>
            <xs:element name="TradPtyId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90">
        <xs:sequence>
            <xs:element name="IdTp" type="PartyIdentificationType1Code"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount119">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PtyId" type="PartyIdentification90"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctId" type="AccountIdentification30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FXID"/>
            <xs:enumeration value="FXSN"/>
            <xs:enumeration value="INGN"/>
            <xs:enumeration value="IICS"/>
            <xs:enumeration value="IGBT"/>
            <xs:enumeration value="MAMA"/>
            <xs:enumeration value="MEOC"/>
            <xs:enumeration value="METY"/>
            <xs:enumeration value="NOMM"/>
            <xs:enumeration value="OSCO"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="PONU"/>
            <xs:enumeration value="POAD"/>
            <xs:enumeration value="RMID"/>
            <xs:enumeration value="SLCN"/>
            <xs:enumeration value="SLNF"/>
            <xs:enumeration value="TACN"/>
            <xs:enumeration value="TRCO"/>
            <xs:enumeration value="TANA"/>
            <xs:enumeration value="USIT"/>
            <xs:enumeration value="USNA"/>
            <xs:enumeration value="AUIT"/>
            <xs:enumeration value="BRID"/>
            <xs:enumeration value="CLIN"/>
            <xs:enumeration value="CMID"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="CMOT"/>
            <xs:enumeration value="CONU"/>
            <xs:enumeration value="CMIN"/>
            <xs:enumeration value="DECN"/>
            <xs:enumeration value="DEPA"/>
            <xs:enumeration value="ELCO"/>
            <xs:enumeration value="EXVE"/>
            <xs:enumeration value="FICO"/>
            <xs:enumeration value="FIID"/>
            <xs:enumeration value="FLCN"/>
            <xs:enumeration value="FLNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification18">
        <xs:sequence>
            <xs:element name="SctyIdSrc" type="IdentificationType2Code"/>
            <xs:element name="SctyId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification22Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrnId" type="AlternateIdentification1"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="BloombergIdentifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDateCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REGU"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="NXTD"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="TTWO"/>
            <xs:enumeration value="TTRE"/>
            <xs:enumeration value="TFOR"/>
            <xs:enumeration value="TFIV"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="ENDC"/>
            <xs:enumeration value="WHIF"/>
            <xs:enumeration value="WDIS"/>
            <xs:enumeration value="WHID"/>
            <xs:enumeration value="TBAT"/>
            <xs:enumeration value="MONT"/>
            <xs:enumeration value="CLEA"/>
            <xs:enumeration value="SAVE"/>
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Side1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="TWOS"/>
            <xs:enumeration value="BUMI"/>
            <xs:enumeration value="SEPL"/>
            <xs:enumeration value="SESH"/>
            <xs:enumeration value="SSEX"/>
            <xs:enumeration value="CROS"/>
            <xs:enumeration value="CRSH"/>
            <xs:enumeration value="CSHE"/>
            <xs:enumeration value="DEFI"/>
            <xs:enumeration value="OPPO"/>
            <xs:enumeration value="UNDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Trade2">
        <xs:sequence>
            <xs:element name="TradId" type="Max35Text"/>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="FXTradPdct" type="UnderlyingProductIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgMtd" type="TradingMethodType1Code"/>
            <xs:element name="TradgMd" type="TradingModeType1Code"/>
            <xs:element name="ClrMtd" type="ClearingMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Symb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfConf" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="Trade3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SwpLeg" type="InstrumentLeg6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctId" type="SecurityIdentification22Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdTradRef" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Trade3">
        <xs:sequence>
            <xs:element name="ExctnPric" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="LastQty" type="CurrencyAndAmount"/>
            <xs:element name="SttlmTp" type="SettlementDateCode"/>
            <xs:element name="SttlmDt" type="ISODate"/>
            <xs:element name="ValtnRate" type="AgreedRate3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FwdPts" type="DecimalNumber"/>
            <xs:element name="ClctdCtrPtyCcyLastQty" type="CurrencyAndAmount"/>
            <xs:element name="ValDt" type="ISODate"/>
            <xs:element name="RskAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="SctyId" type="SecurityIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxgCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DltaInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdTradRef" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeConfirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALST"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="EMCN"/>
            <xs:enumeration value="MISM"/>
            <xs:enumeration value="SCCN"/>
            <xs:enumeration value="SNCC"/>
            <xs:enumeration value="SNCN"/>
            <xs:enumeration value="UNCN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradePartyIdentification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FndInf" type="FundIdentification3"/>
            <xs:element name="BuyrOrSellrInd" type="OptionParty1Code"/>
            <xs:element name="InitrInd" type="OptionParty3Code"/>
            <xs:element name="TradPtyId" type="PartyIdentification78"/>
            <xs:element name="SubmitgPty" type="PartyIdentificationAndAccount119"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingMethodType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BITR"/>
            <xs:enumeration value="CERB"/>
            <xs:enumeration value="CUMA"/>
            <xs:enumeration value="LIOR"/>
            <xs:enumeration value="NETR"/>
            <xs:enumeration value="ONCT"/>
            <xs:enumeration value="QUAU"/>
            <xs:enumeration value="TEAU"/>
            <xs:enumeration value="ANCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingModeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QUDR"/>
            <xs:enumeration value="ORDR"/>
            <xs:enumeration value="NETR"/>
            <xs:enumeration value="AUCT"/>
            <xs:enumeration value="MARC"/>
            <xs:enumeration value="BILA"/>
            <xs:enumeration value="ANON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="NDFO"/>
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SWAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
