XSDtoGo/xsd/reda.056.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 May 09 15:55:09, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.056.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.056.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification26">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashParties24">
        <xs:sequence>
            <xs:element name="Cdtr" type="PartyIdentificationAndAccount96"/>
            <xs:element name="CdtrAgt" type="PartyIdentificationAndAccount97"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="PartyIdentificationAndAccount97"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy2" type="PartyIdentificationAndAccount97"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClassificationType1Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="StgSttlmInstr" type="StandingSettlementInstructionV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EffectiveDate1">
        <xs:sequence>
            <xs:element name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDtParam" type="ExternalEffectiveDateParameter1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEffectiveDateParameter1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketArea1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSecuritiesPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification49">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification87">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="ClssfctnTp" type="ClassificationType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPurp" type="Purpose3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentificationOrCashPurpose1Choice">
        <xs:choice>
            <xs:element name="SttlmInstrMktId" type="MarketIdentification87"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CshSSIPurp" type="ExternalMarketArea1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification62">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification63">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification75Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification64">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification75Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification99Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification44"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount95">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification71Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="SecuritiesAccount22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount96">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification64"/>
            <xs:element name="AcctId" type="AccountIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount97">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification62"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Purpose3Choice">
        <xs:choice>
            <xs:element name="SctiesPurpCd" type="ExternalSecuritiesPurpose1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount22">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOrCash1Choice">
        <xs:choice>
            <xs:element name="SctiesDtls" type="SettlementParties35"/>
            <xs:element name="CshPtiesDtls" type="CashParties24"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementParties32">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification63"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount95"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount95"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount95"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount95"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount95"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties35">
        <xs:sequence>
            <xs:element name="StgSttlmPties" type="SettlementParties32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclMktId" type="GenericIdentification49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="PartyIdentification99Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingSettlementInstructionV01">
        <xs:sequence>
            <xs:element name="MsgRefId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDtDtls" type="EffectiveDate1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctId" type="AccountIdentification26"/>
            <xs:element name="MktId" type="MarketIdentificationOrCashPurpose1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcy" type="ActiveCurrencyCode"/>
            <xs:element name="SttlmDtls" type="SecuritiesOrCash1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
