XSDtoGo/xsd/reda.034.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Jun 01 11:09:56, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.034.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.034.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AuditTrail1">
        <xs:sequence>
            <xs:element name="FldNm" type="Max35Text"/>
            <xs:element name="OdFldVal" type="Max350Text"/>
            <xs:element name="NewFldVal" type="Max350Text"/>
            <xs:element name="OprTmStmp" type="ISODateTime"/>
            <xs:element name="InstgUsr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvgUsr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AuditTrailOrBusinessError6Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AudtTrl" type="AuditTrail1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodSearch1Choice">
        <xs:choice>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="DatePeriod2"/>
            <xs:element name="EQDt" type="ISODate"/>
            <xs:element name="NEQDt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesAudtTrlRpt" type="SecuritiesAuditTrailReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISIN2021Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader12">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizInstr" type="OriginalBusinessInstruction1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessInstruction1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAuditTrailOrOperationalError4Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SctiesAudtTrlRpt" type="SecuritiesAuditTrailReport4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAuditTrailReport4">
        <xs:sequence>
            <xs:element name="SctiesAudtTrlOrErr" type="AuditTrailOrBusinessError6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtPrd" type="DatePeriodSearch1Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification39"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAuditTrailReportV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader12"/>
            <xs:element name="RptOrErr" type="SecuritiesAuditTrailOrOperationalError4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISIN2021Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
