XSDtoGo/xsd/reda.007.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Jun 01 11:09:56, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.007.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.007.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountOrPercentageRange1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Opr" type="Operation1Code"/>
            <xs:element maxOccurs="10" minOccurs="0" name="Term" type="Term1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Appearance1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="NDEL"/>
            <xs:enumeration value="LIMI"/>
            <xs:enumeration value="BENT"/>
            <xs:enumeration value="DFBE"/>
            <xs:enumeration value="DLBE"/>
            <xs:enumeration value="TMPG"/>
            <xs:enumeration value="GLOB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Appearance3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Appearance1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AssignmentMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RAND"/>
            <xs:enumeration value="PROR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssignmentMethod2Choice">
        <xs:choice>
            <xs:element name="Cd" type="AssignmentMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurve6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BchmkId" type="SecurityIdentification39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BchmkPric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BchmkCrvCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BchmkCrvNm" type="BenchmarkCurveName7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BchmkCrvPt" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BenchmarkCurveName1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="PFAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurveName7Choice">
        <xs:choice>
            <xs:element name="Cd" type="BenchmarkCurveName1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CalculationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTX"/>
            <xs:enumeration value="ANNU"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="AVMA"/>
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="YTNC"/>
            <xs:enumeration value="CHCL"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="CUYI"/>
            <xs:enumeration value="TRGR"/>
            <xs:enumeration value="GVEQ"/>
            <xs:enumeration value="FLAS"/>
            <xs:enumeration value="NVFL"/>
            <xs:enumeration value="LSCL"/>
            <xs:enumeration value="LSMT"/>
            <xs:enumeration value="LSQR"/>
            <xs:enumeration value="LSYR"/>
            <xs:enumeration value="LGAL"/>
            <xs:enumeration value="MARK"/>
            <xs:enumeration value="YTMA"/>
            <xs:enumeration value="NXRF"/>
            <xs:enumeration value="PNAV"/>
            <xs:enumeration value="NXPT"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="PRYL"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="SHLF"/>
            <xs:enumeration value="SPLL"/>
            <xs:enumeration value="TXQV"/>
            <xs:enumeration value="TTDT"/>
            <xs:enumeration value="TRYL"/>
            <xs:enumeration value="WRST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CalculationType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="CalculationType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CallType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOTT"/>
            <xs:enumeration value="PRTA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CallType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="CallType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClassificationType2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmPdctTpCd" type="ExternalFinancialInstrumentProductType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnClssfctn" type="GenericIdentification36"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonFinancialInstrumentAttributes12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctySts" type="SecurityStatus3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ISOSctyLngNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ISOSctyShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmVldFr" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctVrsnNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxLotNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CvrdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctns" type="LegalRestrictions4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PosLmt" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NearTermPosLmt" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ListgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issnc" type="Issuance5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgMkt" type="TradingParameters2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SprdAndBchmkCrv" type="BenchmarkCurve6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutTp" type="PutType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CallTp" type="CallType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FngbInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cnfdtl" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvtPlcmnt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvtblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPrd" type="DateTimePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsRatioNmrtr" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsRatioDnmtr" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryPlcOfDpst" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgMtd" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TEFRARule" type="TEFRARules3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clss" type="Max16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WhldgTaxRgm" type="SecurityWithHoldingTax1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlPhysForm" type="InitialPhysicalForm4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AftrXchgPhysForm" type="InitialPhysicalForm3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonSfkpr" type="PartyIdentification177Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedTp" type="MaturityRedemptionType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPmtCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rstrctn" type="SecurityRestriction3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification39"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmInf" type="SettlementInformation17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmForm" type="FinancialInstrumentForm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctNm" type="Organisation38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LeadMgr" type="Organisation38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplPngAgt" type="Organisation38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PngAgt" type="Organisation38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="Organisation38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygRsk" type="Organisation38"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationAddress3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mob" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TlxAdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod2">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Debt5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaceAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstFxgDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCpnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctrDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDrctnInd" type="PaymentDirectionIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OddCpnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CPPrgm" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CPRegnTp" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAcrlDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PreFnddInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EscrwdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PerptlInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubrdntdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XtndblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XtndblPrd" type="DateTimePeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverAlltmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverAlltmtRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtsblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstClctnMtd" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlsdIntrst" type="DistributionPolicy2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActlDnmtnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pcs" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlsMax" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlsPerMln" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlsPerLot" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlsPerTrad" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstPrePmtPnltyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstPrePmtYld" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WghtdAvrgCpn" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WghtdAvrgLife" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WghtdAvrgLn" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WghtdAvrgMtrty" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InsrdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BkQlfdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="YldClctn" type="YieldCalculation6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstTp" type="InterestType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrmStrTp" type="InstrumentSubStructureType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GblTp" type="GlobalNote2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PotntlEuroSysElgblty" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Geogcs" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldRg" type="AmountOrPercentageRange1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnRg" type="AmountOrPercentageRange1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrntvMinTaxInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutoRinvstmt" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxConds" type="TradeTransactionCondition7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LookBck" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxSbstitn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinIncrmt" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricFrqcy" type="Frequency35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sctr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbstitnFrqcy" type="Frequency35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbstitnLft" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhlPoolInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricSrc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricRg" type="AmountOrPercentageRange1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Derivative4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Futr" type="Future4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="Option15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DistributionPolicy2Choice">
        <xs:choice>
            <xs:element name="Cd" type="DistributionPolicy1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctyMntncReq" type="SecurityMaintenanceRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Equity3">
        <xs:sequence>
            <xs:element name="PrefToIncm" type="PreferenceToIncome5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonPdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngRghtsPerShr" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentProductType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSecuritiesUpdateReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrument97">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Eqty" type="Equity3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Warrt" type="Warrant4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Debt" type="Debt5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Deriv" type="Derivative4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentForm2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BookgApprnc" type="Appearance3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglForm" type="FormOfSecurity8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity8Choice">
        <xs:choice>
            <xs:element name="Cd" type="FormOfSecurity1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency35Choice">
        <xs:choice>
            <xs:element name="Cd" type="Frequency5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Frequency5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="TEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Future4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FutrDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSz" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmUnit" type="TimeUnit3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlUndrlygAttrbts" type="UnderlyingAttributes4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GlobalNote1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NGNO"/>
            <xs:enumeration value="CGNO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GlobalNote2Choice">
        <xs:choice>
            <xs:element name="Cd" type="GlobalNote1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ISIN2021Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InitialPhysicalForm1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GTGT"/>
            <xs:enumeration value="GPGP"/>
            <xs:enumeration value="DERN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InitialPhysicalForm2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GPGP"/>
            <xs:enumeration value="DERN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InitialPhysicalForm3Choice">
        <xs:choice>
            <xs:element name="Cd" type="InitialPhysicalForm2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InitialPhysicalForm4Choice">
        <xs:choice>
            <xs:element name="Cd" type="InitialPhysicalForm1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InstrumentSubStructureType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABSE"/>
            <xs:enumeration value="AIRT"/>
            <xs:enumeration value="AUTT"/>
            <xs:enumeration value="CBOB"/>
            <xs:enumeration value="CDOB"/>
            <xs:enumeration value="CLNO"/>
            <xs:enumeration value="CLOB"/>
            <xs:enumeration value="CMBS"/>
            <xs:enumeration value="CSMR"/>
            <xs:enumeration value="CRCT"/>
            <xs:enumeration value="HELO"/>
            <xs:enumeration value="LPNO"/>
            <xs:enumeration value="PFAB"/>
            <xs:enumeration value="PYRT"/>
            <xs:enumeration value="REPK"/>
            <xs:enumeration value="RMBS"/>
            <xs:enumeration value="SCBO"/>
            <xs:enumeration value="STRB"/>
            <xs:enumeration value="STUT"/>
            <xs:enumeration value="WBSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstrumentSubStructureType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="InstrumentSubStructureType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ZCPN"/>
            <xs:enumeration value="FIXD"/>
            <xs:enumeration value="FLRN"/>
            <xs:enumeration value="DUAL"/>
            <xs:enumeration value="INDE"/>
            <xs:enumeration value="DSCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestorRestrictionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LERE"/>
            <xs:enumeration value="CITI"/>
            <xs:enumeration value="INDV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestorRestrictionType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestorRestrictionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InvestorType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
            <xs:enumeration value="STAF"/>
            <xs:enumeration value="PPER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestorType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestorType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Issuance5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IssePlc" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIsse" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnncmntDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ISINVldFr" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrOrg" type="Organisation38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseNmnlAmt" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullIssdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseSz" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssePric" type="PriceValue1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssncDstrbtn" type="SecuritiesTransactionType31Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GovngLaw" type="Jurisdiction1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegalRestrictions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USLE"/>
            <xs:enumeration value="NORE"/>
            <xs:enumeration value="REST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegalRestrictions2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="JURO"/>
            <xs:enumeration value="PPLA"/>
            <xs:enumeration value="ACRI"/>
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="PRIV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalRestrictions4Choice">
        <xs:choice>
            <xs:element name="Cd" type="LegalRestrictions1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LegalRestrictions5Choice">
        <xs:choice>
            <xs:element name="Cd" type="LegalRestrictions2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaturityRedemptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRED"/>
            <xs:enumeration value="PRNR"/>
            <xs:enumeration value="PRWR"/>
            <xs:enumeration value="RNDM"/>
            <xs:enumeration value="PRRA"/>
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUUT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MaturityRedemptionType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="MaturityRedemptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Operation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TILL"/>
            <xs:enumeration value="ORRR"/>
            <xs:enumeration value="ANDD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Operator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SMEQ"/>
            <xs:enumeration value="GREA"/>
            <xs:enumeration value="GREQ"/>
            <xs:enumeration value="EQAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Option15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnSttlmStyle" type="SettleStyle2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPrd" type="DateTimePeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkVal" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkMltplr" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrmAssgnmtMtd" type="AssignmentMethod2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryLctn" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Stdstn" type="Standardisation3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPtyRole" type="OptionParty3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="BaseOneRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlUndrlygAttrbts" type="UnderlyingAttributes4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionParty3Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Cd" type="OptionParty1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OptionStyle1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionStyle1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionStyle1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="CANA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType8Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Organisation38">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification177Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtlRegnNb" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="1" name="PstlAdr" type="PostalAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryComAdr" type="CommunicationAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryComAdr" type="CommunicationAddress3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification177Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PaymentDirectionIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress3">
        <xs:sequence>
            <xs:element name="AdrTp" type="AddressType1Code"/>
            <xs:element name="MlngInd" type="YesNoIndicator"/>
            <xs:element name="RegnAdrInd" type="YesNoIndicator"/>
            <xs:element name="NmAndAdr" type="NameAndAddress4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferenceToIncome1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORDN"/>
            <xs:enumeration value="PFRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PreferenceToIncome5Choice">
        <xs:choice>
            <xs:element name="Cd" type="PreferenceToIncome1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Price8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ValTp" type="PriceValueType3Code"/>
            <xs:element name="Val" type="PriceRateOrAmount3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricTp" type="TypeOfPrice1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount3Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceValueType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
            <xs:enumeration value="YIEL"/>
            <xs:enumeration value="SPRE"/>
            <xs:enumeration value="PEUN"/>
            <xs:enumeration value="ABSO"/>
            <xs:enumeration value="TEDP"/>
            <xs:enumeration value="TEDY"/>
            <xs:enumeration value="FICT"/>
            <xs:enumeration value="VACT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PutType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="OPTI"/>
            <xs:enumeration value="TWOS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PutType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="PutType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat1Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="NotSpcfdRate" type="RateType12FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateOrAbsoluteValue1Choice">
        <xs:choice>
            <xs:element name="RateVal" type="PercentageRate"/>
            <xs:element name="AbsVal" type="Number"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="NILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType12FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RateType12Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SELR"/>
            <xs:enumeration value="BUYR"/>
            <xs:enumeration value="PLAR"/>
            <xs:enumeration value="HOLR"/>
            <xs:enumeration value="VOTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSYN"/>
            <xs:enumeration value="SYND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransactionType31Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesUpdateReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSecuritiesUpdateReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityAttributes12">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmTp" type="FinancialInstrument97"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmAttrbts" type="CommonFinancialInstrumentAttributes12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISIN2021Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityMaintenanceRequestV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader1"/>
            <xs:element name="UpdTp" type="UpdateType36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdRsn" type="SecuritiesUpdateReason1Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification39"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityRestriction3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvPrd" type="DateTimePeriod2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnTp" type="SecurityRestrictionType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctnTp" type="LegalRestrictions5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvstrRstrctnTp" type="InvestorRestrictionType3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvstrTp" type="InvestorType3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityRestrictionType2Choice">
        <xs:choice>
            <xs:element name="RstrctnTp" type="RestrictionType1Code"/>
            <xs:element name="PrtryRstrctn" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SecurityStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="INAC"/>
            <xs:enumeration value="SUSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityStatus3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecurityStatus2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityWithHoldingTax1">
        <xs:sequence>
            <xs:element name="WhldgTaxVal" type="RateAndAmountFormat1Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettleStyle1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SETC"/>
            <xs:enumeration value="SETO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettleStyle2Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cd" type="SettleStyle1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementInformation17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesQtyTp" type="SettlementUnitType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSttlmMnth" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinDnmtn" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinMltplQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DevtgSttlmUnit" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="NETO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementUnitType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAMT"/>
            <xs:enumeration value="UNIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementUnitType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementUnitType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Standardisation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLEX"/>
            <xs:enumeration value="NSTA"/>
            <xs:enumeration value="STAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Standardisation3Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Cd" type="Standardisation1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TEFRARules1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RULC"/>
            <xs:enumeration value="RULD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TEFRARules3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TEFRARules1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Term1">
        <xs:sequence>
            <xs:element name="Oprtr" type="Operator1Code"/>
            <xs:element name="Val" type="RateOrAbsoluteValue1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TimeUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYC"/>
            <xs:enumeration value="HOUR"/>
            <xs:enumeration value="MINU"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="SECO"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TimeUnit3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TimeUnit1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPCC"/>
            <xs:enumeration value="SECN"/>
            <xs:enumeration value="SEBN"/>
            <xs:enumeration value="SCBN"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SERT"/>
            <xs:enumeration value="SCCR"/>
            <xs:enumeration value="SECR"/>
            <xs:enumeration value="CAST"/>
            <xs:enumeration value="SPPR"/>
            <xs:enumeration value="SPCU"/>
            <xs:enumeration value="SPEX"/>
            <xs:enumeration value="GTDL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition7Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingParameters2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktId" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RndLot" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradLotSz" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="ScndryPlcOfListg" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinTraddNmnlQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxTraddNmnlQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinTradgPricgIncrmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryPlcOfListgId" type="MICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfPrice1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
            <xs:enumeration value="AVOV"/>
            <xs:enumeration value="COMB"/>
            <xs:enumeration value="GREX"/>
            <xs:enumeration value="LIMI"/>
            <xs:enumeration value="NET2"/>
            <xs:enumeration value="NDIS"/>
            <xs:enumeration value="NET1"/>
            <xs:enumeration value="NUND"/>
            <xs:enumeration value="NOGR"/>
            <xs:enumeration value="PARV"/>
            <xs:enumeration value="RDAV"/>
            <xs:enumeration value="STOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnderlyingAttributes4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnPctg" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTp" type="SettlementType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrtyPric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndPric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstdQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CapVal" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOfMeasure7Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnitOfMeasure9Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UnitOfMeasure9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BAGG"/>
            <xs:enumeration value="BALE"/>
            <xs:enumeration value="BOTL"/>
            <xs:enumeration value="BOXX"/>
            <xs:enumeration value="CRTN"/>
            <xs:enumeration value="CELI"/>
            <xs:enumeration value="CMET"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="CRAT"/>
            <xs:enumeration value="CBIN"/>
            <xs:enumeration value="CBME"/>
            <xs:enumeration value="CBML"/>
            <xs:enumeration value="PIEC"/>
            <xs:enumeration value="FOOT"/>
            <xs:enumeration value="GBFO"/>
            <xs:enumeration value="GBGA"/>
            <xs:enumeration value="GBPI"/>
            <xs:enumeration value="GBQA"/>
            <xs:enumeration value="GBTN"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="INCH"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="KMET"/>
            <xs:enumeration value="LITR"/>
            <xs:enumeration value="METR"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="MILE"/>
            <xs:enumeration value="MMET"/>
            <xs:enumeration value="MILI"/>
            <xs:enumeration value="PUND"/>
            <xs:enumeration value="USOU"/>
            <xs:enumeration value="SCMT"/>
            <xs:enumeration value="SQFO"/>
            <xs:enumeration value="SQIN"/>
            <xs:enumeration value="SQKI"/>
            <xs:enumeration value="SMET"/>
            <xs:enumeration value="SQMI"/>
            <xs:enumeration value="SMIL"/>
            <xs:enumeration value="SQYA"/>
            <xs:enumeration value="USBA"/>
            <xs:enumeration value="USFO"/>
            <xs:enumeration value="USGA"/>
            <xs:enumeration value="USPI"/>
            <xs:enumeration value="USQA"/>
            <xs:enumeration value="USTN"/>
            <xs:enumeration value="YARD"/>
            <xs:enumeration value="GBOU"/>
            <xs:enumeration value="ACRE"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="HECT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitOrFaceAmount1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateType35Choice">
        <xs:choice>
            <xs:element name="Add" type="SecurityAttributes12"/>
            <xs:element name="Del" type="SecurityAttributes12"/>
            <xs:element name="Modfy" type="SecurityAttributes12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateType36Choice">
        <xs:choice>
            <xs:element maxOccurs="3" minOccurs="1" name="UpdTp" type="UpdateType35Choice"/>
            <xs:element name="Rplc" type="SecurityAttributes12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Warrant4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Mltplr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="WarrantStyle3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WarrtAgt" type="Organisation38"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WarrantStyle1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
            <xs:enumeration value="BERM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="WarrantStyle3Choice">
        <xs:choice>
            <xs:element name="Cd" type="WarrantStyle1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldCalculation6">
        <xs:sequence>
            <xs:element name="Val" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnTp" type="CalculationType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPric" type="Price8"/>
            <xs:element name="ValDt" type="ISODate"/>
            <xs:element name="ValPrd" type="DateTimePeriod1Choice"/>
            <xs:element name="ClctnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
