XSDtoGo/xsd/reda.010.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Jun 01 11:09:56, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.010.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.010.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodSearch1Choice">
        <xs:choice>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="DatePeriod2"/>
            <xs:element name="EQDt" type="ISODate"/>
            <xs:element name="NEQDt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctyQry" type="SecurityQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISIN2021Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SecuritiesReturnCriteria1">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="RequestedIndicator"/>
            <xs:element name="ISOSctyLngNm" type="RequestedIndicator"/>
            <xs:element name="ISOSctyShrtNm" type="RequestedIndicator"/>
            <xs:element name="ClssfctnFinInstrm" type="RequestedIndicator"/>
            <xs:element name="MtrtyDt" type="RequestedIndicator"/>
            <xs:element name="IsseDt" type="RequestedIndicator"/>
            <xs:element name="IsseCcy" type="RequestedIndicator"/>
            <xs:element name="CtryOfIsse" type="RequestedIndicator"/>
            <xs:element name="SctySts" type="RequestedIndicator"/>
            <xs:element name="InvstrCSD" type="RequestedIndicator"/>
            <xs:element name="IssrCSD" type="RequestedIndicator"/>
            <xs:element name="TechIssrCSD" type="RequestedIndicator"/>
            <xs:element name="CSD" type="RequestedIndicator"/>
            <xs:element name="SctiesQtyTp" type="RequestedIndicator"/>
            <xs:element name="MinDnmtn" type="RequestedIndicator"/>
            <xs:element name="MinMltplQty" type="RequestedIndicator"/>
            <xs:element name="DevtgSttlmUnit" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSearchCriteria4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DatePeriodSearch1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="DatePeriodSearch1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIsse" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctySts" type="SecurityStatus3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MntngCSD" type="SystemPartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCSD" type="SystemPartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrCSD" type="SystemPartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechIssrCSD" type="SystemPartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CSD" type="SystemPartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISIN2021Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityQueryV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="GenericIdentification1"/>
            <xs:element name="SchCrit" type="SecuritiesSearchCriteria4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SmlSetRtrCrit" type="SecuritiesReturnCriteria1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecurityStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="INAC"/>
            <xs:enumeration value="SUSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityStatus3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecurityStatus2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification2Choice">
        <xs:choice>
            <xs:element name="OrgId" type="PartyIdentification136"/>
            <xs:element name="CmbndId" type="SystemPartyIdentification8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
