XSDtoGo/xsd/reda.015.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Nov 05 16:42:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.015.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.015.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeSearch4Choice">
        <xs:choice>
            <xs:element name="DtTm" type="DateTimeSearch2Choice"/>
            <xs:element name="Dt" type="DatePeriodSearch1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodSearch1Choice">
        <xs:choice>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="DatePeriod2"/>
            <xs:element name="EQDt" type="ISODate"/>
            <xs:element name="NEQDt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeSearch2Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
            <xs:element name="EQDtTm" type="ISODateTime"/>
            <xs:element name="NEQDtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PtyQry" type="PartyQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalSystemPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LockStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOCK"/>
            <xs:enumeration value="ULCK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader2">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyDataReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngDt" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyId" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnId" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctdOnDt" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAdr" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ResTp" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LckSts" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktSpcfcAttr" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyDataSearchCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngDt" type="DatePeriodSearch1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="DatePeriodSearch1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="SystemPartyType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyId" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnIsseDt" type="DateAndDateTimeSearch4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ResTp" type="ResidenceType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LckSts" type="PartyLockStatus1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyLockStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate"/>
            <xs:element name="Sts" type="LockStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LckRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyQueryV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader2"/>
            <xs:element name="SchCrit" type="PartyDataSearchCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="PartyDataReturnCriteria2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT01"/>
            <xs:enumeration value="RT02"/>
            <xs:enumeration value="RT03"/>
            <xs:enumeration value="RT04"/>
            <xs:enumeration value="RT05"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType2Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="RequestType1Code"/>
            <xs:element name="Enqry" type="RequestType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RequestType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT11"/>
            <xs:enumeration value="RT12"/>
            <xs:enumeration value="RT13"/>
            <xs:enumeration value="RT14"/>
            <xs:enumeration value="RT15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="ResidenceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DMST"/>
            <xs:enumeration value="FRGN"/>
            <xs:enumeration value="MXED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemPartyType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
