XSDtoGo/xsd/reda.043.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Nov 05 16:42:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.043.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.043.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CodeOrProprietary1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Contact5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldTo" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod3Choice">
        <xs:choice>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="DatePeriod2"/>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PtyAudtTrlRpt" type="PartyAuditTrailReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LockStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOCK"/>
            <xs:enumeration value="ULCK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketSpecificAttribute1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element name="Val" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader12">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizInstr" type="OriginalBusinessInstruction1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessInstruction1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyAuditTrail1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcrd" type="UpdateLogPartyRecord1Choice"/>
            <xs:element name="OprTmStmp" type="ISODateTime"/>
            <xs:element name="InstgUsr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvgUsr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyAuditTrailOrError1Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PtyAudtTrlRpt" type="PartyAuditTrailReport3"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyAuditTrailOrError2Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AudtTrl" type="PartyAuditTrail1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyAuditTrailReport3">
        <xs:sequence>
            <xs:element name="PtyAudtTrlOrErr" type="PartyAuditTrailOrError2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtPrd" type="DatePeriod3Choice"/>
            <xs:element name="PtyId" type="SystemPartyIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyAuditTrailReportV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader12"/>
            <xs:element name="RptOrErr" type="PartyAuditTrailOrError1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyLockStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate"/>
            <xs:element name="Sts" type="LockStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LckRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyName4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress25">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="CELL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResidenceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DMST"/>
            <xs:enumeration value="FRGN"/>
            <xs:enumeration value="MXED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Restriction1">
        <xs:sequence>
            <xs:element name="RstrctnTp" type="CodeOrProprietary1Choice"/>
            <xs:element name="VldFr" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldUntil" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemPartyType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TechnicalIdentification2Choice">
        <xs:choice>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element name="TechAdr" type="Max256Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateLogAddress1">
        <xs:sequence>
            <xs:element name="Od" type="PostalAddress25"/>
            <xs:element name="New" type="PostalAddress25"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogContact1">
        <xs:sequence>
            <xs:element name="Od" type="Contact5"/>
            <xs:element name="New" type="Contact5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogDate1">
        <xs:sequence>
            <xs:element name="Od" type="ISODate"/>
            <xs:element name="New" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogMarketSpecificAttribute1">
        <xs:sequence>
            <xs:element name="Od" type="MarketSpecificAttribute1"/>
            <xs:element name="New" type="MarketSpecificAttribute1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogPartyLockStatus1">
        <xs:sequence>
            <xs:element name="Od" type="PartyLockStatus1"/>
            <xs:element name="New" type="PartyLockStatus1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogPartyName1">
        <xs:sequence>
            <xs:element name="Od" type="PartyName4"/>
            <xs:element name="New" type="PartyName4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogPartyRecord1Choice">
        <xs:choice>
            <xs:element name="Adr" type="UpdateLogAddress1"/>
            <xs:element name="CtctDtls" type="UpdateLogContact1"/>
            <xs:element name="OpngDt" type="UpdateLogDate1"/>
            <xs:element name="ClsgDt" type="UpdateLogDate1"/>
            <xs:element name="Tp" type="UpdateLogSystemPartyType1"/>
            <xs:element name="TechAdr" type="UpdateLogTechnicalAddress1"/>
            <xs:element name="MktSpcfcAttr" type="UpdateLogMarketSpecificAttribute1"/>
            <xs:element name="Nm" type="UpdateLogPartyName1"/>
            <xs:element name="ResTp" type="UpdateLogResidenceType1"/>
            <xs:element name="LckSts" type="UpdateLogPartyLockStatus1"/>
            <xs:element name="Rstrctn" type="UpdateLogRestriction1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Othr" type="UpdateLogProprietary1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateLogProprietary1">
        <xs:sequence>
            <xs:element name="FldNm" type="Max35Text"/>
            <xs:element name="OdFldVal" type="Max350Text"/>
            <xs:element name="NewFldVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogResidenceType1">
        <xs:sequence>
            <xs:element name="Od" type="ResidenceType1Code"/>
            <xs:element name="New" type="ResidenceType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogRestriction1">
        <xs:sequence>
            <xs:element name="Od" type="Restriction1"/>
            <xs:element name="New" type="Restriction1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogSystemPartyType1">
        <xs:sequence>
            <xs:element name="Od" type="SystemPartyType1Choice"/>
            <xs:element name="New" type="SystemPartyType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateLogTechnicalAddress1">
        <xs:sequence>
            <xs:element name="Od" type="TechnicalIdentification2Choice"/>
            <xs:element name="New" type="TechnicalIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
