XSDtoGo/xsd/reda.004.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Mar 12 17:27:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.004.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.004.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationAndName5">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalInformation15">
        <xs:sequence>
            <xs:element name="InfTp" type="GenericIdentification36"/>
            <xs:element name="InfVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference10">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnnualChargePaymentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPL"/>
            <xs:enumeration value="INCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BusinessDayConvention1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FWNG"/>
            <xs:enumeration value="PREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount202">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryAcct" type="CashAccount203"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryAcct" type="CashAccount203"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount203">
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentificationAndName5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTpDesc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeType8Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundMiFIDFee2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ContactAttributes5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactAttributes6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CostsAndCharges2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ExAnteRefDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IndvCostOrChrg" type="IndividualCostOrCharge2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DistributionStrategy1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnOnly" type="DistributionStrategy1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnWthApprprtnssTstOrNonAdvsdSvcs" type="DistributionStrategy1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAdvc" type="DistributionStrategy1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflMgmt" type="DistributionStrategy1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="OtherDistributionStrategy1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DistributionStrategy1Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestorType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DividendPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="UNIT"/>
            <xs:enumeration value="BOTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FndRefDataRpt" type="FundReferenceDataReportV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EUSavingsDirective1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSI"/>
            <xs:enumeration value="EUSO"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TWMN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="FOMN"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TYEA"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="ONDE"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExPostCostCalculationBasis1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExPostCostCalculationBasis1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExPostCostCalculationBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXB"/>
            <xs:enumeration value="ROLL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExtendedParty13">
        <xs:sequence>
            <xs:element name="PtyRole" type="GenericIdentification36"/>
            <xs:element name="OthrPtyDtls" type="ContactAttributes5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrument96">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysBrScties" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdBrScties" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysRegdScties" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdRegdScties" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddPlcy" type="DividendPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrntEndLd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BckEndLd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchFee" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EUSvgsDrctv" type="EUSavingsDirective1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnchDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndEndDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlOfferEndDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SspnsnStartDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SspnsnEndDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MayBeTermntdEarly" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsdEndFnd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Equlstn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxEffcntPdctElgbl" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Authrsd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RDRCmplnt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MgmtFeeSrc" type="AnnualChargePaymentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrfrmncFee" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Forms1">
        <xs:sequence>
            <xs:element name="ApplForm" type="YesNoIndicator"/>
            <xs:element name="SgntrTp" type="SignatureType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency20Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FundOrderType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="RDIV"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="RGSV"/>
            <xs:enumeration value="WIDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundOrderType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="FundOrderType10Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FundParties1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Guarntr" type="ContactAttributes5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Audtr" type="ContactAttributes5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trstee" type="ContactAttributes5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrPty" type="ExtendedParty13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundPaymentType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="FundPaymentType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FundPaymentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRAF"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="CHEQ"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DDEB"/>
            <xs:enumeration value="CARD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundReferenceDataReport3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthrsdPrxy" type="ContactAttributes6"/>
            <xs:element name="GnlRefDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrgtMktInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExAnteInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExPstInd" type="YesNoIndicator"/>
            <xs:element name="SctyId" type="SecurityIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndPties" type="FundParties1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MainFndOrdrDsk" type="OrderDesk1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndMgmtCpny" type="ContactAttributes5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndDtls" type="FinancialInstrument96"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnDealgChrtcs" type="ValuationDealingProcessingCharacteristics3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtRstrctns" type="InvestmentRestrictions3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPrcgChrtcs" type="ProcessingCharacteristics8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPrcgChrtcs" type="ProcessingCharacteristics7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchPrcgChrtcs" type="ProcessingCharacteristics6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PlanChrtcs" type="InvestmentPlanCharacteristics1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtInstrm" type="PaymentInstrument16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshSttlmDtls" type="CashAccount202"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclMktAnx" type="LocalMarketAnnex4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrgtMkt" type="TargetMarket2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnStrtgy" type="DistributionStrategy1"/>
            <xs:element maxOccurs="2" minOccurs="0" name="CostsAndChrgs" type="CostsAndCharges2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundReferenceDataReportV05">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvsRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndRefDataRptId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="FundReferenceDataReport3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GovernanceProcess1Choice">
        <xs:choice>
            <xs:element name="Cd" type="GovernanceProcessType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GovernanceProcessType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BMIF"/>
            <xs:enumeration value="NINF"/>
            <xs:enumeration value="CMIF"/>
            <xs:enumeration value="AMIF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HoldingTransferable1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRAL"/>
            <xs:enumeration value="TRNA"/>
            <xs:enumeration value="RFOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IndividualCostOrCharge2">
        <xs:sequence>
            <xs:element name="CostTp" type="ChargeType8Choice"/>
            <xs:element name="ExAnteOrExPst" type="IntendedOrActual2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPrd" type="Period15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IntendedOrActual2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANTE"/>
            <xs:enumeration value="POST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundMiFIDFee2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BORF"/>
            <xs:enumeration value="DIS2"/>
            <xs:enumeration value="FES3"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="FES2"/>
            <xs:enumeration value="GOC1"/>
            <xs:enumeration value="GOCS"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="INCS"/>
            <xs:enumeration value="MNF1"/>
            <xs:enumeration value="MANS"/>
            <xs:enumeration value="NET2"/>
            <xs:enumeration value="NESF"/>
            <xs:enumeration value="NETO"/>
            <xs:enumeration value="NRAM"/>
            <xs:enumeration value="OOEA"/>
            <xs:enumeration value="OOSF"/>
            <xs:enumeration value="OOSS"/>
            <xs:enumeration value="BENS"/>
            <xs:enumeration value="ENAC"/>
            <xs:enumeration value="ENFX"/>
            <xs:enumeration value="EXAC"/>
            <xs:enumeration value="ENBX"/>
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="PENO"/>
            <xs:enumeration value="OTES"/>
            <xs:enumeration value="OCAS"/>
            <xs:enumeration value="RPSS"/>
            <xs:enumeration value="TRS1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundPlanType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundPlanType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundPlanType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVP"/>
            <xs:enumeration value="SWIP"/>
            <xs:enumeration value="WTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentNeed2Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentNeed2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InvestmentNeed2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSPE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ISLB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentPlanCharacteristics1">
        <xs:sequence>
            <xs:element name="PlanTp" type="InvestmentFundPlanType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfInstlmts" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="UnitsOrAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlanConttn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSbcpt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSbcptFctn" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentRestrictions3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MinInitlSbcptAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinInitlSbcptUnits" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSbsqntSbcptAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSbsqntSbcptUnits" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRedAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRedUnits" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinRedPctg" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRedRstrctns" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSwtchSbcptAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSwtchSbcptUnits" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxSwtchRedAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxSwtchRedUnits" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrSwtchRstrctns" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgUnits" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgPrd" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgTrfbl" type="HoldingTransferable1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestorKnowledge1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BsicInvstr" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfrmdInvstr" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdvncdInvstr" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExprtInvstrDE" type="TargetMarket1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherTargetMarketInvestorKnowledge1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestorRequirements2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrPrflPrsrvtn" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrPrflGrwth" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrPrflIncm" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrPrflHdgg" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnOrLvrgdRtrPrfl" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrPrflPnsnSchmeDE" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgPrd" type="TimeHorizon2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ESGPrefs" type="TargetMarket2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrSpcfcInvstmtNeed" type="InvestmentNeed2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherInvestmentNeed1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestorType2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTpRtl" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTpPrfssnl" type="TargetMarket5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTpElgblCtrPty" type="TargetMarket3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherTargetMarketInvestor1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestorType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOT3"/>
            <xs:enumeration value="EPRO"/>
            <xs:enumeration value="PRF2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestorType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PRF2"/>
            <xs:enumeration value="NEI1"/>
            <xs:enumeration value="BOT2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestorType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOT3"/>
            <xs:enumeration value="NPRF"/>
            <xs:enumeration value="PRF3"/>
            <xs:enumeration value="PRF4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalMarketAnnex4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Ctry" type="CountryCode"/>
            <xs:element name="LclOrdrDsk" type="OrderDesk1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPrcgChrtcs" type="ProcessingCharacteristics8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPrcgChrtcs" type="ProcessingCharacteristics5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchPrcgChrtcs" type="ProcessingCharacteristics6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshSttlmDtls" type="CashAccount202"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LossBearing2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NoCptlLoss" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdCptlLoss" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdCptlLossLvl" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoCptlGrnt" type="TargetMarket1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LossByndCptl" type="TargetMarket1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherTargetMarketLossBearing1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MainFundOrderDeskLocation1">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TmZoneOffSet" type="UTCOffset1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalOrUnitBased1Choice">
        <xs:choice>
            <xs:element name="Cd" type="NotionalOrUnitBased1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="NotionalOrUnitBased1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNIT"/>
            <xs:enumeration value="NOTI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderDesk1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrDsk" type="ContactAttributes5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClsrDts" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherDistributionStrategy1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnStrtgyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trgt" type="DistributionStrategy1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherInvestmentNeed1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntObjctvsAndNeedsTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trgt" type="TargetMarket1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTargetMarket1">
        <xs:sequence>
            <xs:element name="TrgtMktTp" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTargetMarketInvestor1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trgt" type="TargetMarket3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTargetMarketInvestorKnowledge1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrKnwldgTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trgt" type="TargetMarket1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTargetMarketLossBearing1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AbltyToBearLossesTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trgt" type="TargetMarket1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTargetMarketRiskTolerance1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RskTlrnceTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trgt" type="TargetMarket1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification125Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification139">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification125Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstrument16">
        <xs:sequence>
            <xs:element name="OrdrTp" type="FundOrderType5Choice"/>
            <xs:element name="InstrmTp" type="FundPaymentType1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period15">
        <xs:sequence>
            <xs:element name="StartDt" type="ISODate"/>
            <xs:element name="EndDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingCharacteristics5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DealgCcyAccptd" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedAuthstn" type="Forms1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rndg" type="RoundingDirection2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTmFrame" type="TimeFrame4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTmFrame" type="TimeFrame5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCycl" type="TimeFrame8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingCharacteristics6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DealgCcyAccptd" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchAuthstn" type="Forms1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rndg" type="RoundingDirection2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTmFrame" type="TimeFrame4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTmFrame" type="TimeFrame5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCycl" type="TimeFrame8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingCharacteristics7">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DealgCcyAccptd" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedAuthstn" type="Forms1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rndg" type="RoundingDirection2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTmFrame" type="TimeFrame4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTmFrame" type="TimeFrame6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCycl" type="TimeFrame8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingCharacteristics8">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DealgCcyAccptd" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlInvstmtAppl" type="Forms1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbsqntInvstmtAppl" type="Forms1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rndg" type="RoundingDirection2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgCutOffTmFrame" type="TimeFrame4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealConfTmFrame" type="TimeFrame7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCycl" type="TimeFrame7Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductStructure1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProductStructure1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductStructure1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="NUMM"/>
            <xs:enumeration value="UCMM"/>
            <xs:enumeration value="EXTC"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="SSEC"/>
            <xs:enumeration value="SFUN"/>
            <xs:enumeration value="NUCI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuotationType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="QuotationType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="QuotationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="PRCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReferToFundOrderDesk1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RFOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RiskLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="LOWW"/>
            <xs:enumeration value="MEDM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RiskTolerance1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RskTlrncePRIIPSMthdlgy" type="Max1Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskTlrnceUCITSMthdlgy" type="Max1Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskTlrnceIntl" type="RiskLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskTlrnceForNonPRIIPSAndNonUCITSES" type="Max1Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotForInvstrsWthTheLwstRskTlrnceDE" type="TargetMarket2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherTargetMarketRiskTolerance1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoundingDirection2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="RDWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityClassificationType2Choice">
        <xs:choice>
            <xs:element name="CFI" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification19"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UmbrllNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewUmbrll" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="SecurityClassificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfDmcl" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RegdDstrbtnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="ProductStructure1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="ContactAttributes5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrPdctGovncPrc" type="GovernanceProcess1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctCtgy" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctCtgyDE" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlOrUnitBased" type="NotionalOrUnitBased1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnTp" type="QuotationType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LvrgdOrCntgntLblty" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoRtrcssnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExPstCostClctnBsis" type="ExPostCostCalculationBasis1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SignatureType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="DIGI"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TargetMarket1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TargetMarket1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TargetMarket1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YSCO"/>
            <xs:enumeration value="NEUT"/>
            <xs:enumeration value="NSCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TargetMarket2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RefDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTp" type="InvestorType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KnwldgAndOrExprnc" type="InvestorKnowledge1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AbltyToBearLosses" type="LossBearing2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RskTlrnce" type="RiskTolerance1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntObjctvsAndNeeds" type="InvestorRequirements2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherTargetMarket1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TargetMarket2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEUT"/>
            <xs:enumeration value="YSCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TargetMarket3Choice">
        <xs:choice>
            <xs:element name="Tp" type="InvestorType2Code"/>
            <xs:element name="Othr" type="TargetMarket1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TargetMarket3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YSCO"/>
            <xs:enumeration value="NSCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TargetMarket5Choice">
        <xs:choice>
            <xs:element name="Tp" type="InvestorType4Code"/>
            <xs:element name="Othr" type="TargetMarket1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TimeFrame2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOLD"/>
            <xs:enumeration value="LONG"/>
            <xs:enumeration value="MEDM"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="VSHT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TimeFrame4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTmFrameDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMns" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonWorkgDayAdjstmnt" type="BusinessDayConvention1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrToOrdrDsk" type="ReferToFundOrderDesk1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTmFrameDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TPlus" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonWorkgDayAdjstmnt" type="BusinessDayConvention1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrToOrdrDsk" type="ReferToFundOrderDesk1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTmFrameDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TPlus" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonWorkgDayAdjstmnt" type="BusinessDayConvention1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrToOrdrDsk" type="ReferToFundOrderDesk1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTmFrameDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TPlus" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonWorkgDayAdjstmnt" type="BusinessDayConvention1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrToOrdrDsk" type="ReferToFundOrderDesk1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame7Choice">
        <xs:choice>
            <xs:element name="TPlus" type="Number"/>
            <xs:element name="Prepmt" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeFrame8Choice">
        <xs:choice>
            <xs:element name="TPlus" type="Number"/>
            <xs:element name="RPlus" type="Number"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeFrame9Choice">
        <xs:choice>
            <xs:element name="Cd" type="TimeFrame2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeHorizon2Choice">
        <xs:choice>
            <xs:element name="NbOfYrs" type="DecimalNumber"/>
            <xs:element name="TmFrame" type="TimeFrame9Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UTCOffset1">
        <xs:sequence>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="NbOfHrs" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitsOrAmount1Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Unit" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValuationDealingProcessingCharacteristics3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DcmlstnUnits" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DcmlstnPric" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DualFndInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtd" type="PriceMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PricCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
