XSDtoGo/xsd/reda.023.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Dec 09 12:48:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.023.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.023.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="DataModification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INSE"/>
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesAcctModReq" type="SecuritiesAccountModificationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="MarketSpecificAttribute1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element name="Val" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountModification2">
        <xs:sequence>
            <xs:element name="ScpIndctn" type="DataModification1Code"/>
            <xs:element name="ReqdMod" type="SecuritiesAccountModification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountModification2Choice">
        <xs:choice>
            <xs:element name="SysSctiesAcct" type="SystemSecuritiesAccount5"/>
            <xs:element name="SysRstrctn" type="SystemRestriction1"/>
            <xs:element name="MktSpcfcAttr" type="MarketSpecificAttribute1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountModificationRequestV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader1"/>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mod" type="SecuritiesAccountModification2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemRestriction1">
        <xs:sequence>
            <xs:element name="VldFr" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldTo" type="ISODateTime"/>
            <xs:element name="Tp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemSecuritiesAccount5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NegPos" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndInvstrFlg" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgSchme" type="Exact4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
