XSDtoGo/xsd/secl.005.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 11 14:04:26, ISO 20022 version : 2004-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:secl.005.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:secl.005.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification4">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType6Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RptgAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection20">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearingAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Collateral6">
        <xs:sequence>
            <xs:element name="PstHrcutVal" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CollTp" type="CollateralType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="LCRE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MrgnRpt" type="MarginReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationType6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TypeOfIdentification1Code"/>
                <xs:element name="Prtry" type="GenericIdentification30"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Margin3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgn" type="Amount2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VartnMrgn" type="VariationMargin3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrMrgn" type="Margin4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Margin4">
        <xs:sequence>
            <xs:element name="Tp" type="MarginType1Choice"/>
            <xs:element name="Amt" type="Amount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCalculation1">
        <xs:sequence>
            <xs:element name="TtlMrgnAmt" type="AmountAndDirection20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollOnDpst" type="Collateral6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinRqrmntDpst" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnRslt" type="MarginResult1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCalculation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrAmt" type="Amount2"/>
            <xs:element name="TtlMrgnAmt" type="AmountAndDirection20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollOnDpst" type="Collateral6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinRqrmntDpst" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnRslt" type="MarginResult1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnTpAmt" type="Margin3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarginProduct1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="FIXI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarginProductType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarginProduct1Code"/>
                <xs:element name="Prtry" type="GenericIdentification30"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginReport2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrgnPdct" type="MarginProductType1Choice"/>
            <xs:element name="MrgnAcct" type="SecuritiesAccount18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollsdMrgnAcctInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NonClrMmb" type="PartyIdentificationAndAccount31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnClctnSummry" type="MarginCalculation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MrgnClctn" type="MarginCalculation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginReportV02">
        <xs:sequence>
            <xs:element name="RptParams" type="ReportParameters3"/>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element name="ClrMmb" type="PartyIdentification35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptSummry" type="MarginCalculation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptDtls" type="MarginReport2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginResult1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="XcssAmt" type="ActiveCurrencyAndAmount"/>
                <xs:element name="DfcitAmt" type="ActiveCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarginType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification30"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarginType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEMA"/>
            <xs:enumeration value="ADFM"/>
            <xs:enumeration value="SCMA"/>
            <xs:enumeration value="COMA"/>
            <xs:enumeration value="UFMA"/>
            <xs:enumeration value="CEMA"/>
            <xs:enumeration value="INDE"/>
            <xs:enumeration value="NEMA"/>
            <xs:enumeration value="INMA"/>
            <xs:enumeration value="VAMA"/>
            <xs:enumeration value="INCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification29"/>
                <xs:element name="NmAndAdr" type="NameAndAddress6"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification35Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification29"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount31">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAcct" type="SecuritiesAccount18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportParameters3">
        <xs:sequence>
            <xs:element name="RptId" type="Max35Text"/>
            <xs:element name="RptDtAndTm" type="DateAndDateTimeChoice"/>
            <xs:element name="RptCcy" type="CurrencyCode"/>
            <xs:element name="ClctnDtAndTm" type="ISODateTime"/>
            <xs:element name="Frqcy" type="EventFrequency6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Exact5NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount18">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="ClearingAccountType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalVariationMargin1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngInd" type="ShortLong1Code"/>
            <xs:element name="AmtDtls" type="Amount2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VariationMargin3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TtlVartnMrgn" type="TotalVariationMargin1"/>
            <xs:element name="TtlMrkToMkt" type="Amount2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrkToMktNetd" type="Amount2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrkToMktGrss" type="Amount2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrkToMktFls" type="Amount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FlsHrcut" type="Amount2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
