XSDtoGo/xsd/secl.009.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 11 14:04:32, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:secl.009.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:secl.009.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification4">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType6Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection20">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection27">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BuyIn2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BuyInNtfctnId" type="Max35Text"/>
            <xs:element name="BuyInId" type="Max35Text"/>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="Price4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesBuyIn" type="SecuritiesCompensation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqrdCshCompstn" type="CashCompensation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BuyInConfirmationV03">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element name="ClrMmb" type="PartyIdentification35Choice"/>
            <xs:element name="BuyInDtls" type="BuyIn2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlSttlmOblgtn" type="SettlementObligation7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashCompensation1">
        <xs:sequence>
            <xs:element name="SttlmAmt" type="AmountAndDirection20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fees" type="AmountAndDirection20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BuyInConf" type="BuyInConfirmationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms17">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification40">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification58">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="GenericIdentification40"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification34Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification35Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount31">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAcct" type="SecuritiesAccount18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price4">
        <xs:sequence>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PriceValueType7Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
            <xs:enumeration value="YIEL"/>
            <xs:enumeration value="SPRE"/>
            <xs:enumeration value="PEUN"/>
            <xs:enumeration value="ABSO"/>
            <xs:enumeration value="TEDP"/>
            <xs:enumeration value="TEDY"/>
            <xs:enumeration value="FICT"/>
            <xs:enumeration value="VACT"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat7Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText1"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification58"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount18">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="ClearingAccountType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesCompensation1">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification34Choice"/>
            <xs:element name="SttlmAmt" type="AmountAndDirection20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fees" type="AmountAndDirection20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementObligation7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CSDTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrlCtrPtyTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsBuyInId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSgmt" type="PartyIdentification35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonClrMmb" type="PartyIdentificationAndAccount31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntnddSttlmDt" type="ISODate"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealPric" type="Price4"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification34Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngQtyToBeSttld" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="SttlmAmt" type="AmountAndDirection27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngAmtToBeSttld" type="AmountAndDirection27"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
