XSDtoGo/xsd/secl.006.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 11 14:04:28, ISO 20022 version : 2004-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:secl.006.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:secl.006.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier"/>
                <xs:element name="Othr" type="GenericAccountIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification4">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType6Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection21">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearingAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Collateral3">
        <xs:sequence>
            <xs:element name="PstHrcutVal" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CollTp" type="CollateralType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="SECU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contribution1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="AccountIdentification4Choice"/>
            <xs:element name="ReqrdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncrCvrgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonClrMmb" type="PartyIdentificationAndAccount31"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DefaultFund1">
        <xs:sequence>
            <xs:element name="DfltFndAcct" type="AccountIdentification4Choice"/>
            <xs:element name="TtlDfltFndAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cntrbtn" type="Contribution1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncrCvrgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DefaultFundContributionReportV02">
        <xs:sequence>
            <xs:element name="RptParams" type="ReportParameters2"/>
            <xs:element name="ClrMmb" type="PartyIdentification35Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptDtls" type="DefaultFundReport1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DefaultFundReport1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DfltFndClctn" type="DefaultFund1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CollDesc" type="Collateral3"/>
            <xs:element name="NetXcssOrDfcit" type="AmountAndDirection21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DfltFndCntrbtnRpt" type="DefaultFundContributionReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationType6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TypeOfIdentification1Code"/>
                <xs:element name="Prtry" type="GenericIdentification30"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification29"/>
                <xs:element name="NmAndAdr" type="NameAndAddress6"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification35Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification29"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount31">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAcct" type="SecuritiesAccount18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportParameters2">
        <xs:sequence>
            <xs:element name="RptId" type="Max35Text"/>
            <xs:element name="RptDtAndTm" type="DateAndDateTimeChoice"/>
            <xs:element name="Frqcy" type="EventFrequency6Code"/>
            <xs:element name="RptCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount18">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="ClearingAccountType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
