XSDtoGo/xsd/secl.001.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 11 14:04:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:secl.001.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:secl.001.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification26">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification4">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType6Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification5">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType40Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection21">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection27">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Clearing4">
        <xs:sequence>
            <xs:element name="SttlmNetgElgblCd" type="NettingEligible1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSgmt" type="PartyIdentification35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrntedTrad" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonGrntedTrad" type="NonGuaranteedTrade3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat15Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtCd" type="DateCode3Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveringPartiesAndAccount11">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification34Choice"/>
            <xs:element name="Pty1" type="PartyIdentificationAndAccount102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSys" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TradLegNtfctn" type="TradeLegNotificationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms17">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification40">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification58">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="GenericIdentification40"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType40Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification84">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification85">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MarketType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType8Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketType9Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress13">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NettingEligible1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="AGFS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonGuaranteedTrade3">
        <xs:sequence>
            <xs:element name="TradCtrPtyMmbId" type="PartyIdentification35Choice"/>
            <xs:element name="TradCtrPtyClrMmbId" type="PartyIdentification35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgPties" type="DeliveringPartiesAndAccount11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgPties" type="ReceivingPartiesAndAccount11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification34Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification35Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification83Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount100">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification83Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount102">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcct" type="SubAccount4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount31">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAcct" type="SecuritiesAccount18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price4">
        <xs:sequence>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PriceValueType7Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
            <xs:enumeration value="YIEL"/>
            <xs:enumeration value="SPRE"/>
            <xs:enumeration value="PEUN"/>
            <xs:enumeration value="ABSO"/>
            <xs:enumeration value="TEDP"/>
            <xs:enumeration value="TEDY"/>
            <xs:enumeration value="FICT"/>
            <xs:enumeration value="VACT"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceivingPartiesAndAccount11">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification34Choice"/>
            <xs:element name="Pty1" type="PartyIdentificationAndAccount102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSys" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat7Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText1"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification58"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount18">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="ClearingAccountType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Settlement1">
        <xs:sequence>
            <xs:element name="SttlmAmt" type="AmountAndDirection27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification34Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Side1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="TWOS"/>
            <xs:enumeration value="BUMI"/>
            <xs:enumeration value="SEPL"/>
            <xs:enumeration value="SESH"/>
            <xs:enumeration value="SSEX"/>
            <xs:enumeration value="CROS"/>
            <xs:enumeration value="CRSH"/>
            <xs:enumeration value="CSHE"/>
            <xs:enumeration value="DEFI"/>
            <xs:enumeration value="OPPO"/>
            <xs:enumeration value="UNDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PDNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubAccount4">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeLeg8">
        <xs:sequence>
            <xs:element name="TradLegId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element name="TradExctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Status5Code"/>
            <xs:element name="TradDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="DateFormat15Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCcy" type="CurrencyCode"/>
            <xs:element name="BuySellInd" type="Side1Code"/>
            <xs:element name="TradQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="DealPric" type="Price4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssAmt" type="AmountAndDirection21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection21"/>
            <xs:element name="PlcOfTrad" type="MarketIdentification84"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification85"/>
            <xs:element name="TradTp" type="TradeType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivRltdTrad" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="PartyIdentificationAndAccount100"/>
            <xs:element name="TradgPty" type="PartyIdentification35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRegnOrgn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPtyAcct" type="SecuritiesAccount19"/>
            <xs:element name="TradgCpcty" type="TradingCapacity5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPstngCd" type="TradePosting1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeLegNotificationV03">
        <xs:sequence>
            <xs:element name="ClrMmb" type="PartyIdentification35Choice"/>
            <xs:element name="ClrAcct" type="SecuritiesAccount18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonClrMmb" type="PartyIdentificationAndAccount31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrDtls" type="Clearing4"/>
            <xs:element name="TradLegDtls" type="TradeLeg8"/>
            <xs:element name="SttlmDtls" type="Settlement1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradePosting1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OOBK"/>
            <xs:enumeration value="OFBK"/>
            <xs:enumeration value="BKTR"/>
            <xs:enumeration value="COTR"/>
            <xs:enumeration value="GUTR"/>
            <xs:enumeration value="LKTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingCapacity5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="RISP"/>
            <xs:enumeration value="AGEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfIdentification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
