XSDtoGo/xsd/seev.047.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 04 09:33:59, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.047.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.047.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AccountOwnershipType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USUF"/>
            <xs:enumeration value="OWNR"/>
            <xs:enumeration value="BOWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AccountSubLevel22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NonDscldShrhldgQty" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlwThrshldShrhldgQty" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dsclsr" type="AccountSubLevel23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSubLevel23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element name="AcctHldr" type="PartyIdentification243"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ShrhldgBal" type="ShareholdingBalance1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth2">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CityOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode20Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat46Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateCode20Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat57Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtCd" type="DateCode20Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Disclosure2Choice">
        <xs:choice>
            <xs:element name="NoDsclsr" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SfkpgAcctAndHldgs" type="SafekeepingAccount11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DisclosureRequestIdentification1">
        <xs:sequence>
            <xs:element name="IssrDsclsrReqId" type="Max35Text"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="ShrhldrsDsclsrRcrdDt" type="DateFormat46Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ShrhldrsIdDsclsrRspn" type="ShareholdersIdentificationDisclosureResponseV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Eligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity18Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}[0-9]{0,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYear">
        <xs:restriction base="xs:gYear"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType45Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestorType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Eligibility1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress17">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="IdentificationType45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ownership1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrshTp" type="OwnershipType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrshPctg" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsfrctPctg" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OwnershipType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AccountOwnershipType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification195Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification198Choice">
        <xs:choice>
            <xs:element name="NtlRegnNb" type="Max35Text"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification201">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="PersonName2"/>
            <xs:element name="Id" type="PartyIdentification198Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification202">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName1"/>
            <xs:element name="Id" type="NaturalPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification205Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification201"/>
            <xs:element name="NtrlPrsn" type="PartyIdentification202"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification217">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="NaturalPersonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTp" type="InvestorType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ownrsh" type="Ownership1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification218">
        <xs:sequence>
            <xs:element name="Role" type="PartyRole6Choice"/>
            <xs:element name="Id" type="PartyIdentification205Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification219">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName2"/>
            <xs:element name="Id" type="PartyIdentification195Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification237">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="NameAndAddress17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="PartyIdentification198Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIncorprtn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YrOfIncorprtn" type="ISOYear"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtyInd" type="ISICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrTp" type="InvestorType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ownrsh" type="Ownership1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification243">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LglPrsn" type="PartyIdentification237"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtrlPrsn" type="PartyIdentification217"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="LGRD"/>
            <xs:enumeration value="DECM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyRole6Choice">
        <xs:choice>
            <xs:element name="Cd" type="PartyRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonName1">
        <xs:sequence>
            <xs:element name="FrstNm" type="Max350Text"/>
            <xs:element name="Srnm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName2">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element name="FrstNm" type="Max350Text"/>
            <xs:element name="Srnm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingAccount11">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element name="AcctSvcr" type="PartyIdentification195Choice"/>
            <xs:element name="ShrhldgBalOnOwnAcct" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element name="ShrhldgBalOnClntAcct" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element name="TtlShrhldgBal" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSubLvl" type="AccountSubLevel22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShareholdersIdentificationDisclosureResponseV02">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pgntn" type="Pagination1"/>
            <xs:element name="IssrDsclsrReqRef" type="DisclosureRequestIdentification1"/>
            <xs:element name="DsclsrRspnId" type="Max35Text"/>
            <xs:element name="RspndgIntrmy" type="PartyIdentification219"/>
            <xs:element name="DsclsrInf" type="Disclosure2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShareholdingBalance1">
        <xs:sequence>
            <xs:element name="ShrhldgTp" type="ShareholdingType1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlDtOfShrhldg" type="DateFormat57Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ThrdPty" type="PartyIdentification218"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShareholdingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BENE"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="OOAC"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
