XSDtoGo/xsd/seev.030.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:11:51, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.030.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.030.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgentCADeactivationStatusAdviceV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8"/>
            <xs:choice>
                <xs:element name="AgtCADeactvtnInstrId" type="DocumentIdentification8"/>
                <xs:element name="AgtCADeactvtnCxlReqId" type="DocumentIdentification8"/>
            </xs:choice>
            <xs:element name="CorpActnGnlInf" type="CorporateActionInformation1"/>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="DeactvtnInstrSts" type="CorporateActionDeactivationInstructionStatus1"/>
                <xs:element name="DeactvtnCxlReqSts" type="CorporateActionDeactivationCancellationStatus1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max70Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionDeactivationCancellationProcessingStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="ProcessedStatus2FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDeactivationCancellationRejectionStatus1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason7FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDeactivationCancellationStatus1Choice">
        <xs:choice>
            <xs:element name="PrcdSts" type="CorporateActionDeactivationCancellationProcessingStatus1"/>
            <xs:element name="RjctdSts" type="CorporateActionDeactivationCancellationRejectionStatus1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionDeactivationInstructionProcessingStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="ProcessedStatus6FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDeactivationInstructionRejectionStatus1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason12FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDeactivationInstructionStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="CorporateActionOption1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnNb" type="Exact3NumericText"/>
            <xs:choice>
                <xs:element name="PrcdSts" type="CorporateActionDeactivationInstructionProcessingStatus1"/>
                <xs:element name="RjctdSts" type="CorporateActionDeactivationInstructionRejectionStatus1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventProcessingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENL"/>
            <xs:enumeration value="DISN"/>
            <xs:enumeration value="REOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventProcessingType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventProcessingType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType2FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionInformation1">
        <xs:sequence>
            <xs:element name="AgtId" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrCorpActnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnPrcgId" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType2FormatChoice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtPrcgTp" type="CorporateActionEventProcessingType1FormatChoice"/>
            <xs:element name="UndrlygScty" type="FinancialInstrumentDescription3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMandatoryVoluntary1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="QINV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AgtCADeactvtnStsAdvc" type="AgentCADeactivationStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentDescription3">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessedStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="COMP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessedStatus2FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessedStatus2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessedStatus6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="DEAC"/>
            <xs:enumeration value="COMP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessedStatus6FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessedStatus6Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEAC"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="SAME"/>
            <xs:enumeration value="REFI"/>
            <xs:enumeration value="AGIN"/>
            <xs:enumeration value="MAIN"/>
            <xs:enumeration value="OPTI"/>
            <xs:enumeration value="PEDA"/>
            <xs:enumeration value="NORO"/>
            <xs:enumeration value="INET"/>
            <xs:enumeration value="INUS"/>
            <xs:enumeration value="INPT"/>
            <xs:enumeration value="INMV"/>
            <xs:enumeration value="SAID"/>
            <xs:enumeration value="MICA"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason12FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason12Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEAC"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="PDEA"/>
            <xs:enumeration value="INID"/>
            <xs:enumeration value="REFI"/>
            <xs:enumeration value="AGIN"/>
            <xs:enumeration value="SAID"/>
            <xs:enumeration value="DEAO"/>
            <xs:enumeration value="INET"/>
            <xs:enumeration value="INUS"/>
            <xs:enumeration value="INPT"/>
            <xs:enumeration value="INMV"/>
            <xs:enumeration value="INDE"/>
            <xs:enumeration value="INDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason7FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason7Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification7">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
