XSDtoGo/xsd/seev.010.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:11:49, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.010.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.010.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification2Choice">
        <xs:choice>
            <xs:element name="CshAcctId" type="Max35Text"/>
            <xs:element name="SctiesAcctId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgentCANotificationCancellationRequestV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8"/>
            <xs:element name="NtfctnCxlTpAndLkg" type="NotificationCancellation1"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionInformation2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnNtfctnDtls" type="CorporateActionNotificationAdvice1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgentRole1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="AgentRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AgentRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPAY"/>
            <xs:enumeration value="CODO"/>
            <xs:enumeration value="ISAG"/>
            <xs:enumeration value="REGR"/>
            <xs:enumeration value="PAYA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max70Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndQuantityRatio1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Qty" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndRateFormat2Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="NotSpcfdRate" type="RateType12FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountAndRateFormat3Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="NotSpcfdRate" type="RateValueType6FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountPrice1">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1FormatChoice"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount1">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1FormatChoice"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1FormatChoice"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="UnitOrFaceAmount1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountPriceType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="AmountPriceType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountToAmountRatio1">
        <xs:sequence>
            <xs:element name="Amt1" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Amt2" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BeneficiaryCertificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCI"/>
            <xs:enumeration value="DOMI"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="QIBB"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="NCOM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficiaryCertificationType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="BeneficiaryCertificationType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashOption1">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtDtls" type="CorporateActionAmounts1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="ForeignExchangeTerms8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConversionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FINL"/>
            <xs:enumeration value="INTE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConversionType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ConversionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateAction2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtStag" type="CorporateActionEventStage1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltOptnTp" type="CorporateActionOption1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltOptnNb" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnMtd" type="CorporateActionCalculationMethod1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BckEndOddLotSctiesQty" type="UnitOrFaceAmountOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrntEndOddLotSctiesQty" type="UnitOrFaceAmountOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblMltplSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncrmtlDnmtn" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDnmtnSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewBrdLotSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesQtySght" type="UnitOrFaceAmountOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BaseDnmtn" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChngTp" type="CorporateActionChangeType1FormatChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OfferTp" type="OfferType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlElctnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctnTp" type="ElectionMovementType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryTp" type="LotteryType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddTp" type="CorporateActionFrequencyType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmdtSctiesDstrbtnTp" type="IntermediateSecurityDistributionType1FormatChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CpnNb" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAcrdNbOfDays" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDnmtnCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PricDtls" type="CorporateActionPrice2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdDtls" type="CorporateActionPeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnAddtlInf" type="CorporateActionNarrative1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnReqrdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnTp" type="BeneficiaryCertificationType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGn" type="EUCapitalGain2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewPlcOfIncorprtn" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RnncblEntitlmntStsTp" type="RenounceableStatus1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsTp" type="ConversionType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedChrgsApldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnTp" type="DistributionType1FormatChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionAgent1">
        <xs:sequence>
            <xs:element name="AgtId" type="PartyIdentification2Choice"/>
            <xs:element name="AgtRole" type="AgentRole1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="NameAndAddress5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionAmounts1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDscntAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShr" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndmntyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPrmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrdDvddAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplOrCrps" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UfrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndryOrOthrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpclCncssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshIncntiv" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSbcptCost" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxFreeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxDfrrdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax1Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax2Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax3Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax4Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EURtntnTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtLevyTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryNtlFdrlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfFrgnTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfLclTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmpAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PngAgtComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstgFeeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionCalculationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROR"/>
            <xs:enumeration value="LOTT"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="NNOM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionCalculationMethod1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionCalculationMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionChangeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BERE"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="DEPH"/>
            <xs:enumeration value="GPPH"/>
            <xs:enumeration value="GTGP"/>
            <xs:enumeration value="GTPH"/>
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="PHDE"/>
            <xs:enumeration value="REBE"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="DECI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionChangeType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionChangeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverXprtnDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EqulstnDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnFxgDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UcondlDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhlyUcondlDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltsPblctnDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrtApprvlDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyClsgDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExDvddDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFxgDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSspdDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnDdln" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDdln" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrratnDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DdlnForTaxBrkdwnInstr" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LpsdDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrntedPrtcptnDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctnToCtrPtyDdln" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpclExDt" type="DateFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddRnkgDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrpssDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstDealgDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnClpngDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnsntXprtnDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnsntRcrdDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DdlnToSplt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnSetngDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptCostDbtDt" type="DateFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRateFxgDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventProcessingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENL"/>
            <xs:enumeration value="DISN"/>
            <xs:enumeration value="REOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventProcessingType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventProcessingType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventStage1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPD"/>
            <xs:enumeration value="CLDE"/>
            <xs:enumeration value="PWAL"/>
            <xs:enumeration value="SUAP"/>
            <xs:enumeration value="UNAC"/>
            <xs:enumeration value="WHOU"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RESC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStage1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventStage1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTI"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INAC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStatus2FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventStatus2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType2FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionFrequencyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FINL"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="REGR"/>
            <xs:enumeration value="SPEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionFrequencyType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionFrequencyType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionInformation2">
        <xs:sequence>
            <xs:element name="AgtId" type="PartyIdentification2Choice"/>
            <xs:element name="IssrCorpActnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnPrcgId" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType2FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtPrcgTp" type="CorporateActionEventProcessingType1FormatChoice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary1FormatChoice"/>
            <xs:element name="UndrlygScty" type="FinancialInstrumentDescription3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrUndrlygScty" type="FinancialInstrumentDescription3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMandatoryVoluntary1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InfConds" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfToCmplyWth" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnConds" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewCpnyNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Offerr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNotificationAdvice1">
        <xs:sequence>
            <xs:element name="CorpActnDtls" type="CorporateAction2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnOptnDtls" type="CorporateActionOption1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionNotificationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="CANC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption1">
        <xs:sequence>
            <xs:element name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption1FormatChoice"/>
            <xs:element name="OptnAvlbtySts" type="CorporateActionEventStatus2FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnTp" type="BeneficiaryCertificationType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssntdLineSctyId" type="SecurityIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtSctiesAcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtCshAcctId" type="AccountIdentification2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OfferTp" type="OfferType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmdtSctiesDstrbtnTp" type="IntermediateSecurityDistributionType1FormatChoice"/>
            <xs:element name="WdrwlAllwdInd" type="YesNoIndicator"/>
            <xs:element name="ChngAllwdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdDtls" type="CorporateActionPeriod2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecurityOption1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnOthrAgtDtls" type="CorporateActionAgent1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedChrgsApldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnFeatrs" type="OptionFeatures1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnAddtlInf" type="CorporateActionNarrative1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="QINV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionPeriod1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplsryPurchsPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckgPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricClctnPrd" type="Period1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPeriod2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AssntdLinePrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvlgSspnsnPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParllTradgPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SellThruIssrPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltyPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricClctnPrd" type="Period1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="PriceFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssePric" type="PriceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerDvddShr" type="AmountPrice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverSbcptDpstPric" type="PriceFormat2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxPric" type="PriceFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinPric" type="PriceFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvPric" type="PriceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPric" type="PriceFormat2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrst" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdIndx" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgSght" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtDscntToMkt" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BidIntrvl" type="AmountAndRateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrgs" type="RateAndAmountFormat1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTax" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfFrgnTax" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfLclTax" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax1" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax2" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax3" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrmnLclTax4" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncm" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnPrft" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclm" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prratn" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewToOd" type="RatioFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewSctiesToUndrlygScties" type="RatioFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForExstgScties" type="RatioFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForSbcbdRsltntScties" type="RatioFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdTax" type="RelatedTaxType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonResdtRate" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrgs" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstForUsdPmt" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkd" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssDvdd" type="GrossDividendRate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetDvdd" type="NetDividendRate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlDvdd" type="AmountAndRateFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsnlDvdd" type="AmountAndRateFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshIncntiv" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFee" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAllwdOvrsbcpt" type="RateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="ForeignExchangeTerms8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="RateFormat1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat4Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="NotSpcfdDt" type="DateType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROLL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DistributionType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="DistributionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AgtCANtfctnCxlReq" type="AgentCANotificationCancellationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EUCapitalGain2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSI"/>
            <xs:enumeration value="EUSO"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ElectionMovementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REST"/>
            <xs:enumeration value="DRCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ElectionMovementType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ElectionMovementType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentDescription3">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms8">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="RDDN"/>
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="STAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FractionDispositionType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="FractionDispositionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrossDividendRate1Choice">
        <xs:choice>
            <xs:element name="NotSpcfdRate" type="RateValueType2FormatChoice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RateTpAmt" type="GrossDividendRate2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GrossDividendRate2">
        <xs:sequence>
            <xs:element name="RateTp" type="GrossDividendRateType1FormatChoice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GrossDividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="STCG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GrossDividendRateType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="GrossDividendRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IntermediateSecurityDistributionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="SOFF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntermediateSecurityDistributionType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="IntermediateSecurityDistributionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LotteryType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="SUPP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LotteryType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="LotteryType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetDividendRate1Choice">
        <xs:choice>
            <xs:element name="NotSpcfdRate" type="RateValueType6FormatChoice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RateTpAmt" type="NetDividendRate2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NetDividendRate2">
        <xs:sequence>
            <xs:element name="RateTp" type="NetDividendRateType1FormatChoice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetDividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetDividendRateType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="NetDividendRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NotificationCancellation1">
        <xs:sequence>
            <xs:element name="NtfctnCxlTp" type="CorporateActionNotificationType2Code"/>
            <xs:element name="LkdAgtCANtfctnAdvcId" type="DocumentIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OfferType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISS"/>
            <xs:enumeration value="ERUN"/>
            <xs:enumeration value="FCFS"/>
            <xs:enumeration value="FINL"/>
            <xs:enumeration value="MINI"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SQUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OfferType1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="OfferType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionFeatures1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COND"/>
            <xs:enumeration value="MAXC"/>
            <xs:enumeration value="MAXS"/>
            <xs:enumeration value="OPLF"/>
            <xs:enumeration value="PROR"/>
            <xs:enumeration value="QOVE"/>
            <xs:enumeration value="QREC"/>
            <xs:enumeration value="VVPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionFeatures1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="OptionFeatures1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period1">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat4Choice"/>
            <xs:element name="EndDt" type="DateFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat1Choice">
        <xs:choice>
            <xs:element name="Amt" type="AmountPrice1"/>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity1"/>
            <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount1"/>
            <xs:element name="NotSpcfd" type="PriceValueType6FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat2Choice">
        <xs:choice>
            <xs:element name="Amt" type="AmountPrice1"/>
            <xs:element name="Rate" type="PriceRate1"/>
            <xs:element name="NotSpcfd" type="PriceValueType5FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat3Choice">
        <xs:choice>
            <xs:element name="Amt" type="AmountPrice1"/>
            <xs:element name="Rate" type="PriceRate1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat4Choice">
        <xs:choice>
            <xs:element name="Amt" type="AmountPrice1"/>
            <xs:element name="Rate" type="PriceRate1"/>
            <xs:element name="NotSpcfd" type="PriceValueType5FormatChoice"/>
            <xs:element name="IndxPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceRate1">
        <xs:sequence>
            <xs:element name="RateTp" type="PriceRateType3FormatChoice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceRateType3FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="PriceRateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceValueType5FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="PriceValueType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="TBSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceValueType6FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="PriceValueType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Quantity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuantityToQuantityRatio1">
        <xs:sequence>
            <xs:element name="Qty1" type="DecimalNumber"/>
            <xs:element name="Qty2" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat1Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="NotSpcfdRate" type="RateType12FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateFormat1Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="NotSpcfdRate" type="RateType12FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="NILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType12FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RateType12Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateValueType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="NILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateValueType2FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RateValueType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateValueType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateValueType6FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RateValueType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RatioFormat1Choice">
        <xs:choice>
            <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
            <xs:element name="AmtToAmt" type="AmountToAmountRatio1"/>
            <xs:element name="NotSpcfdRate" type="RateType12FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RatioFormat2Choice">
        <xs:choice>
            <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
            <xs:element name="AmtToAmt" type="AmountToAmountRatio1"/>
            <xs:element name="AmtToQty" type="AmountAndQuantityRatio1"/>
            <xs:element name="QtyToAmt" type="AmountAndQuantityRatio1"/>
            <xs:element name="NotSpcfdRate" type="RateType12FormatChoice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelatedTaxType1">
        <xs:sequence>
            <xs:element name="TaxTp" type="TaxType3FormatChoice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RenounceableStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NREN"/>
            <xs:enumeration value="RENO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RenounceableStatus1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RenounceableStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification7">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityOption1">
        <xs:sequence>
            <xs:element name="SctyId" type="FinancialInstrumentDescription3"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblMltplSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDnmtnSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewBrdLotSctiesQty" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrRnkg" type="ShareRanking1FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForSbcbdRsltntScties" type="QuantityToQuantityRatio1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForExstgScties" type="QuantityToQuantityRatio1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempFinInstrmInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType1FormatChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShareRanking1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIVI"/>
            <xs:enumeration value="PARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ShareRanking1FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ShareRanking1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LIDT"/>
            <xs:enumeration value="WITF"/>
            <xs:enumeration value="WITL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxType3FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxableIncomePerShareCalculated2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSIY"/>
            <xs:enumeration value="TSIN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitOrFaceAmount1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnitOrFaceAmountOrCode1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Cd" type="Quantity1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
