XSDtoGo/xsd/seev.053.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 04 10:15:49, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.053.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.053.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancelledReason9Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatus11Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancelledStatusReason12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatusReason12">
        <xs:sequence>
            <xs:element name="RsnCd" type="CancelledReason9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashOption76">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WhldgTaxRate" type="RateAndAmountFormat40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateAndDateTime2Choice"/>
            <xs:element name="PmtDt" type="DateFormat43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType85Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType29Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation157">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType85Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption185">
        <xs:sequence>
            <xs:element name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption30Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOption76"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption76"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption30Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode19Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat43Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateCode19Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat58Choice">
        <xs:choice>
            <xs:element name="DtOrDtTm" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MktClmCxlReqStsAdvc" type="MarketClaimCancellationRequestStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClaimCancellationRequestStatus1Choice">
        <xs:choice>
            <xs:element name="CxlCmpltd" type="CancelledStatus11Choice"/>
            <xs:element name="Accptd" type="NoSpecifiedReason1"/>
            <xs:element name="Rjctd" type="RejectedStatus38Choice"/>
            <xs:element name="PdgCxl" type="PendingCancellationStatus11Choice"/>
            <xs:element name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketClaimCancellationRequestStatusAdviceV01">
        <xs:sequence>
            <xs:element name="MktClmCxlReqId" type="DocumentIdentification9"/>
            <xs:element name="TxRef" type="References26"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation157"/>
            <xs:element name="MktClmCxlReqSts" type="MarketClaimCancellationRequestStatus1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmDtls" type="CorporateActionOption185"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingCancellationReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingCancellationReason8Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingCancellationReason7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatus11Choice">
        <xs:choice>
            <xs:element name="NotSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingCancellationStatusReason11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatusReason11">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingCancellationReason8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat40Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndRate" type="RateTypeAndPercentageRate8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="WithholdingTaxRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateTypeAndPercentageRate8">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType42Choice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References26">
        <xs:sequence>
            <xs:element name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedReason38Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason61Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus38Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectedStatusReason36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason36">
        <xs:sequence>
            <xs:element name="RsnCd" type="RejectedReason38Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason61Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="DPRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesOption76">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="EntitldQty" type="Quantity6Choice"/>
            <xs:element name="PmtDt" type="DateFormat58Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WithholdingTaxRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BWIT"/>
            <xs:enumeration value="FTCA"/>
            <xs:enumeration value="NRAT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
