XSDtoGo/xsd/seev.004.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 05 12:29:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.004.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.004.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AttendanceCard3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCardLbllg" type="Max105Text"/>
            <xs:element name="DlvryMtd" type="DeliveryPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAdr" type="NameAndAddress9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndPlaceOfBirth2">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CityOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="EMPL"/>
            <xs:enumeration value="INDI"/>
            <xs:enumeration value="ENTR"/>
            <xs:enumeration value="OADR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstr" type="MeetingInstructionV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="Max35Text"/>
            <xs:element name="AcctOwnrDocId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity18Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance10">
        <xs:sequence>
            <xs:element name="Bal" type="UnitOrFaceAmountOrCode2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat28Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType45Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson41">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification232Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcptnMtd" type="VotingParticipationMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification129Choice"/>
            <xs:element name="AttndncCardDtls" type="AttendanceCard3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualPerson42">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrssgndPrxy" type="PartyIdentification232Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification129Choice"/>
            <xs:element name="AttndncCardDtls" type="AttendanceCard3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Instruction5">
        <xs:sequence>
            <xs:element name="SnglInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDt" type="ISODateTime"/>
            <xs:element name="VoteExctnConf" type="YesNoIndicator"/>
            <xs:element name="AcctDtls" type="SafekeepingAccount12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="Proxy10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteDtls" type="VoteDetails5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MtgAttndee" type="IndividualPerson41"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpcfcInstrReq" type="SpecificInstructionRequest3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPostalAddress2Choice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max350Text"/>
            <xs:element name="Strd" type="PostalAddress1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionV07">
        <xs:sequence>
            <xs:element name="MtgRef" type="MeetingReference10"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Instr" type="Instruction5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference10">
        <xs:sequence>
            <xs:element name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="MtgDtAndTm" type="ISODateTime"/>
            <xs:element name="Tp" type="MeetingType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification2Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyIdentification129Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
            <xs:enumeration value="BMET"/>
            <xs:enumeration value="CMET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="VRHI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress9">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="IdentificationType45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParticipationMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="VotingParticipationMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification129Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification198Choice">
        <xs:choice>
            <xs:element name="NtlRegnNb" type="Max35Text"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification221">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="PartyIdentification198Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification224">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification198Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification231Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification221"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NtrlPrsn" type="PartyIdentification238"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification232Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification221"/>
            <xs:element name="NtrlPrsn" type="PartyIdentification238"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification233Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification224"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NtrlPrsn" type="PartyIdentification240"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification238">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="NaturalPersonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification240">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="NaturalPersonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyRole3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GATR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonName2">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element name="FrstNm" type="Max350Text"/>
            <xs:element name="Srnm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PledgeInformation1">
        <xs:sequence>
            <xs:element name="Pldgr" type="PartyIdentification232Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrdPty" type="ThirdPartyIdentification1"/>
            <xs:element name="PldgTp" type="GenericIdentification36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrSctiesInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition7Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryVote1">
        <xs:sequence>
            <xs:element name="Cd" type="GenericIdentification30"/>
            <xs:element name="Qty" type="QuantityOrCode1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Proxy10">
        <xs:sequence>
            <xs:element name="PrxyTp" type="ProxyType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnDtls" type="IndividualPerson42"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProxyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="HLDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Quantity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuantityOrCode1Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element name="Cd" type="Quantity1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingAccount12">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification231Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctId" type="Max35Text"/>
            <xs:element maxOccurs="15" minOccurs="1" name="InstdBal" type="HoldingBalance10"/>
            <xs:element maxOccurs="250" minOccurs="0" name="RghtsHldr" type="PartyIdentification233Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PldgDtls" type="PledgeInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat28Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SETD"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="UNBA"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="REGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecificInstructionRequest3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcptnMtd" type="ParticipationMethod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRegn" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ThirdPartyIdentification1">
        <xs:sequence>
            <xs:element name="Role" type="PartyRole3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglPrsnId" type="PartyIdentification221"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitOrFaceAmountOrCode2Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Cd" type="Quantity1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Vote14">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ListgGrpRsltnLabl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="For" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Agnst" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Abstn" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wthhld" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WthMgmt" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgnstMgmt" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrtnry" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OneYr" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwoYrs" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThreeYrs" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoActn" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Blnk" type="QuantityOrCode1Choice"/>
            <xs:element maxOccurs="4" minOccurs="0" name="Prtry" type="ProprietaryVote1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vote15">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element name="VoteOptn" type="VoteInstructionType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vote15Choice">
        <xs:choice>
            <xs:element name="VotePerAgndRsltn" type="Vote16Choice"/>
            <xs:element name="VoteForAllAgndRsltns" type="VoteInstructionType1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Vote16Choice">
        <xs:choice>
            <xs:element maxOccurs="1000" minOccurs="1" name="VoteInstr" type="Vote14"/>
            <xs:element maxOccurs="1000" minOccurs="1" name="GblVoteInstr" type="Vote15"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="VoteDetails5">
        <xs:sequence>
            <xs:element name="VoteInstrForAgndRsltn" type="Vote15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteInstrForMtgRsltn" type="VoteInstructionForMeetingResolution3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VoteInstruction6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="ONEY"/>
            <xs:enumeration value="THRY"/>
            <xs:enumeration value="TWOY"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteInstruction7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="ONEY"/>
            <xs:enumeration value="THRY"/>
            <xs:enumeration value="TWOY"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VoteInstructionForMeetingResolution3Choice">
        <xs:choice>
            <xs:element name="VoteIndctn" type="VoteInstructionType1Choice"/>
            <xs:element name="Shrhldr" type="NameAndAddress9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="VoteInstructionType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="VoteInstruction6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="VoteInstructionType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="VoteInstruction7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="VotingParticipationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PHNV"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="VIRT"/>
            <xs:enumeration value="EVOT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VotingParticipationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHNV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
