XSDtoGo/xsd/seev.006.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 05 12:29:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.006.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.006.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationProcessingStatus2">
        <xs:sequence>
            <xs:element name="Sts" type="CancellationStatus6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus26Choice">
        <xs:choice>
            <xs:element name="PrcgSts" type="CancellationProcessingStatus2"/>
            <xs:element name="Rjctd" type="RejectedStatus31Choice"/>
            <xs:element name="PdgCxl" type="PendingCancellationStatus10Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus27Choice">
        <xs:choice>
            <xs:element name="GblCxlSts" type="CancellationStatus26Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DtldCxlSts" type="DetailedInstructionCancellationStatus14"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancellationStatus6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="RCIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndPlaceOfBirth2">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CityOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedInstructionCancellationStatus14">
        <xs:sequence>
            <xs:element name="SnglInstrCxlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctId" type="Max35Text"/>
            <xs:element name="InstrCxlSts" type="CancellationStatus26Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedInstructionStatus14">
        <xs:sequence>
            <xs:element name="SnglInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctId" type="Max35Text"/>
            <xs:element name="InstrSts" type="InstructionStatus10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstrSts" type="MeetingInstructionStatusV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType45Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionProcessingStatus5">
        <xs:sequence>
            <xs:element name="Sts" type="Status9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCardNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionStatus10Choice">
        <xs:choice>
            <xs:element name="PrcgSts" type="InstructionProcessingStatus5"/>
            <xs:element name="Rjctd" type="RejectedStatus36Choice"/>
            <xs:element name="Pdg" type="PendingStatus55Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionType2Choice">
        <xs:choice>
            <xs:element name="InstrId" type="Max35Text"/>
            <xs:element name="InstrCxlId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionTypeStatus4Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InstrSts" type="DetailedInstructionStatus14"/>
            <xs:element name="CxlSts" type="CancellationStatus27Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionStatusV07">
        <xs:sequence>
            <xs:element name="InstrTp" type="InstructionType2Choice"/>
            <xs:element name="MtgRef" type="MeetingReference10"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="InstrTpSts" type="InstructionTypeStatus4Choice"/>
            <xs:element name="CnfrmgPty" type="PartyIdentification226Choice"/>
            <xs:element name="VoteCstgPty" type="PartyIdentification226Choice"/>
            <xs:element maxOccurs="250" minOccurs="0" name="RghtsHldr" type="PartyIdentification233Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference10">
        <xs:sequence>
            <xs:element name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="MtgDtAndTm" type="ISODateTime"/>
            <xs:element name="Tp" type="MeetingType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification2Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyIdentification129Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
            <xs:enumeration value="BMET"/>
            <xs:enumeration value="CMET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="VRHI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="IdentificationType45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification129Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification198Choice">
        <xs:choice>
            <xs:element name="NtlRegnNb" type="Max35Text"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification222">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="NaturalPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification224">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification198Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification226Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification224"/>
            <xs:element name="NtrlPrsn" type="PartyIdentification222"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification233Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification224"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NtrlPrsn" type="PartyIdentification240"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification240">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="NaturalPersonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingCancellationReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ADEA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingCancellationReason7Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingCancellationReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatus10Choice">
        <xs:choice>
            <xs:element name="NotSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingCancellationStatusReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatusReason10">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingCancellationReason7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ADDM"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DREM"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="IPOA"/>
            <xs:enumeration value="IPOS"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NPOS"/>
            <xs:enumeration value="IREG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="PENR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason51Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason16Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus55Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingStatusReason16"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatusReason16">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingReason51Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName1">
        <xs:sequence>
            <xs:element name="FrstNm" type="Max350Text"/>
            <xs:element name="Srnm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName2">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element name="FrstNm" type="Max350Text"/>
            <xs:element name="Srnm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedReason29Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason51Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason36Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason58Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus31Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectedStatusReason28"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus36Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectedStatusReason34"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason28">
        <xs:sequence>
            <xs:element name="RsnCd" type="RejectedReason29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason34">
        <xs:sequence>
            <xs:element name="RsnCd" type="RejectedReason36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason51Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="INIR"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="RBIS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="ULNK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason58Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ADDM"/>
            <xs:enumeration value="MCAN"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DREM"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="IPOA"/>
            <xs:enumeration value="IPOS"/>
            <xs:enumeration value="IREG"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NPOS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="RBIS"/>
            <xs:enumeration value="RESN"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SPLT"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LIST"/>
            <xs:enumeration value="NOSL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="ATTC"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="FRWD"/>
            <xs:enumeration value="RCIS"/>
            <xs:enumeration value="REGM"/>
            <xs:enumeration value="STIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
