XSDtoGo/xsd/seev.027.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:11:50, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.027.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.027.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgentCAStandingInstructionStatusAdviceV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8"/>
            <xs:choice>
                <xs:element name="AgtCAStgInstrReqId" type="DocumentIdentification8"/>
                <xs:element name="AgtCAStgInstrCxlReqId" type="DocumentIdentification8"/>
            </xs:choice>
            <xs:element name="StgInstrGnlInf" type="CorporateActionStandingInstructionGeneralInformation1"/>
            <xs:choice>
                <xs:element name="StgInstrReqSts" type="StandingInstructionStatus1Choice"/>
                <xs:element name="StgInstrCxlReqSts" type="StandingInstructionCancellationStatus1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max70Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionEventType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType2FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionCancellationProcessingStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="ProcessedStatus4FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionCancellationRejectionStatus1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason10FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionGeneralInformation1">
        <xs:sequence>
            <xs:element name="StgInstrTp" type="StandingInstructionType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtTp" type="CorporateActionEventType2FormatChoice"/>
            <xs:element name="InstgPtyId" type="PartyIdentification2Choice"/>
            <xs:element name="ClntStgInstrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctDtls" type="IncludedAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="FinancialInstrumentDescription3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionProcessingStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="ProcessedStatus3FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionRejectionStatus1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason20FormatChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AgtCAStgInstrStsAdvc" type="AgentCAStandingInstructionStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentDescription3">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IncludedAccount1">
        <xs:sequence>
            <xs:element name="SctiesAcctId" type="Max35Text"/>
            <xs:element name="InclInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessedStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PACK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessedStatus3FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessedStatus3Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessedStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="PEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessedStatus4FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessedStatus4Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason10FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason10Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="CASA"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="STAN"/>
            <xs:enumeration value="NOHO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason20FormatChoice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason20Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification7">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingInstructionCancellationStatus1Choice">
        <xs:choice>
            <xs:element name="PrcdSts" type="CorporateActionStandingInstructionCancellationProcessingStatus1"/>
            <xs:element name="RjctdSts" type="CorporateActionStandingInstructionCancellationRejectionStatus1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StandingInstructionStatus1Choice">
        <xs:choice>
            <xs:element name="PrcdSts" type="CorporateActionStandingInstructionProcessingStatus1"/>
            <xs:element name="RjctdSts" type="CorporateActionStandingInstructionRejectionStatus1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="StandingInstructionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="SECU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
