XSDtoGo/xsd/seev.032.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 04 11:01:21, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.032.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.032.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CorporateActionEventProcessingStatusAdviceV08">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="DocumentIdentification9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification33"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation154"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="EvtPrcgSts" type="EventProcessingStatus5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventType102Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType34Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformation154">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType102Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative10">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnEvtPrcgStsAdvc" type="CorporateActionEventProcessingStatusAdviceV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification33">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="Max35Text"/>
            <xs:element name="AcctOwnrDocId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EventProcessingStatus5Choice">
        <xs:choice>
            <xs:element name="Cmplt" type="NoSpecifiedReason1"/>
            <xs:element name="Rcncld" type="NoSpecifiedReason1"/>
            <xs:element name="Pdg" type="PendingStatus58Choice"/>
            <xs:element name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSEC"/>
            <xs:enumeration value="NPAY"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="VLDA"/>
            <xs:enumeration value="MCER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason54Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason19Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus58Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingStatusReason18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatusReason18">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingReason54Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
