XSDtoGo/xsd/seev.042.002.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 04 11:09:57, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.042.002.10" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.042.002.10">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification57">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification136Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat32Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnEvtAndBal" type="CorporateActionEventAndBalance21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountPrice5">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat7Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat8"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat9"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledReason11Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancelledStatusReason14"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatusReason14">
        <xs:sequence>
            <xs:element name="RsnCd" type="CancelledReason11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANO"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionBalance45">
        <xs:sequence>
            <xs:element name="TtlElgblBal" type="Quantity22Choice"/>
            <xs:element name="UinstdBal" type="BalanceFormat7Choice"/>
            <xs:element name="TtlInstdBalDtls" type="InstructedBalance15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPosBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OblgtdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="PendingBalance6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="PendingBalance6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventAndBalance21">
        <xs:sequence>
            <xs:element name="GnlInf" type="EventInformation16"/>
            <xs:element name="UndrlygScty" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="CorporateActionBalance45"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventDeadlines4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyRspnDdln" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat54Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDdln" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverPrtctDdln" type="DateFormat49Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventType103Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType34Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionInstructionStatementReport002V10">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination1"/>
            <xs:element name="StmtGnlDtls" type="Statement75"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctAndStmtDtls" type="AccountIdentification57"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMandatoryVoluntary4Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption36Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption11Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionStatementReportingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MASE"/>
            <xs:enumeration value="SAME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionStatementType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="BALO"/>
            <xs:enumeration value="BALI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode22Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode26Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCodeAndTimeFormat4">
        <xs:sequence>
            <xs:element name="DtCd" type="DateCode26Choice"/>
            <xs:element name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat49Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateCode22Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat54Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCdAndTm" type="DateCodeAndTimeFormat4"/>
            <xs:element name="DtCd" type="DateCode22Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateOrDateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="Dt" type="DatePeriod2"/>
            <xs:element name="DtTm" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DefaultProcessingOrStandingInstruction1Choice">
        <xs:choice>
            <xs:element name="DfltOptnInd" type="YesNoIndicator"/>
            <xs:element name="StgInstrInd" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnInstrStmtRpt" type="CorporateActionInstructionStatementReport002V10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EventInformation16">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType103Choice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNtfctnId" type="NotificationIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency26Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification85">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructedBalance15">
        <xs:sequence>
            <xs:element name="TtlInstdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAccptdInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCancInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlRjctdInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPrtctInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnDtls" type="InstructedCorporateActionOption16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructedCorporateActionOption16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption36Choice"/>
            <xs:element name="InstdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltActn" type="DefaultProcessingOrStandingInstruction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnAccptdInstdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnCancInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnPdgInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnRjctdInstrBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnPrtctInstrBal" type="SignedQuantityFormat9"/>
            <xs:element name="EvtDdlns" type="CorporateActionEventDeadlines4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnInstrDtls" type="OptionInstructionDetails6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionProcessingStatus43Choice">
        <xs:choice>
            <xs:element name="Accptd" type="NoSpecifiedReason1"/>
            <xs:element name="Canc" type="CancelledStatus15Choice"/>
            <xs:element name="AccptdForFrthrPrcg" type="NoSpecifiedReason1"/>
            <xs:element name="Rjctd" type="RejectedStatus39Choice"/>
            <xs:element name="Pdg" type="NoSpecifiedReason1"/>
            <xs:element name="PdgCxl" type="PendingCancellationStatus9Choice"/>
            <xs:element name="Cvrd" type="NoSpecifiedReason1"/>
            <xs:element name="Ucvrd" type="NoSpecifiedReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationIdentification6">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionInstructionDetails6">
        <xs:sequence>
            <xs:element name="InstrId" type="RestrictedFINMax15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrSeqNb" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctInd" type="ProtectTransactionType2Code"/>
            <xs:element name="InstrQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="InstrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverPrtctDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BidPric" type="PriceFormat57Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CondlQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrRef" type="RestrictedFINMax30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrNrrtv" type="RestrictedFINXMax350Text"/>
            <xs:element name="InstrSts" type="InstructionProcessingStatus43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingBalance6">
        <xs:sequence>
            <xs:element name="Bal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgTxs" type="SettlementTypeAndIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingCancellationReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DQCS"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingCancellationReason6Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingCancellationReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatus9Choice">
        <xs:choice>
            <xs:element name="NotSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingCancellationStatusReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatusReason9">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingCancellationReason6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceFormat57Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice5"/>
            <xs:element name="NotSpcfdPric" type="PriceValueType10Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceValueType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryQuantity10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity9">
        <xs:sequence>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectTransactionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROT"/>
            <xs:enumeration value="COVP"/>
            <xs:enumeration value="COVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity21Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity22Choice">
        <xs:choice>
            <xs:element name="QtyChc" type="Quantity23Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity23Choice">
        <xs:choice>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities7"/>
            <xs:element name="SgndQty" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason39Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason57Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus39Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectedStatusReason37"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason37">
        <xs:sequence>
            <xs:element name="RsnCd" type="RejectedReason39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason57Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NMTY"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTV"/>
            <xs:enumeration value="OPNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="REFT"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="DQCS"/>
            <xs:enumeration value="DQCC"/>
            <xs:enumeration value="DQAM"/>
            <xs:enumeration value="IRDQ"/>
            <xs:enumeration value="DQBV"/>
            <xs:enumeration value="DQBI"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="INIR"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="BSTR"/>
            <xs:enumeration value="CTCT"/>
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="PROI"/>
            <xs:enumeration value="PROT"/>
            <xs:enumeration value="PRON"/>
            <xs:enumeration value="TRTI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax15Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat32Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText9"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText9">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTypeAndIdentification26">
        <xs:sequence>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element name="TxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat8">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat9">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement75">
        <xs:sequence>
            <xs:element name="StmtTp" type="CorporateActionStatementType2Code"/>
            <xs:element name="RptgTp" type="CorporateActionStatementReportingType1Code"/>
            <xs:element name="StmtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrAggtnPrd" type="DatePeriod2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Max5NumericText"/>
            <xs:element name="StmtDtTm" type="DateAndDateTime2Choice"/>
            <xs:element name="Frqcy" type="Frequency26Choice"/>
            <xs:element name="UpdTp" type="UpdateType16Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnDdlnPrd" type="DateOrDateTimePeriod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
