XSDtoGo/xsd/seev.001.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 Feb 05 12:29:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.001.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.001.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalRight1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WQPS"/>
            <xs:enumeration value="RSPS"/>
            <xs:enumeration value="AIPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalRightCode1Choice">
        <xs:choice>
            <xs:element name="Cd" type="AdditionalRight1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AdditionalRightThreshold1Choice">
        <xs:choice>
            <xs:element name="AddtlRghtThrshld" type="Max35Text"/>
            <xs:element name="AddtlRghtThrshldPctg" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AdditionalRights3">
        <xs:sequence>
            <xs:element name="AddtlRght" type="AdditionalRightCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtInfURLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtMktDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtThrshld" type="AdditionalRightThreshold1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AgentRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="SUBA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Attendance2">
        <xs:sequence>
            <xs:element maxOccurs="7" minOccurs="0" name="AdmssnConds" type="AttendanceAdmissionConditions2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfMktDdln" type="DateFormat58Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttendanceAdmissionConditions2">
        <xs:sequence>
            <xs:element name="Cd" type="AttendanceAdmissionConditions2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttendanceAdmissionConditions2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MASH"/>
            <xs:enumeration value="MASL"/>
            <xs:enumeration value="MAPO"/>
            <xs:enumeration value="MAAL"/>
            <xs:enumeration value="MALR"/>
            <xs:enumeration value="MAHI"/>
            <xs:enumeration value="MATK"/>
            <xs:enumeration value="MADS"/>
            <xs:enumeration value="MANP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CommunicationAddress11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactIdentification1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateEventNarrative3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dsclmr" type="LanguageSpecifiedNarrative1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth2">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CityOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat1">
        <xs:sequence>
            <xs:element name="Dt" type="DateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtMd" type="DateMode1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat3Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtCd" type="DateType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat58Choice">
        <xs:choice>
            <xs:element name="DtOrDtTm" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateMode1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BODY"/>
            <xs:enumeration value="EODY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgNtfctn" type="MeetingNotificationV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligiblePosition9">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification231Choice"/>
            <xs:element maxOccurs="15" minOccurs="0" name="HldgBal" type="HoldingBalance9"/>
            <xs:element maxOccurs="250" minOccurs="0" name="RghtsHldr" type="PartyIdentification233Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Entitlement1Choice">
        <xs:choice>
            <xs:element name="EntitlmntRatio" type="DecimalNumber"/>
            <xs:element name="EntitlmntDesc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EventCompletenessStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="INCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventConfirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="UCON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EventStatus1">
        <xs:sequence>
            <xs:element name="EvtCmpltnsSts" type="EventCompletenessStatus1Code"/>
            <xs:element name="EvtConfSts" type="EventConfirmationStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity18Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance9">
        <xs:sequence>
            <xs:element name="Bal" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element name="BalTp" type="SecuritiesEntryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType45Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IncentivePremium5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element name="Amt" type="PriceRateOrAmount3Choice"/>
            <xs:element name="Tp" type="IncentivePremiumType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IncentivePremiumType2Choice">
        <xs:choice>
            <xs:element name="PerScty" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PerVote" type="VoteTypeAndQuantity1"/>
            <xs:element name="PerAttndee" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IndividualPerson43">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrssgndPrxy" type="PartyIdentification232Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification129Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerAgent3">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification129Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="AgentRole1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerInformation3">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification129Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemDescription1">
        <xs:sequence>
            <xs:element name="Lang" type="ISO2ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Titl" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1025Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LanguageSpecifiedNarrative1">
        <xs:sequence>
            <xs:element name="Lang" type="ISO2ALanguageCode"/>
            <xs:element name="AddtlInf" type="Max8000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocationFormat1Choice">
        <xs:choice>
            <xs:element name="Adr" type="PostalAddress1"/>
            <xs:element name="LctnCd" type="PlaceType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Meeting6">
        <xs:sequence>
            <xs:element name="DtAndTm" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtSts" type="MeetingDateStatus2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QrmReqrd" type="YesNoIndicator"/>
            <xs:element maxOccurs="5" minOccurs="1" name="Lctn" type="LocationFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QrmQty" type="QuorumQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingContactPerson3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification129Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingDateStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNFR"/>
            <xs:enumeration value="TNTA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingEventReference1">
        <xs:sequence>
            <xs:element name="EvtId" type="MeetingEventReference1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingEventReference1Choice">
        <xs:choice>
            <xs:element name="LkdIssrMtgId" type="Max35Text"/>
            <xs:element name="LkdMtgId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MeetingNotice6">
        <xs:sequence>
            <xs:element name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="Tp" type="MeetingType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnncmntDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OneManOneVoteInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prtcptn" type="ParticipationMethod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Attndnc" type="Attendance2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlDcmnttnURLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlPrcdrDtls" type="AdditionalRights3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfSctiesOutsdng" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfVtngRghts" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrxyAppntmntNtfctnAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrxyChc" type="Proxy4Choice"/>
            <xs:element maxOccurs="12" minOccurs="0" name="CtctPrsnDtls" type="MeetingContactPerson3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltPblctnDt" type="DateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesBlckgPrdEndDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitlmntFxgDt" type="DateFormat1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnSctiesDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnSctiesMktDdln" type="DateFormat58Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingNotificationV08">
        <xs:sequence>
            <xs:element name="NtfctnGnlInf" type="NotificationGeneralInformation2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnUpd" type="NotificationUpdate2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="MeetingEventReference1"/>
            <xs:element name="Mtg" type="MeetingNotice6"/>
            <xs:element maxOccurs="5" minOccurs="1" name="MtgDtls" type="Meeting6"/>
            <xs:element name="Issr" type="IssuerInformation3"/>
            <xs:element maxOccurs="10" minOccurs="0" name="IssrAgt" type="IssuerAgent3"/>
            <xs:element maxOccurs="200" minOccurs="1" name="Scty" type="SecurityPosition12"/>
            <xs:element maxOccurs="1000" minOccurs="0" name="Rsltn" type="Resolution5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vote" type="VoteParameters6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PwrOfAttnyRqrmnts" type="PowerOfAttorneyRequirements4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateEventNarrative3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
            <xs:enumeration value="BMET"/>
            <xs:enumeration value="CMET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="VRHI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="IdentificationType45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationGeneralInformation2">
        <xs:sequence>
            <xs:element name="NtfctnTp" type="NotificationType3Code"/>
            <xs:element name="NtfctnSts" type="EventStatus1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrhldrRghtsDrctvInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotificationType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWM"/>
            <xs:enumeration value="REPL"/>
            <xs:enumeration value="RMDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NotificationUpdate2">
        <xs:sequence>
            <xs:element name="PrvsNtfctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcnfrmInstrs" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberOrPercentage1Choice">
        <xs:choice>
            <xs:element name="ThrshldPctg" type="PercentageRate"/>
            <xs:element name="ThrshldNb" type="Number"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParticipationMethod1">
        <xs:sequence>
            <xs:element name="PrtcptnMtd" type="ParticipationMethod1Choice"/>
            <xs:element name="IssrDdlnForVtng" type="DateFormat58Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParticipationMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="VotingParticipationMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification129Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification198Choice">
        <xs:choice>
            <xs:element name="NtlRegnNb" type="Max35Text"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification221">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="PartyIdentification198Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification224">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification198Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification231Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification221"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NtrlPrsn" type="PartyIdentification238"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification232Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification221"/>
            <xs:element name="NtrlPrsn" type="PartyIdentification238"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification233Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="PartyIdentification224"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NtrlPrsn" type="PartyIdentification240"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification238">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element name="Id" type="NaturalPersonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification240">
        <xs:sequence>
            <xs:element name="NmAndAdr" type="PersonName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="NaturalPersonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonName2">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element name="FrstNm" type="Max350Text"/>
            <xs:element name="Srnm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlaceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PowerOfAttorneyLegalisation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTA"/>
            <xs:enumeration value="LOCA"/>
            <xs:enumeration value="APOS"/>
            <xs:enumeration value="COUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PowerOfAttorneyRequirements4">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="0" name="LglRqrmnt" type="PowerOfAttorneyLegalisation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrDcmnttn" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocSubmissnDdln" type="DateFormat58Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount3Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Proxy4Choice">
        <xs:choice>
            <xs:element name="Prxy" type="ProxyAppointmentInformation5"/>
            <xs:element name="PrxyNotAllwd" type="ProxyNotAllowed1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Proxy9">
        <xs:sequence>
            <xs:element name="PrxyTp" type="ProxyType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnDtls" type="IndividualPerson43"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAppointmentInformation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnMtd" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ddln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AuthrsdPrxy" type="Proxy9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProxyNotAllowed1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProxyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="HLDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuorumQuantity1Choice">
        <xs:choice>
            <xs:element name="QrmQty" type="Max35Text"/>
            <xs:element name="QrmQtyPctg" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Resolution5">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Desc" type="ItemDescription1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ListgGrpRsltnLabl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ResolutionType2Code"/>
            <xs:element name="ForInfOnly" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteTp" type="VoteType1Code"/>
            <xs:element name="Sts" type="ResolutionStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmittdBySctyHldr" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RghtToWdrwInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VoteInstrTp" type="VoteInstructionType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MgmtRcmmndtn" type="VoteInstruction5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtifngPtyRcmmndtn" type="VoteInstruction5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Entitlmnt" type="Entitlement1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngRghtsThrshldForApprvl" type="NumberOrPercentage1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResolutionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="WDRA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResolutionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXTR"/>
            <xs:enumeration value="SPCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat28Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SETD"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="UNBA"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="REGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityPosition12">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1000" minOccurs="0" name="Pos" type="EligiblePosition9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteInstruction5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="ONEY"/>
            <xs:enumeration value="THRY"/>
            <xs:enumeration value="TWOY"/>
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="NREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteInstruction6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="ONEY"/>
            <xs:enumeration value="THRY"/>
            <xs:enumeration value="TWOY"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VoteInstructionType1">
        <xs:sequence>
            <xs:element name="VoteInstrTpCd" type="VoteInstructionType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VoteInstructionType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="VoteInstruction6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="VoteMethods3">
        <xs:sequence>
            <xs:element maxOccurs="5" minOccurs="0" name="VoteThrghNtwk" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="5" minOccurs="0" name="VoteByMail" type="PostalAddress1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="ElctrncVote" type="CommunicationAddress11"/>
            <xs:element maxOccurs="5" minOccurs="0" name="VoteByTel" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VoteParameters6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesQtyReqrdToVote" type="FinancialInstrumentQuantity18Choice"/>
            <xs:element name="PrtlVoteAllwd" type="YesNoIndicator"/>
            <xs:element name="SpltVoteAllwd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteMktDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteMthds" type="VoteMethods3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngBlltElctrncAdr" type="CommunicationAddress11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngBlltReqAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltyDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltyMktDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrDsclsr" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyIncntivPrm" type="IncentivePremium5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncntivPrm" type="IncentivePremium5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyVoteWthPrmDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteWthPrmDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteWthPrmMktDdln" type="DateFormat58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlVtngRqrmnts" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstrInvldtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VoteType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVI"/>
            <xs:enumeration value="BNDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VoteTypeAndQuantity1">
        <xs:sequence>
            <xs:element name="VoteInstrTp" type="VoteInstructionType1Choice"/>
            <xs:element name="VoteQty" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VotingParticipationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PHNV"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="VIRT"/>
            <xs:enumeration value="EVOT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
